<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <style>
    .terms-title *, .terms-text * {
      font-size:6pt !important;
    }
    <%= page_size %>
    <%= body_font_family %>
.address-logo .store-address {
    text-align: left;
    vertical-align: top;
    font-size: 11px;
}

.address-logo .store-logo .logo,
img.logo {
    max-width: 200px;
    max-height: 120px;
}
h1 {
    font-size: 25px;
    margin: 2pt 0;
    font-weight: normal;
}
  </style>
</head>
<body>

<div style="display:none" class="document-header">
  <%= header_text %>
</div>

<div style="display:none" class="document-footer">
  <%= footer_text %>
</div>

<div class="address-logo">
  <table>
    <tr>
      <td class="store-address <%= "stamp-container" if is_paid? %>">
        <p><b><%= store_name %></b></p>
        <%if store_address_street%><p><%= store_address_street %>,</p><%end%>
        <%if store_address_street1%><p><%= store_address_street1 %>,</p><%end%>
        <%if store_address_city%><p><%= store_address_city %>,<%end%> <%if store_address_state %> <%= store_address_state%><%end%>
        <%if store_address_zip %> <%= store_address_zip%></p><%end%>
        <% if store_email%><p>e: <%=store_email%></p><%end%>
        <% if store_phone%><p>t: <%=store_phone%></p><%end%>
        <% if is_paid? %>
            <p class="stamp">
              <image src="<%= "#{Rails.root}/app/assets/images/pages/stamp-paid-big.png" %>" alt="Paid"/>
            </p>
        <% end %>
      </td>
      <td class="store-logo">
        <h1 class="main-title">Delivery note</h1>
      </td>
      <td class="store-logo">
        <img class="logo" src="<%= logo %>">
      </td>
    </tr>
  </table>
</div>

<div class="summary">
  <table>
    <tr>
      <td class="summ left">
        <div class="summary-wrapper">
          <h1 class="main-title"><%= name %> #<%= txn_number_only %> <br/>
          </h1>
        </div>
      </td>
    </tr>
  </table>
</div>


<div class="addresses">
  <table>
    <tr>
      <td class="address left">
        <div class="address-wrapper">
          <p class="title"><%= ordered_by_header %></p>

          <p style="font-size: 13pt"><%= sold_to %></p>
        </div>
      </td>
      <td class="address left">
        <div class="address-wrapper">
          <p class="title"><%= contact_information_header %></p>

<%if @object.primary_contact&.phones %>
  <p style="font-size: 13pt"><%= @object.primary_contact.try(:name) %></p>
<p style="font-size: 13pt"><%= format_phone_pdf(@object.account, @object.primary_contact.try(:phone), extension: @object.primary_contact.try(:ext)) %></p><%end%>
        
        </div>
      </td>
      <td class="address left">
        <% if term_code %>
              <p class="title"><%= term_code_header %></p>
              <p style="font-size: 13pt"><%= term_code %></p>
          <% end %>
      </td>
      <% if (shipping_address_type != 'DropShip' && sold_to(show_company_name = false).present?) || shipping_tracking.present? ||  (shipping_information.present? && ui_field_visibility('sales_order/shipping_address_id') )  || shipment_details.present? %>
        <td class="address left">
          <div class="address-wrapper">
            <p class="title"><%= shipping_information_header %></p>

            <% if shipping_address_type != 'DropShip' %>
                <%= sold_to(show_company_name = false) %>
            <% end %>
               <p style="font-size: 13pt"><%= shipping_information %></p>
            </p>
            <p><%= shipment_details %></p>
            <%if shipping_tracking.present? %>
             <br/>
             <p class="title"><%= shipping_tracking_header%></p>
             <%= shipping_tracking %>
            <% end %>
          </div>
        </td>
      <% end %>
       <% if ui_field_visibility('sales_order/installing_address_id') and installing_information.present? %>
      <td class="address left">
        <div class="address-wrapper">
          <p class="title"><%= installing_information_header %></p>
          <%= installing_information %></p>
        </div>
      </td>
      <% end %>
    </tr>
  </table>
</div>


<div class="line-items">
  <!--<h2 class="title"><%= items_header %></h2>-->
  <table>
    <thead>
    <tr>
      <th class="position">
        <div class="first">#</div>
      </th>
      <th class="name"><%= item_header %></th>
      <th class="quantity">
        <div class="last"><%= qty_header %></div>
      </th>
    </tr>
    </thead>

    <% items.each_with_index do |item, index| %>
        <tbody class='no-page-break'>
        <tr>
          <td class="position" rowspan="2">
            <div class="first">
              <%= index + 1 %>
            </div>
          </td>
          <td class="name"><%= item.name %></td>
          <td class="quantity">
            <div class="last"><%= number_with_precision(item.quantity, precision: 5, strip_insignificant_zeros: true) %>
            </div>
          </td>
        </tr>
        <tr>
          <td class="description" colspan="1">
            <% if item.table_view %>
                <div class="shippers-invoice-pdf-grid-view">
                  <div class="text--pre-line li-desc-fixed-width">
                    <%= item.li_grid_html_view(hide_prices: true) %>
                  </div>
                </div>
            <% else %>
                <div class="last text--pre-line li-desc-fixed-width">
                  <%= item.description %>
                </div>
            <% end %>

            <% if item.show_custom_fields(item.description_hash[:custom_fields])&& item.table_view %>
                <hr class="custom-field-separator">
                <%= item.generate_custom_field_values(item.description_hash[:custom_fields]) %>
                <hr class="custom-field-separator">
            <% end %>

            <% if item.product_picture_assets.count > 0 %>
              <% item.product_picture_assets.each do |asset| %>
                <img src="<%= asset.file_url %>" class="line-item-description-image">
              <% end %>
            <% end %>

            <% if item.product_image %>
              <img src="<%= item.product_image %>" class="line-item-description-image">
            <% end %>

            <% if item.table_view %>
              <div class="text--pre-line li-desc-fixed-width">
                <%= item.li_grid_html_view(show_child_items: true) %>
              </div>
            <% end %>
          </td>
        </tr>
        </tbody>
    <% end %>

    <tfoot class="no-page-break">
    </tfoot>
  </table>
</div>

<% if customer_note.present? %>
    <div class="note">
      <table class="no-page-break">
        <thead>
        <tr>
          <td><%= customer_note_header %></td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= customer_note %></td>
        </tr>
        </tbody>
      </table>
    </div>
<% end %>

<!-- Cover Note -->
<% if cover_note.present? %>
    <div class="note">
      <table class="no-page-break">
        <thead>
        <tr>
          <th><%= cover_note_header %></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= cover_note %></td>
        </tr>
        </tbody>
      </table>
    </div>
<% end %>

<!-- Signature Note -->
<!-- Signature Note -->
<div class="footer-bottom">
  <div class="note">
  <table>
    <tbody>
    <tr>
      <td>
        <%= received_header %>
      </td>
    </tr>
    </tbody>
  </table>
</div><br>
  <div class="section">
    <div class="footer-bottom-left full-width">
      <div class="terms-text">
        <%= terms_conditions %>
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <div class="section section--border-bottom">
    <div class="signature terms">
      <table>
        <tbody>
        <tr>
          <td class="handwriting text--up"><%= signature_header %>:</td>
          <td class="date text--up "><%= date_header %>:</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

</body>
</html>
