<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Job PDF</title>
      <style>
         <%= page_size %>
         <%= body_font_family %>
         .box--default.box--border .box__content {
         border: none;
         }
         .box--grey.box--border .box__content {
         border: none;
         }
         .box--default .box__title {
         background: #1AC422;
         color: #fff;
         }
         .box--grey.box--border .box__content {
         border: none;
         }
         .box--grey .box__title {
         background: #CDE7CA;
         color: #000;
         }
         .qr--default .qr__status {
         color: #1AC422;
         }
         .box__content-proof-img {
         height: 29.4em;
         width: 100%;
         display: table;
         background: #CDE7CA;
         }
         .table--bom th {
         text-align: left;
         background: #1AC422;
         border: solid 0.1em #1AC422;
         }
         table--bom th,
         .table--bom td {
         border: solid 0.1em #1AC422;
         }
         .table--bom-total {
         text-align: right;
         background: #1AC422;
         font-weight: bold;
         }
         .job-pdf__workflow ol i {
         display: inline-block;
         width: 4em;
         height: 0.15em;
         background: #1AC422;
         }
         .job-pdf__workflow--default .job-pdf__workflow-title {
         background: #1AC422;
         color: #fff;
         }
.table--striped > tbody > tr:nth-of-type(odd) {
    background-color: #CDE7CA;
}
      </style>
   </head>
   <body>
      <div class="job-pdf" id="page-job-new">
      <!-- INFO -->
      <div class="job-section job-pdf__info">
         <div class="container">
            <div class="row">
               <div class="col-6">
                  <h1 class="job-pdf__info-title">
                     <strong><%= title %></strong><br>
                     <% if re_design? %>
                     <span class="job-virtual-step">Re-Design</span>
                     <% end %>
                  </h1>
               </div>
               <div class="col-2">
                  <p><strong><%= due_header %>:  <%= due_date %></strong></p>
               </div>
               <div class="col-2">
                  <p>
                     <strong><%= order_type %># <%= order_number %></strong><br>
                     <% if related_quotes.present? %>
                     <strong><%= related_quotes %></strong>
                     <% end %>
                  </p>
               </div>
               <div class="col-2">
                  <p style="float: right;"><% if print_line_item_in_job_pdf %>
                     <%= line_item_number_position %>
                     <% end %>
                  </p>
               </div>
               <!--<div class="col-1">-->
               <!--<p class="text&#45;&#45;right">1 of <strong>2</strong></p>-->
               <!--</div>-->
            </div>
         </div>
      </div>
      <!-- RUSH -->
      <% if job_rush %>
      <div class="job-section job-section--mb-none">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <p class="job-rush"><%= job_rush_text %></p>
               </div>
            </div>
         </div>
      </div>
      <% end %>
      <!-- COMPANY -->
      <div class="job-section job-pdf__company" style="margin-bottom: 0em;">
         <div class="container">
            <div class="row">
               <div class="col-6">
                  <div class="box box--default box--border">
                     <div class="box__title">
                        <p><%= customer_header %>: <strong><%= company_name %></strong></p>
                     </div>
                     <div class="box__content">
                        <p>
                           <%= contact_info %>
                        </p>
                     </div>
                  </div>
               </div>
               <div class="col-4">
                  <div class="box box--default box--border box--sm" style="border: solid 0.15em #000;">
                     <div class="box__content">
                        <table class="table table--list text--sm">
                           <tbody>
                              <tr>
                                 <td><%= in_hand_date_header %>:</td>
                                 <td><strong><%= in_hand_date %></strong></td>
                              </tr>
                              <tr>
                                 <td><%= art_due_date_header %>:</td>
                                 <td><strong><%= art_due_date %></strong></td>
                              </tr>
                              <tr>
                                 <td>Production Due:</td>
                                 <td><strong><%= production_due_date %></strong></td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <div class="box__content" style="border-top: solid 0.15em #000;">
                        <table class="table table--list text--sm">
                           <tbody>
                              <tr>
                                 <td><%= customer_po_header %>:</td>
                                 <td><strong><%= customer_po %></strong></td>
                              </tr>
                              <tr>
                                 <td><%= sales_rep_header %>:</td>
                                 <td><strong><%= sales_rep_name %></strong></td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <div class="col-2">
                  <div class="box box--default box--border" style="border: solid 0.15em #000;">
                     <div class="box__content">
                        <div class="qr qr--default">
                           <div class="qr__code">                    
                              <%= qr_code.as_svg %>               
                           </div>
                           <div class="qr__status">
                              <p>
                                 <strong>In progress</strong>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- SHIPPING -->
      <div class="job-section job-pdf__shipping" style="margin-top: -2.8em;">
         <div class="container">
            <div class="row">
               <div class="col-6">
                  <div class="box box--default box--border">
                     <div class="box__title">
                        <p><%= shipping_to_header %>:</p>
                     </div>
                     <div class="box__content">
                        <div class="row">
                           <div class="col-6">
                              <address>
                                 <%= shipping_information %>
                              </address>
                           </div>
                           <div class="col-6">
                              <table class="table table--list">
                                 <tbody>
                                    <tr>
                                       <td class="text--nowrap"><%= shipping_method_header %>:</td>
                                       <td><strong><%= shipping_method %></strong></td>
                                    </tr>
                                    <tr>
                                       <td><%= shipping_date_header %>:</td>
                                       <td><strong><%= shipping_date %></strong></td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-6" style="margin-top: 0.8em;">
                  <div class="box__content">
                     <div class="row">
                        <div class="col-4">
                           <p><%= qty_header %>:</p>
                        </div>
                        <div class="col-8">
                           <p style="font-size: 14pt;"><strong><%= quantity %></strong></p>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-3">
                           <p><%= local_file_header %>:</p>
                        </div>  
                        <div class="col-9">
                           <p style="font-size: 12pt;"><strong><%= local_file_path %></strong></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- DETAILS -->
         <div class="job-section job-pdf__details"  style="margin-top: 0em;">
            <div class="container">
               <div class="row">
                  <div class="col-6">
                     <div class="box box--grey box--border box--margin-top">
                        <div class="box__title">
                           <div class="row">
                              <div class="col-6">
                                 <p><%= production_details_header %>:</p>
                              </div>
                              <div class="col-6">
                                 <p><%= design_details_header %>:</p>
                              </div>
                           </div>
                        </div>
                        <div class="box__content">
                           <div class="row">
                              <div class="col-6">
                                 <p>
                                    <%= production_details %>
                                 </p>
                              </div>
                              <div class="col-6">
                                 <p>
                                    <%= design_details %>
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="box box--grey box--border">
                        <div class="box__title">
                           <div class="row">
                              <div class="col-12">
                                 <p><%= special_instruction_header %>:</p>
                              </div>
                           </div>
                        </div>
                        <div class="box__content">
                           <div class="row">
                              <div class="col-6">
                                 <p>
                                    <%= special_instruction %>
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="box box--grey box--border">
                        <div class="box__title"><%= job_description_header %>:</div>
                        <div class="box__content">
                           <p>
                              <%= description %>
                           </p>
                           <%= job_panel_items_table %>
                        </div>
                     </div>
                     <% if pa_items.size > 0 %>
                     <div class="box box--grey box--border">
                        <div class="box__title" style="background: #1AC422;color: #fff;"><%= item_attributes_header %></div>
                        <div class="box__content">
                           <table class="table table--no-border table--no-padding">
                              <tbody>
                                 <%= pa_table %>
                              </tbody>
                           </table>
                        </div>
                     </div>
                     <% end %>
                     <% if has_pricing? %>
                     <div class="job-section job-pdf__bom">
                        <div class="container" style="padding-left: 0em;padding-right: 0em;">
                           <div class="row">
                              <div class="col-12">
                                 <div class="box box--white box--no-padding">
                                    <div class="box__title"><%= bom_header %>:</div>
                                    <div class="box__content">
                                       <% if apparel_ui? %>
                                       <%= apparel_item_table %>
                                       <% else %>
                                       <table class="table table--bom">
                                          <thead>
                                             <th><%= bom_name_header %></th>
                                             <th><%= bom_qty_header %></th>
                                             <th><%= bom_attr1_header %></th>
                                             <th><%= bom_attr2_header %></th>
                                          </thead>
                                          <tbody>
                                             <%= materials_bom_table(true) %>
                                          </tbody>
                                          <% if labor_table != "" || machine_table != "" %>
                                          <tbody>
                                             <%= labor_table %>
                                          </tbody>
                                          <tbody>
                                             <%= machine_table %>
                                          </tbody>
                                          <% end %>              
                                       </table>
                                       <% end %>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <% end %>
                  </div>
                  <div class="col-6">
                     <div class="box box--grey box--border" style="border: solid 0.05em #1AC422;">
                        <div class="box__content box__content-proof-img text--center">
                           <div>
                              <img src="<%= proof_image(500,300) %>">
                           </div>
                        </div>
                        <div>
                           <%= proof_local_file_path %>
                        </div>
                        <div class="box__title">
                           <%= proof_footer %>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- BOM -->
         <!-- LINE ITEMS - DESCRIPTION -->
         <!-- WORKFLOW -->
         <% if show_workflow_on_pdf %>
<div class="no-page-break">
         <div class="job-section job-pdf__workflows">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <div class="box box--white box--no-padding">
                        <div class="box__title"><strong><%= workflow_header %>: <%= template_name %></strong></div>
                        <div class="box__content">
                           <div class="job-pdf__workflows">
                              <% stages.each do |stage| %>
                              <div class="job-pdf__workflow job-pdf__workflow--default">
                                 <div class="job-pdf__workflow-title">
                                    <p><strong><%= stage.name %></strong></p>
                                 </div>
                                 <div class="job-pdf__workflow-content">
                                    <ol>
                                       <% stage.steps.each do |step| %>
                                       <li>
                                          <span class="clearfix">
                                          <span>
                                          <strong><%= step.name %></strong>
                                          </span>
                                          <span class="element--right">
                                          <em><%= step.assigned_to_user_initials %></em>
                                          <time><%= step.date %></time>
                                          <i></i>
                                          </span>
                                          </span>
                                       </li>
                                       <% end %>
                                    </ol>
                                 </div>
                              </div>
                              <% end %>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <% end %>
      </div>
 </div>
   </body>
</html>

