<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
      <style>
         .terms-title *, .terms-text * {
         font-size:6pt !important;
         }

         <%= page_size %>
         .address-font{
         font-size: 12pt;
         color: rgb(151,151,151);
         vertical-align: top;
         }

         .address-logo {
         padding: 50pt 35pt 5pt 35pt;
         border-bottom: 0px;
         }

         .orderby{
         padding: 10pt 0pt 0pt 50pt;
         color: rgb(54,54,54);
         font-size: 11pt;
         }

         .phone-padding{
         padding: 0pt 35pt 0pt 0pt;
         }

         .invoice-no{
         padding: 10pt 0pt 0pt 50pt;
         text-align: left;
         color: rgb(54,54,54);
         font-size: 11pt;
         }

         .invoice-date{
         padding: 0pt 35pt 0pt 0pt;
         text-align: right;
         color: rgb(54,54,54);
         font-size: 11pt;
         }
         
         .li-end{
         border-top: 1px solid #e3e3e3;
         }
      </style>
   </head>
   <body>
      <div style="display:none" class="document-footer">
         <%= footer_text %>
      </div>
      <div class="address-logo">
         <table>
            <tr>
               <td class="store-logo" width="45%" >
                  <img class="logo" src="<%= logo %>" align = "left">
               </td>
               <td  width="5%">
               </td>
               <td class="address-font" width="30%" >
                  <div align = "right">
                     <%= store_name %><br>
                     <%= store_address_only %><br>
                  </div>
               </td>
            </tr>
         </table>
      </div>
      <table cellpadding="3" >
         <tr>
            <td width="45%" height="80" >
               <table cellpadding="3" >
                  <tr>
                     <td class = "orderby">
                        <p><b><%= sold_to %></b></p>
                        <p><%= billing_information %></p>
                     </td>
                  </tr>
               </table>
            </td>
            <td  width="5%">
            </td>
            <td class="address-font" width="45%" height="80" align = "right" >
               <div class="phone-padding">
                  <% if store_phone %>
                  TELEPHONE <br>
                  <%= store_phone %>
                  <br>
                  <% end %>
                  <br>
                  <% if store_email %>EMAIL <br>
                  <%= store_email %>
                  <%end%>
                  <% if store_fax %>
                  FAX <br> 
                  <%= store_fax %>
                  <%end%>
               </div>
            </td>
         </tr>
      </table>
      <table>
         <tr>
            <td class="invoice-no" >
               <b> <font size="6" > Invoice No: <%= txn_number_only %> </font> </b> 
               <br> 
               Invoice Due Date: <b><%= due_date %></b>
            </td>
            <td class="invoice-date">
               Invoice Date: <%= invoice_date %> <br>
               Ordered By: <%= contact_information %>
            </td>
         </tr>
      </table>
      <div class="line-items">
         <!--<h2 class="title"><%= items_header %></h2>-->
         <table>
            <thead>
               <tr>
                  <th class="position">
                     <div class="first">#</div>
                  </th>
                  <th class="name" colspan="2"><%= item_header %></th>
                  <th class="quantity" colspan="0"><%= qty_header %></th>
                  <th class="quantity" colspan="0"><%= uom_header %></th>
                  <th class="money"><%= unit_price_header %></th>
                  <th class="money">
                     <div class="last"><%= total_excl_header %></div>
                  </th>
               </tr>
            </thead>
            <tbody class=''>
               <% items.each_with_index do |item, index| %>
               <tr class="li-end">
                  <td class="position" rowspan="2">
                     <div class="first">
                        <%= index + 1 %>
                     </div>
                  </td>
                  <td class="name" colspan="2"><%= item.name %></td>
                  <td class="quantity"><%= item.quantity %></td>
                  <td class="quantity"><%= item.uom %></td>
                  <td class="money"><%= item.unit_price %></td>
                  <td class="money">
                     <div class="last">
                        <%= item.total_price %>
                     </div>
                  </td>
               </tr>
               <tr>
                  <td class="description" colspan="1">
                     <% if item.table_view %>
                     <div class="last text--pre-line li-desc-fixed-width">
                        <%= item.li_grid_html_view %>
                     </div>
                     <% else %>
                     <div class="last text--pre-line li-desc-fixed-width">
                        <%= item.description %>
                     </div>
                     <% end %>
                     <% if item.show_custom_fields(item.description_hash[:custom_fields])&& item.table_view %>
                     <hr class="custom-field-separator">
                     <% item.description_hash[:custom_fields].each do |cfv| %>
                     <% if (cfv[:value] != nil && cfv[:value] != '' && cfv[:show_custom_fields_on_customer_pdf] != false) || cfv[:field_type] == 'separator' %>
                     <%= "<strong>#{cfv[:category]}</strong><br>" if cfv[:category] != "" %>
                     <%= "#{cfv[:name]}: #{cfv[:value]} <br>" %>
                     <% end %>
                     <% end %>
                     <hr class="custom-field-separator">
                     <% end %>
                     <img src="<%= item.product_image %>" class="line-item-description-image">
                  </td>
               </tr>
               <% end %>
            </tbody>
            <!--<tfoot class="no-page-break tfoot-one">-->
            <!--<tr>-->
            <!--<td colspan="6" class="labels first">-->
            <!--<p><%= subtotal_header %></p>-->
            <!--<% if show_tax  %>-->
            <!--<p><%= total_tax_header %></p>-->
            <!--<% end %>-->
            <!--<p><%= final_price_header %></p>-->
            <!--<p><%= credits_header %></p>-->
            <!--<p><%= paid_header %></p>-->
            <!--<p><%= net_due_header %></p>-->
            <!--</td>-->
            <!--<td class="money last">-->
            <!--<p><%= sub_total %></p>-->
            <!--<% if show_tax  %>-->
            <!--<p><%= total_tax %></p>-->
            <!--<% end %>-->
            <!--<p><%= final_price %></p>-->
            <!--<p><%= credits %></p>-->
            <!--<p><%= paid %></p>-->
            <!--<p><%= net_due %></p>-->
            <!--</td>-->
            <!--</tr>-->
            <!--</tfoot>-->
         </table>
      </div>
      <% if has_payments? %>
      <div class="line-items">
         <!--<h2 class="title"><%= payments_header %></h2>-->
         <table>
            <thead>
               <tr>
                  <th class="position" colspan="2">
                     <div class="first">#</div>
                  </th>
                  <th class="name" colspan="2"><%= paid_on_header %></th>
                  <th class="state"><%= payment_method_header %></th>
                  <th class="money">
                     <div class="last"><%= payment_amount_header %></div>
                  </th>
               </tr>
            </thead>
            <tbody class='no-page-break'>
               <% payments.each_with_index do |payment, index| %>
               <tr>
                  <td class="position" colspan="2">
                     <div class="first">
                        <%= index + 1 %>
                     </div>
                  </td>
                  <td class="name" colspan="2"><%= payment.paid_on %></td>
                  <td class="state"><%= payment.payment_details %></td>
                  <td class="money">
                     <div class="last">
                        <%= payment.amount %>
                     </div>
                  </td>
               </tr>
               <% end %>
            </tbody>
            <!--<tfoot class="no-page-break">-->
            <!--<tr>-->
            <!--<td colspan="6" class="labels first">-->
            <!--<p><%= payment_total_header %></p>-->
            <!--<p><%= payment_balance_due_header %></p>-->
            <!--</td>-->
            <!--<td class="money last">-->
            <!--<p><%= total_paid %></p>-->
            <!--<p><%= balance %></p>-->
            <!--</td>-->
            <!--</tr>-->
            <!--</tfoot>-->
         </table>
      </div>
      <% end %>
      <!-- Cover Note -->
      <% if cover_note.present? %>
      <div class="note">
         <table class="no-page-break">
            <thead>
               <tr>
                  <th><%= cover_note_header %></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><%= cover_note %></td>
               </tr>
            </tbody>
         </table>
      </div>
      <% end %>
      <!-- Signature Note -->
      <div class="footer-bottom">
         <div class="section">
            <div class="footer-bottom-left">
               <div class="terms-text">
                  <%= terms_conditions %>
               </div>
            </div>
            <div class="footer-bottom-right">
               <table>
                  <tbody>
                     <tr>
                        <td class="labels first footer-subtotal">
                           <p><strong><%= subtotal_header %>:</strong></p>
                           <% if show_tax  %>
                           <p><strong><%= total_tax_header %> (<%= tax_rate %>):</strong></p>
                           <% end %>
                           <p class="footer-total"><strong><%= final_price_header %>:</strong></p>
                           <% if has_payments? %>
                           <p>&nbsp;</p>
                           <p><strong><%= payment_total_header %>:</strong></p>
                           <p><strong><%= payment_balance_due_header %>:</strong></p>
                           <% end %>
                        </td>
                        <td class="money last footer-subtotal">
                           <p><strong><%= sub_total %></strong></p>
                           <% if show_tax  %>
                           <p><strong><%= total_tax %></strong></p>
                           <% end %>
                           <p class="footer-total"><strong><%= final_price %></strong></p>
                           <% if has_payments? %>
                           <p>&nbsp;</p>
                           <p><strong><%= total_paid %></strong></p>
                           <p class="footer-total"><strong><%= balance %></strong></p>
                           <% end %>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="clearfix"></div>
         </div>
         <% if has_tax_split? and show_tax_split? %>
         <div class="split-tax">
            <h4>Split Taxes</h4>
            <table class="split-tax-table">
               <tbody>
                  <tr>
                     <% tax_split.each do |name, rate| %>
                     <th><%= name %>(<%= rate %>%)</th>
                     <td><%= tax_subtotal(rate.to_f) %></td>
                     <% end %>
                  </tr>
               </tbody>
            </table>
         </div>
         <% end %>
         <div class="section section--border-bottom">
            <div class="signature terms">
               <table>
                  <tbody>
                     <tr>
                        <td class="handwriting text--up text--bold"><%= signature_header %>:</td>
                        <td class="date text--up text--bold"><%= date_header %>:</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </body>
</html>