<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <style>
      .terms-title *, .terms-text * {
          font-size:6pt !important;
      }
      <%= page_size %>
      <%= body_font_family %>
  </style>
</head>
<body>
<div style="display:none" class="document-header">
  <%= header_text %>
</div>
<!-- Footer Text for Page footter-->
<div style="display:none" class="document-footer">
  <%= footer_text %>
</div>

<!-- Store Address and Logo -->
<div class="address-logo">
  <table>
    <tr>
      <td>
        <div class="summary">
  <table>
    <tr>
      <td class="summ left">
        <div class="summary-wrapper">
      <h1 class="main-title">
        <p class="title" style="font-size: 21pt;"><%= description %></p>
            <small><%= name %></small>
          </h1>
        </div>
      </td>
      <td class="summ right">
        <div class="summary-wrapper">
          <p class="title"><%= expected_delivery_date_header %></p>
          <p><%= expected_delivery_date %></p>
        </div>
      </td>
      <td class="summ right">
        <div class="summary-wrapper">
          <p class="title"><%= po_date_header %></p>
          <p><%= po_date %></p>
        </div>
      </td>
    </tr>
  </table>
</div>
      </td>
      <td class="store-logo">
        <img class="logo" src="<%= logo %>">
      </td>

    </tr>
  </table>
</div>


<div class="addresses">
  <table>
    <tr>
      <td class="address left">
        <div class="address-wrapper">
          <p class="title"><%= ordered_from_header %></p>

          <p><%= sold_to %></p>
          <p><%= vendor_address %></p>
        </div>
      </td>
      <% if drop_ship_to.present? || shipping_information.present?  %>
        <td class="address left">
          <div class="address-wrapper">
            <p class="title"><%= shipping_information_header %></p>
            <% if drop_ship_to.present? %>
             <%= drop_ship_to %>
            <% else %>
              <!--<p><%= store_name %></p>-->
            <% end %>
            <p><%= shipping_information %></p>
          </div>
        </td>
      <% end %>
      <td class="address left">
        <div class="address-wrapper">
          <p class="title"><%= contact_information_header %></p>

          <p><%= contact_information %></p>
        </div>
      </td>
    </tr>
  </table>
</div>

<!-- Items Table -->

<div class="line-items">
  <!--<h2 class="title"><%= items_header %></h2>-->
  <table>
    <thead>
    <tr>
      <th class="position">
        <div class="first">#</div>
      </th>
      <th class="name" colspan="2"><%= item_header %></th>
      <th class="quantity" colspan="0"><%= qty_header %></th>
      <th class="money"><%= unit_price_header %></th>
      <th class="money">
        <div class="last">TOTAL</div>
      </th>
    </tr>
    </thead>

    <tbody class=''>
    <% items.each_with_index do |item, index| %>
      <tr>
        <td class="position" rowspan="2">
          <div class="first">
            <%= index + 1 %>
          </div>
        </td>
        <td colspan="2" >
          <div class="name" style="color:red;">
            <%= item.name %>
          </div>
          <div>
            <% unless item.part_number.blank? %>
                <strong>Part#:</strong> <%= item.part_number %>
            <% end %>
            <% unless item.part_name.blank? %>
                <strong>Vendor Part Name:</strong> <%= item.part_name %>
            <% end %>
            <% unless item.item_attr1.blank? %>
                <strong><%= item.item_attr_name1 %>:</strong> <%= item.item_attr1 %>
            <% end %>
            <% unless item.item_attr2.blank? %>
                <strong><%= item.item_attr_name2 %>:</strong> <%= item.item_attr2 %>
            <% end %>
          </div>
        </td>
        <td class="quantity"><%= number_with_precision(item.quantity, precision: 5, strip_insignificant_zeros: true) %></td>
        <td class="money"><%= item.unit_price %></td>
        <td class="money">
          <div class="last">
            <%= item.total_price %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="description" colspan="6">
          <div class="last text--pre-line li-desc-fixed-width">
            <%= item.format_description(html: true) %>
            <% if item.product_image %>
              <img src="<%= item.product_image %>" class="line-item-description-image">
            <% end %>

            <%= item.notes %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>

    <!--<tfoot class="no-page-break tfoot-one">-->
    <!--<tr>-->
      <!--<td colspan="6" class="labels first">-->
        <!--<p><%= subtotal_header %></p>-->

        <!--<% if show_tax  %>-->
          <!--<p><%= total_tax_header %></p>-->
        <!--<% end %>-->

        <!--<p><%= final_price_header %></p>-->
      <!--</td>-->
      <!--<td class="money last">-->
        <!--<p><%= sub_total %></p>-->

        <!--<% if show_tax  %>-->
          <!--<p><%= total_tax %></p>-->
        <!--<% end %>-->
       <!---->
        <!--<p><%= final_price %></p>-->
      <!--</td>-->
    <!--</tr>-->
    <!--</tfoot>-->
  </table>
</div>


<!-- Internal Note -->
<% if internal_note.present? %>
  <div class="note">
    <table class="no-page-break">
      <thead>
      <tr>
        <td><%= internal_note_header %></td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= internal_note %></td>
      </tr>
      </tbody>
    </table>
  </div>
<% end %>

<!-- Cover Note -->
<% if cover_note.present? %>
  <div class="note">
    <table class="no-page-break">
      <thead>
      <tr>
        <td><%= cover_note_header %></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= cover_note %></td>
      </tr>
      </tbody>
    </table>
  </div>
<% end %>

<!-- Signature Note -->
    <div class="section">
        <div class="footer-bottom-left">
            <div class="terms-text" >
                <%= terms_conditions %>
            </div>
        </div>
        <div class="footer-bottom-right">
            <table>
                <tbody>
                <tr>
                    <td class="labels first footer-subtotal">
                        <p class="footer-total"><strong><%= final_price_header %>:</strong></p>
                    </td>
                    <td class="money last footer-subtotal">
              
                        <p class="footer-total"><strong><%= final_price %></strong></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </div>
</body>
</html>
