<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <style>
      .terms-title *, .terms-text * {
          font-size:6pt !important;
      }
      <%= page_size %>

      @page {
    margin: 105pt 0pt 103pt 0pt;
      @top {
    content: url(http://content.screencast.com/users/LaxmiKanth1234/folders/Default/media/d93c6293-42fa-417f-b86c-ade8f75ac2b0/header.png);
           }
      @bottom { 
   content: url(http://content.screencast.com/users/LaxmiKanth1234/folders/Default/media/2a1fcb20-548a-426c-bfab-c79352e1a31a/footer.png);
      }   
     @bottom-right {
          content: " ";
                    }
             }

  .address-table{
    margin: 5pt 30pt 5pt 30pt;
  }

  .line-items .name1 {
    text-align: left;
    /*padding-left: 35pt;*/
}
.line-items .last {
   /* padding-right: 35pt;*/
   padding-right: 0pt;
}
.line-items .description {
    padding: 2pt 5pt 5pt 5pt;
}
.line-items {
    margin: 5pt 30pt 5pt 30pt;
}


  </style>
</head>
<body>

<table class="address-table" border="1" cellpadding="4">
  <tr><td align="right" colspan="4"><font size =4><b>TAX INVOICE</b></font></td></tr>
  <tr><td width="33%"><b>SHIP TO:</b></td><td width="33%"><b> BILL TO:</b></td><td width="33%" align="center" colspan="2"><font color="red"><b>Due Date : <%= due_date %></b></font></td></tr>
  <tr><td width="33%">
    <p><%= contact_information %></p>
      <% if shipping_address_type != 'DropShip' %>
            <%= sold_to %><br />
          <% end %>
          <%= shipping_information %></p>
  </td><td width="33%">
    <%= contact_information %>
     <p><%= sold_to %></p>
    <p><%= billing_information %></p>
  </td>
  <td align="right"><p>Invoice Date </p><br><p>Invoice # </p> <%if po_number %><br> <p> P.O #</p><%end%></td> <td align="left"> <p><%= invoice_date %></p><br><p><%= txn_number_only%></p> <%if po_number %><br><p><%= po_number %></p><%end%></td></tr>
</table>


<div class="line-items">
  <!--<h2 class="title"><%= items_header %></h2>-->
  <table >
    <thead>
    <tr>
      <th class="name1">Item code</th>
      <th class="quantity" ><%= qty_header %></th>
      <th  colspan="2" align="left">DESCRIPTION</th>
      <th class="money"><%= unit_price_header %></th>
      <% if show_discounts && total_discount_price != 0.0 %>
       <th class="quantity"><%= discount_header %> </th>
       <th class="quantity"><%= discount_price_header %> </th>
      <% end %>
          <th>
            GST
          </th>
      <th class="money">
        <div class="last">TOTAL</div>
      </th>

    </tr>
    </thead>

    <tbody class=''>
    <% items.each_with_index do |item, index| %>
        <tr>
          <td class="name1" ><%= item.name %></td>
          <td class="quantity"><%= item.quantity %></td>
          <td class="description" colspan="2">

            <% if item.table_view %>
              <div class="last text--pre-line li-desc-fixed-width">
                <%= item.li_grid_html_view %>
              </div>
            <% else %>
              <div class="last text--pre-line li-desc-fixed-width">
                <%= item.description %>
              </div>
            <% end %>
            <% if item.show_custom_fields(item.description_hash[:custom_fields])&& item.table_view %>
              <hr class="custom-field-separator">
              <% item.description_hash[:custom_fields].each do |cfv| %>
                    <% if (cfv[:value] != nil && cfv[:value] != '' && cfv[:show_custom_fields_on_customer_pdf] != false) || cfv[:field_type] == 'separator' %>
                      <%= "<strong>#{cfv[:category]}</strong><br>" if cfv[:category] != "" %>
                      <%= "#{cfv[:name]}: #{cfv[:value]} <br>" %>
                    <% end %>
              <% end %>
              <hr class="custom-field-separator">
            <% end %>
            <img src="<%= item.product_image %>" class="line-item-description-image">
          </td>

          <td class="money"><%= item.unit_price %></td>
          <% if show_discounts && total_discount_price != 0.0 %>
              <td class="quantity"><%= item.discount_percentage %> </td>
              <td class="quantity"><%= item.unit_price_after_discount %></td>
             <% end %>
              <td class="money">
               <%= item.total_tax %>
              </td>
            <td class="money">
            <div class="last">
              <%= item.total_price %>
            </div>
          </td>
        </tr>
       
    <% end %>
    </tbody>
  </table>
</div>


<% if has_payments? %>
    <div class="line-items">
      <!--<h2 class="title"><%= payments_header %></h2>-->
      <table>
        <thead>
        <tr>
          <th class="position" colspan="2">
            <div class="first">#</div>
          </th>
          <th class="name" colspan="2"><%= paid_on_header %></th>
          <th class="state"><%= payment_method_header %></th>
          <th class="money">
            <div class="last"><%= payment_amount_header %></div>
          </th>
        </tr>
        </thead>

        <tbody class='no-page-break'>
        <% payments.each_with_index do |payment, index| %>
            <tr>
              <td class="position" colspan="2">
                <div class="first">
                  <%= index + 1 %>
                </div>
              </td>
              <td class="name" colspan="2"><%= payment.paid_on %></td>
              <td class="state"><%= payment.payment_details %></td>
              <td class="money">
                <div class="last">
                  <%= payment.amount %>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
        <!--<tfoot class="no-page-break">-->
            <!--<tr>-->
              <!--<td colspan="6" class="labels first">-->
                <!--<p><%= payment_total_header %></p>-->

                <!--<p><%= payment_balance_due_header %></p>-->
              <!--</td>-->
              <!--<td class="money last">-->
                <!--<p><%= total_paid %></p>-->

                <!--<p><%= balance %></p>-->


              <!--</td>-->
            <!--</tr>-->
        <!--</tfoot>-->
      </table>
    </div>
<% end %>

<% if customer_note.present? %>
    <div class="note">
      <table class="no-page-break">
        <thead>
        <tr>
          <td>Customer Note:</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= customer_note %></td>
        </tr>
        </tbody>
      </table>
    </div>
<% end %>

<!-- Cover Note -->
<% if cover_note.present? %>
    <div class="note">
      <table class="no-page-break">
        <thead>
        <tr>
          <th><%= cover_note_header %></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= cover_note %></td>
        </tr>
        </tbody>
      </table>
    </div>
<% end %>

<!-- Signature Note -->
<div class="footer-bottom">
    <div class="section">
        <div class="footer-bottom-left">
            <div class="terms-text">
                <%= terms_conditions %>
            </div>
        </div>
        <div class="footer-bottom-right">
            <table>
                <tbody>
                <tr>
                    <td class="labels first footer-subtotal">
                        <p><strong><%= subtotal_header %>:</strong></p>
                        <% if show_tax  %>
                          <% if use_tax_codes? %>
                              <p><strong><%= total_tax_header %>:</strong></p>
                          <% else %>
                              <p><strong><%= total_tax_header %> (<%= tax_rate %>):</strong></p>
                          <% end %>
                        <% end %>
                        <p class="footer-total"><strong><%= final_price_header %>:</strong></p>
                        <% if has_payments? %>
                            <p>&nbsp;</p>
                            <p><strong><%= payment_total_header %>:</strong></p>
                            <p><strong><%= payment_balance_due_header %>:</strong></p>
                        <% end %>
                    </td>
                    <td class="money last footer-subtotal">
                        <p><strong><%= sub_total %></strong></p>
                        <% if show_tax  %>
                            <p><strong><%= total_tax %></strong></p>
                        <% end %>
                        <p class="footer-total"><strong><%= final_price %></strong></p>
                        <% if has_payments? %>
                            <p>&nbsp;</p>
                            <p><strong><%= total_paid %></strong></p>
                            <p class="footer-total"><strong><%= balance %></strong></p>
                        <% end %>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </div>
    <% if has_tax_split? and show_tax_split? %>
        <div class="split-tax">
          <h4>Split Taxes</h4>
          <table class="split-tax-table">
            <tbody>
            <tr>
              <% tax_split.each do |name, rate| %>
                  <th><%= name %>(<%= rate %>%)</th>
                  <td><%= tax_subtotal(rate.to_f) %></td>
              <% end %>
            </tr>
            </tbody>
          </table>
        </div>
    <% end %>
 <% if show_discounts %>
   <div>
      <table class="split-tax-table">
        <tbody>
         <tr>
          <% if show_range_volume_discounts %>
             <% if total_range_discount >0 || total_volume_discount >0  %>
                <th><b>Total Discount</b></th>
                <td><%= total_discount %>(<%= total_discount_percentage %>%)</td>
              <%end%>
             <% if total_range_discount >0 %>
                <th><b>Range Disc.</b></th>
                <td><%= total_range_discount_in_dollars %></td>
             <%end%>
             <% if total_volume_discount >0 %>
                <th><b>Volume Disc.</b></th>
                <td><%= total_volume_discount_in_dollars %></td>
             <%end%>
             <% if total_discount_price != 0.0%>
              <th><b>Customer Discount</b></th>
              <td><%= total_discount_price_in_dollars %></td>
             <%end%>
           <%else%>
             <% if total_discount_price != 0.0%>
               <th><b>Customer Discount</b></th>
               <td><%= total_discount_price_in_dollars %></td>
             <%end%>
           <%end%>
         </tr>
        </tbody>
     </table>
    </div>
  <% end %>


</div>
</body>
</html>
