<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
      <style>
         .terms-title *, .terms-text * {
         font-size:7pt;
         }
         <%= page_size %>
         <%= body_font_family %>
         h1 { 
         text-align: center; 
         background-color: #00AEEF;
         color: white;
         margin: 7pt 0;
         }
         .address-logo {
         padding: 30pt 35pt 5pt 35pt;
         border-bottom: 0px solid #e3e3e3;
         }
         .address-logo .store-address {
         text-align: left;
         vertical-align: top;
         font-size: 14px;
         font-weight: bold;
         width: 48%;
         }
         .address-wrapper{
         font-weight: bold;
         font-size: 14px;
         padding-top: 15px;
         }
         .line-items thead th {
         font-size: 10px;
         text-transform: capitalize;
         color: #999999;
         padding: 5pt 5pt;
         }
         .line-items .first {
         padding-left: 5pt;
         }
         .line-items .last {
         padding-right: 5pt;
         }
         .npb{
         page-break-inside: avoid;
         margin-right: 40px;
         margin-top: 20px;
         font-size: 14px;
         }
         .no-li-br{
         white-space: nowrap;
         }
         .footer-bottom-left {
         width: 100%;
         float: left;
         text-align: justify;
         }
         @page {
         @bottom { 
         border-top:2px solid #e3e3e3;
         width: 63%;
         font-size: 11px;
         padding-right: 100pt;
         padding-left: 100pt;
         content: "Elite Sign Solutions Ltd, Unit 45 Stakehill Industrial Estate,Touchet Hall Road,Middleton, Manchester M24 2FL,United Kingdom Telephone : 0161 425 8455  Fax: 0161 850 0540  Web: www.elitesignsolutions.co.uk  Registration No: 06983765  VAT NO: 980 0703 32";
         } 
         }
         @page {
         @bottom-left {
         content: " ";
         }
         }

         * {
         box-sizing: border-box;
         }
         /* Create three equal columns that floats next to each other */
         .column {
         float: left;
         width: 33.3%;
         padding: 10px;
         font-size:5.45pt;
         }
         /* Clear floats after the columns */
         .row:after {
         content: "";
         display: table;
         clear: both;
         }
      </style>
   </head>
   <body>
      <div style="display:none" class="document-header">
         <%= header_text %>
      </div>
      <div style="display:none" class="document-footer">
         <%= footer_text %>
      </div>
      <div class="address-logo">
         <table>
            <tr>
               <td class="store-address">
                  <h1>Sales Order Confirmation</h1>
                  <p><font size="5" style="color:#00AEEF;font-weight: normal;"><%= store_name %></font></p>
                  <%if store_address_street%>
                  <p><%= store_address_street %></p>
                  <%end%>
                  <%if store_address_street1%>
                  <p><%= store_address_street1 %></p>
                  <%end%>
                  <%if store_address_city%><%= store_address_city %></p><%end%> <%if store_address_state %> <%= store_address_state%>,<%end%>
                  <%if store_address_zip %> <%= store_address_zip%><%end%>
                  <% if store_phone%>
                  <p>Tel:<%=store_phone%></p>
                  <%end%>
                  <% if store_email%>
                  <p style="color:blue;"><%=store_email%></p>
                  <%end%>
                  <% if @object.account.website %> 
                  <p style="color:blue;"><%= @object.account.website %></p>
                  <%end%>
               </td>
               <td class="store-logo">
                  <img class="logo" src="<%= logo %>">
               </td>
            </tr>
         </table>
         <table cellpadding="3">
            <tr>
               <td class="address left">
                  <div class="address-wrapper">
                     For:
                     <p><%= sold_to %></p>
                     <%= billing_information %>
                  </div>
               </td>
               <td class="address left">
                  <div class="address-wrapper">
                     Delivery Address:
                     <p><%= sold_to %></p>
                     <%= shipping_information %>
                  </div>
               </td>
               <td width="35%" height="90" align = "left" style="font-size: 14px;">
                  <div>
                     <strong>
                        <p>Sales Order :  <%= txn_number_only %></p>
                     </strong>
                     <p>Sales Order Date :  <%= work_order_date %></p>
                     <% if po_number %>
                     <p>PO NO  :  <%= po_number %></p>
                     <% end %>
                     <% if term_code %>
                     <p>Terms  &ensp;:  <%= term_code %></p>
                     <% end %>
                  </div>
               </td>
            </tr>
         </table>
         <p style="padding-top:10px;padding-bottom:15px;font-size: 15px;">Please find our sales order detailed below.</p>
         <p style="padding-bottom:5px;font-size: 15px;"><b><%= name %></b></p>
      </div>
      <div class="line-items" style="border: 2px solid #e3e3e3;width: 89%;margin-left: 35pt;">
         <!--<h2 class="title"><%= items_header %></h2>-->
         <table>
            <thead>
               <tr style="background: #00AEEF;">
                  <th class="position" style="font-size:14px;color:white;">
                     <div><strong>Item</strong></div>
                  </th>
                  <th class="name" style="font-size:14px;color:white;text-align:center;text-align:left;"><strong>Description</strong></th>
                  <th class="quantity" style="font-size:14px;color:white;"><strong>Qty</strong></th>
                  <th class="money" style="font-size:14px;color:white;"><strong>Unit Price</strong></th>
                  <th class="money">
                     <div class="last" style="font-size:14px;color:white;"><strong>Total</strong></div>
                  </th>
               </tr>
            </thead>
            <tbody class=''>
               <% items.each_with_index do |item, index| %>
               <tr style="border-top:2px solid #e3e3e3;">
                  <td class="position" rowspan="2">
                     <div class="first">
                        <%= index + 1 %>
                     </div>
                  </td>
                  <td class="name" colspan="1"><%= item.name %></td>
                  <td class="quantity"><%= number_with_precision(item.quantity, precision: 5, strip_insignificant_zeros: true) %></td>
                  <td class="money"><%= item.unit_price %></td>
                  <td class="money">
                     <div class="last">
                        <%= item.total_price %>
                     </div>
                  </td>
               </tr>
               <tr>
                  <% if show_discounts && total_discount_price != 0.0 %>
                  <td class="description" colspan="7">
                     <% else %>
                  <td class="description" colspan="5">
                     <% end %>
                     <div class="last">
                        <% if item.table_view %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.li_grid_html_view %>
                        </div>
                        <% else %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.description %>
                        </div>
                        <% end %>
                        <% if item.show_custom_fields(item.description_hash[:custom_fields]) && item.table_view%>
                        <hr class="custom-field-separator">
                        <%= item.generate_custom_field_values(item.description_hash[:custom_fields]) %>
                        <hr class="custom-field-separator">
                        <% end %>
                        <% if item.product_picture_assets.count > 0 %>
                        <% item.product_picture_assets.each do |asset| %>
                        <img src="<%= asset.file_url %>" class="line-item-description-image">
                        <% end %>
                        <% end %>
                        <% if item.product_image %>
                        <img src="<%= item.product_image %>" class="line-item-description-image">
                        <% end %>
                        <% if item.table_view %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.li_grid_html_view(show_child_items: true) %>
                        </div>
                        <% end %>
                     </div>
                  </td>
               </tr>
               <% end %>
            </tbody>
         </table>
      </div>
      <div class="npb">
         <table class="npb" cellpadding="4">
            <tr>
               <td width="75%"></td>
               <td colspan="2" style="border: 2px solid #e3e3e3;"><b>Sub Total:</b></td>
               <td style="border: 2px solid #e3e3e3;"><%= sub_total %></td>
            </tr>
            <tr>
               <td width="75%"></td>
               </td>
               <td class="no-li-br" colspan="2" style="border: 2px solid #e3e3e3;" >
                  <% if show_tax  %>
                  <% if use_tax_codes? %>
                  <p><b><%= total_tax_header %>:</b></p>
                  <% else %>
                  <p><b><%= total_tax_header %> (<%= tax_rate %>):</b></p>
                  <% end %>
                  <% end %>
               </td>
               <td colspan="2" style="border: 2px solid #e3e3e3;">
                  <% if show_tax  %>
                  <p><%= total_tax %></p>
                  <% end %>
               </td>
            </tr>
            <tr style="color:#00AEEF;">
               <td width="75%"></td>
               </td>
               <td colspan="2" style="border: 2px solid #e3e3e3;"><b style="font-size:17px;"> Total:</b></td>
               <td colspan="2" style="border: 2px solid #e3e3e3;font-size:17px;">
                  <b><%= final_price %></b>
               </td>
            </tr>
         </table>
      </div>
      <!-- Signature Note -->
      <div class="footer-bottom">
      <div class="section section--border-bottom">
        <div class="signature terms">
            <table>
                <tbody>
                <tr>
                    <td class="handwriting text--up text--bold"><%= signature_header %>:</td>
                    <td class="date text--up text--bold"><%= date_header %>:</td>
                </tr>
                </tbody>
            </table>
        </div>
      </div>
         <div class="section">
            <div class="footer-bottom-left">
               <div class="terms-text">
                  <%= terms_conditions %>
               </div>
            </div>
            <div class="clearfix"></div>
         </div>
      </div>
      
   <div class="no-page-break" style="padding-left: 30pt; padding-right: 30pt;">
      <div class="row">
         <div class="column" >
            <p style="font-size: 8px;font-weight: bold;">Terms and Conditions of Order Confirmation</p><br>
            <b>1. General</b>
            <p>1.1. By placing an order with Elite Sign Solutions Ltd ("we," "us," or
               "our"), the customer ("you" or "the customer") agrees to be bound
               by these terms and conditions.
            </p></br>
            <p>1.2. These terms and conditions apply to all products and services
               we provide and are deemed accepted by you upon confirmation of
               your order.
            </p></br>
            <p>1.3. By accepting the sales order confirmation, you grant Elite Sign
               Solutions Ltd permission to use any images, photographs, or digital
               media of the completed work for marketing purposes, including but
               not limited to social media, websites, and promotional materials.
               Unless otherwise agreed upon in writing, this permission
               supersedes any existing non-disclosure agreements (NDAs).
            </p></br>
            <p>1.4. Any amendments or modifications to these terms and
               conditions must be agreed upon in writing by both parties.
            </p></br>
            <b>2. Order Confirmation</b></br>
            <p>2.1. All orders are subject to acceptance and availability. Once your
               order is successfully placed, you will receive an email confirmation.
            </p></br>
            <p>2.2. The order confirmation includes a summary of the items
               ordered, quantities, prices, and delivery details.
            </p></br>
            <p>2.3. Please review your order confirmation carefully and notify us
               immediately of any errors or discrepancies. Failure to do so may
               result in delays or incorrect orders.
            </p></br>
            <b>3. Pricing and Payment</b></br>
            <p>3.1. All prices are quoted in GBP (£) and exclusive of VAT, which
               will be added at the applicable rate at the end of the order.
            </p></br>
            <p>3.2. Once an order is accepted and confirmed, prices cannot be
               altered, regardless of any changes in market prices or availability
               elsewhere. Any attempt to renegotiate the price due to finding a
               lower price from another supplier will not be accepted.
            </p></br>
            <p>3.3. Payment is required in full at the time of order placement
               unless otherwise agreed upon in writing.
            </p></br>
            <p>3.4. We reserve the right to correct any pricing errors at the time of
               order confirmation. If a pricing error occurs, you will be notified, and
               you may choose to proceed with the order at the corrected price or
               cancel it.
            </p></br>
            <b>4. Delivery</b></br>
            <p>4.1. Estimated delivery dates are provided at the time of order
               confirmation but are subject to change.
            </p></br>
            <p>4.2. Although our next-day courier service offers a very high
               success rate, we cannot guarantee next-day services and cannot
               take responsibility for missed deadlines caused by couriers or incur
               costs.
            </p></br>
            <p>4.3. We are not liable for delays caused by circumstances beyond
               our control, including but not limited to shipping delays or
               unforeseen production issues.
            </p></br>
            <p>4.4. You will immediately be notified of any significant delays or
               issues with your order.
            </p></br>
            <p>4.5. Risk of damage or loss passes to you upon delivery. You are
               responsible for inspecting all goods upon receipt and notifying us of
               any damage or discrepancies within 48 hours.
            </p></br>
            <b>5. Artwork Confirmation</b></br>
            <b>5.1. Artwork Approval</b>
            <p>5.1.1. You will receive a digital proof of the artwork for review and
               approval before production. This proof represents the final design,
               layout, and positioning of text, images, and other visual elements.
            </p></br>
            <p>5.1.2. It is your responsibility to thoroughly review the artwork proof
               for any errors, omissions, or discrepancies, including spelling,
               colours, sizes, and placement of design elements.
            </p></br>
            <p>5.1.3. Once you have provided written approval of the artwork, no
               further changes can be made without incurring additional costs.
            </p></br>
            <p>5.1.4. Any changes requested after artwork approval may delay the
               production and delivery timeline.
            </p></br>
            <b>5.2. Production Standards</b></br>
            <p>5.2.1. Elite Sign Solutions Ltd will not proceed with production until
               the artwork is approved in writing. We are not liable for any delays
               caused by late or missing approvals.
            </p></br>
            <p>5.2.2. If you do not provide approval within 14 days of receiving the
               proof, Elite Sign Solutions Ltd. reserves the right to cancel the order
               or place it on hold until approval is provided.
            </p></br>
            <b>5.3. Artwork Quality and Accuracy</b></br>
            <p>5.3.1. The quality of the final printed or manufactured product may
               vary depending on the quality of the artwork supplied. We are not
               responsible for any defects in the final product caused by the
               customer's low-quality or incorrect artwork files.
            </p></br>
            <p>5.3.2. the customer is responsible for ensuring that all artwork
               provided is in high-resolution format and adheres to our artwork
               submission guidelines. Any artwork that does not meet these
               standards may result in delays or additional charges for rework.
            </p></br>
            <b>6. Cancellation and Amendments</b></br>
            <b>6.1. Order Confirmation and Cancellation</b>
            <p>6.1.1. Once Elite Sign Solutions Ltd confirms an order, it is
               considered binding, and any cancellation request must be made in
               writing.
            </p></br>
            <p>6.1.2. If the cancellation request is received after materials have
               been ordered but before production has commenced, a cancellation
               fee equal to 25% of the total order value will be applied. This fee
               covers the costs associated with material procurement and any
               administrative or preparation work undertaken.
            </p></br>
            <p>6.1.3. If the cancellation request is received after production has
               commenced, the cancellation fee will be determined based on the
               extent of work completed and the value of any materials or labour
               expended. This fee could be up to 100% of the total order value.
            </p></br>
         </div>
         <div class="column">
            <p>6.1.4. Any deposits or partial payments made before cancellation
               will be applied against the cancellation fees, and any remaining
               balance will be refunded within 14 days of agreement on the final
               cancellation amount.
            </p></br>
            <b>6.2. Amendments to Orders</b>
            <p>6.2.1. Amendments to orders may only be made with written
               consent from Elite Sign Solutions Ltd. Any amendments requested
               before materials have been ordered may be made at no additional
               cost, subject to the availability of materials and scheduling.
               Amendments are requested after materials have been ordered but
               before production, and additional charges may be incurred,
               depending on the cost of materials already procured and any
               potential waste or extra work required. Amendments requested after
               production has begun will be evaluated on a case-by-case basis
               and may result in significant additional costs or delays. We reserve
               the right to reject any amendment requests that would significantly
               disrupt production timelines or increase costs.
            </p></br>
            <b>6.3. Custom and Made-to-Order Items</b>
            <p>6.3.1. Due to the nature of custom and made-to-order items,
               cancellations or amendments to these orders are not permitted
               once materials have been ordered or production has commenced.
               Any defects or errors in custom items will be addressed in
               accordance with our warranty and returns policy.
            </p></br>
            <b>6.4. Force Majeure</b>
            <p>6.4.1. Elite Sign Solutions Ltd reserves the right to cancel any order
               without penalty due to unforeseen circumstances beyond our
               control, such as supplier issues, natural disasters, or other force
               majeure events that make fulfilment impossible. In such cases, any
               payments made will be fully refunded.
            </p></br>
            <b>6.5. Dis pute Res olution</b>
            <p>6.5.1. In the event of a dispute regarding cancellations or
               amendments, both parties agree to make every reasonable effort to
               resolve the matter amicably before seeking legal recourse.
            </p></br>
            <b>7. Returns and Refunds</b>
            <p>7.1. Returns and refunds are subject to our Return Policy, available
               on our website or upon request. Custom-made products are non-
               refundable unless we cause a defect or fault.
            </p></br>
            <b>8. Warranty and Liability</b>
            <p>8.1. We warrant that all goods supplied will be of satisfactory quality
               and fit for their intended purpose, as outlined in our specifications.
               Any defects must be reported within 7 days of delivery. We reserve
               the right to repair or replace faulty items at our discretion. Our
               liability is limited to the cost of the goods supplied, and we are not
               liable for any indirect or consequential losses, including loss of profit
               or business.
            </p></br>
            <b>9. Governing Law</b>
            <p>9.1. These terms and conditions shall be governed by and
               construed in accordance with the laws of England and Wales. Any
               disputes arising out of or in connection with these terms shall be
               subject to the exclusive jurisdiction of the courts of England and
               Wales.
            </p></br>
            <b>10. Contact Information</b>
            <p>10.1. For any questions or concerns regarding your order, please
               contact our customer service team at:
            </p></br>
            <b>11. Event Production and Installation</b></br>
            <b>11.1. Scope of Services</b>
            <p>11.1.1. Elite Sign Solutions Ltd provides event production and
               installation services, including but not limited to the design,
               manufacture, delivery, and setup of event signage, backdrops,
               displays, and other visual elements as outlined in the order
               confirmation. Our event production services include comprehensive
               project management to ensure all elements are delivered and
               installed on schedule, meeting the agreed specifications.
            </p></br>
            <b>11.2. Right to Modify Specifications</b>
            <p>11.2.1. Elite Sign Solutions Ltd reserves the right to modify or adjust
               the order's specifications, if necessary, to ensure that the final
               product achieves the same visual effect as the customer requires.
               These modifications may include adjustments to materials, sizing,
               or production methods based on site conditions, material
               availability, technical requirements, or time constraints. Any such
               changes will be made at our discretion and will not be
               communicated in advance unless they significantly alter the finished
               product’s overall visual outcome, functionality, or completion
               timeline. Time constraints may necessitate changes to the original
               specifications to meet deadlines or avoid delays in project delivery.
               In such cases, we will prioritise maintaining the visual effect and
               quality of the final product.
            </p></br>
            <b>11.3. Self-Installation by the Customer</b>
            <p>11.3.1. If the customer or the customer’s client chooses to install
               any ordered products themselves, this decision will not result in any
               reduction or reimbursement of the agreed installation costs. Elite
               Sign Solutions Ltd will not be responsible for any damage, incorrect
               installation, or product failure if the customer or their client selfinstalled. Any repair or correction work required due to improper
               installation will be charged additionally. Self-installation does not
               affect our warranty for the product itself, but it voids any warranty
               related to installation services.
            </p></br>
            <b>11.4. Installation Costs and Rates</b>
            <p>11.4.1. Installation costs are charged based on the time required to
               complete the job and the number of men necessary for the
               installation. The Quarter Day Rate (up to 2 hours) is £150 for two
               men, £225 for three men, £300 for four men, £375 for five men, and
               £450 for six men. The Half Day Rate (up to 4 hours) is £250 for two
               men, £375 for three men, £500 for four men, £625 for five men, and
               £750 for six men.The Full Day Rate (up to 8 hours) is £400 for two
               men, £600 for three men, £800 for four men, £1,000 for five men,
               and £1,200 for six men. Standard installation hours are 9:00 AM to
               5:00 PM, which include a 30-minute lunch break and travel time
               from M24 2FL to the site address. Any work required outside these
               hours will be charged at the applicable out-of-hours rates. Elite Sign
               Solutions Ltd is not responsible for any traffic delays, which will be
               deducted from the quoted time. If delays exceed the quoted installation time, additional charges will apply according to the applicable rates.
            </p></br>
         </div>
         <div class="column">            
            <p>11.4.2. Out-of-Hours Rates include £50 per hour per man for
               weekday evenings and nights. Weekends are double the weekday
               rate, and weekend evenings and nights are charged at £100 per
               hour per man. Any installation time exceeding 2 hours and 1 minute
               will be charged at the Half Day Rate. Any installation time
               exceeding 4 hours and 1 minute will be charged at the Full Day
               Rate. Any installation time exceeding 8 hours will be charged at the
               applicable out-of-hours rate. Elite Sign Solutions Ltd reserves the
               right to add these installation charges to the final sales order
               confirmation at the end of the job without requiring an additional
               Purchase Order (PO) from the customer.
            </p></br>
            <b>11.5. Installation Bookings and Purchas e Orders</b>
            <p>11.5.1. All installations must be booked at least two weeks to
               ensure proper scheduling and preparation. A Purchase Order (PO)
               is required to confirm the installation dates. Suppose a PO is not
               received for the specified installation dates, and another job that
               can be scheduled on the same date arises. In that case, Elite Sign
               Solutions Ltd reserves the right to cancel your installation booking.
               If confirmed fitting days are cancelled or rescheduled by the client, a
               25% cancellation fee of the total order value will be applied. For all
               installations and jobs, Elite Sign Solutions Ltd requires print-ready
               artwork and the Purchase Order to be submitted at least 72 hours
               before the scheduled installation unless otherwise agreed in writing.
               Suppose print-ready artwork is not supplied within the required
               timeframe. In that case, Elite Sign Solutions Ltd reserves the right to
               cancel the order and apply a 25% cancellation fee of the total order
               value.
            </p></br>
            <b>11.6. Temporary Decorations and Vinyl Applications</b>
            <p>11.6.1. The installation of all temporary decorations, including but
               not limited to vinyl applications, for your event is carried out under
               the understanding that such installations are at the client’s own risk.
               While Elite Sign Solutions Ltd employs the highest standards of
               care and professionalism to mitigate the risk of damage to surfaces
               or materials, we must clarify that we cannot be held liable for any
               damages incurred due to the decoration process. We understand
               the importance of maintaining the integrity of your venue and will
               take all necessary precautions to ensure that installations are
               conducted safely and effectively. However, due to the varying
               nature of surfaces and materials upon which decorations may be
               applied, there is an inherent risk of damage, including but not
               limited to peeling, discolouration, or residue.
            </p></br>
            <p>11.6.2. Adhesion and Surface Conditions: Elite Sign Solutions Ltd
               does everything possible to ensure that graphics and signs stay
               securely fixed for the duration required. However, we cannot be
               held responsible for any graphics falling or temporary fixings giving
               way if the surface condition is unknown or has been treated with
               unknown materials, such as specific paints, coatings, or finishes
               that may affect adhesion. The effectiveness of adhesives and
               temporary fixings like command strips can be compromised by
               surface texture, cleanliness, and paint or coating composition.
               Temporary fixings, such as command strips, must wait before
               weight is applied to ensure optimal adhesion. Due to time
               constraints, allowing this wait time may only sometimes be possible.
               As a result, Elite Sign Solutions Ltd cannot be held responsible if
               temporary fixings fail due to insufficient curing time or suboptimal
               application conditions.
            </p></br>
            <p>11.6.3. Rectification and Site Visits: If graphics or decorations fall or
               temporary fixings fail, Elite Sign Solutions Ltd can usually return to
               the site to rectify the issue. Such visits will be charged at the
               applicable rates listed in the installation costs and rates section.
               Additional charges will apply for out-of-hours visits or expedited
               service requests. You acknowledge and accept the potential risks
               by proceeding with our decoration services. Elite Sign Solutions Ltd
               will not assume financial responsibility for any damage or failure of
               decorations that may occur in connection with the temporary
               decorations or vinyl applications provided for your event. We
               appreciate your understanding and are committed to working
               closely with you to achieve the desired aesthetic for your event
               whilst minimising risks wherever possible.
            </p></br>
            <b>11.7. Design Time and Art Working Charges</b>
            <p>If artwork for a print-ready file is required, a design-time charge of
               £35 per hour will be applied. This includes any modifications,
               adjustments, or additional work needed to ensure that the artwork
               meets our submission guidelines and production standards. All
               design-time charges will be itemised and added to the final invoice
               unless otherwise agreed in writing.
            </p></br>
            <b>11.8. Site Access and Requirements</b>
            <p>The customer is responsible for ensuring that the event site is
               accessible and prepared for installation at the agreed time and date.
               The customer will bear any delays or additional costs resulting from
               site inaccessibility or unpreparedness. Before installation, the
               customer must inform Elite Sign Solutions Ltd of any specific site
               regulations, safety protocols, or access restrictions. Failure to
               provide this information may result in additional charges or delays.
            </p>
         </div>
      </div>
    </div>
   </body>
</html>