<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <style>
      .terms-title *, .terms-text * {
          font-size:6pt !important;
      }
      table   {
        width:100%;
        float: left;
      }
      table td {
        padding:5px;
      }
      .address-logo {
   border-bottom:none !important;
   margin-bottom: 5px !important;
    }
      .address-logo1 {
   padding: 10pt 35pt 5pt 35pt;
   margin-bottom: 5px !important;
    }
    .add tr:last-child td {
      min-height: 50px;

    }
      <%= page_size %>
  </style>
</head>
<body>

<div style="display:none" class="document-header">
  <%= header_text %>
</div>

<div style="display:none" class="document-footer">
  <%= footer_text %>
</div>

<div class="address-logo">
  <table>
    <tr>
      <td class="store-address <%= "stamp-container" if is_paid? %>">
        <%= store_address %>
        <% if is_paid? %>
          <p class="stamp">
            <image src="<%= "#{Rails.root}/app/assets/images/pages/stamp-paid-big.png" %>" alt="Paid"/>
          </p>
        <% end %>
      </td>
      <td>
        <b style="font-size:20px;float:right;margin:bottom:5px;">Invoice</b>
        <table border="1">
          
            <tr>
              <td><b>Date</b></td>
              <td><b>Invoice#</b></td>
            </tr>
            <tr>
              <td><%= invoice_date %></td>
              <td><%= txn_number_only%> </td>
            </tr>
          </table>
        <!--<img class="logo" src="<%= logo %>">-->
      </td>

    </tr>
  </table>

</div>
<div class="address-logo1">&nbsp;</div>
<div class="address-logo1">
  <table border="1">
    <tr>
      <td>
          <b>Bill To</b>
      </td>
      <td> <b>Ship To</b></td>
    </tr>
    <tr>
          <td><%= sold_to %>
        <%= billing_information %></td>
      <td>
          <% if shipping_address_type != 'DropShip' %>
            <%= sold_to %><br />
          <% end %>
          <%= shipping_information %></p>
      </td>
    </tr>
  </table>
</div>
<div class="address-logo1">&nbsp;</div>
<div class="address-logo1">
  <table class="add" border="1">
    <tr>
      <td><b>P.O Number</b></td>
      <td><b>Terms</b></td>
      <td><b>Rep</b></td>
      <td><b>Ship</b></b></td>
      <td><b>Via</b></b></b></td>
      <td><b>F.O.B</b></td>
      <td><b>Project</b></td>
    </tr>
    <tr>
      <td>
        <% if po_number %>
            <%= po_number %>
          <% end %>
      </td>
      <td>
      <% if term_code %>
            <%= term_code %>
        <% end %>
      </td>
      <td>
        <%= sales_rep%>
      </td> 
      <td><%=shipping_method%></td>
      <td> What need to Print here ?</td>
      <td>  What need to Print here ?</td>
      <td>
      <% if project_number %>
        <%= project_number %>
      <% end %>
      </td>
    </tr>

  </table>

</div>
<div class="address-logo1">
  <table border="1">
    <tr>
      <td><b>Quantity</b></td>
      <td><b>Item code</b></td>
      <td><b>Description</b></td>
      <td><b>Price Each</b></td>
      <td><b>Amount</b></td>
    </tr>
    <% items.each_with_index do |item, index| %>
      <tr>
        <td valign="top"><%= item.quantity %></td>
        <td valign="top"><%= item.name %></td>
        <td>
        <% if item.table_view %>
              <div class="last text--pre-line li-desc-fixed-width">
                <%= item.li_grid_html_view %>
              </div>
            <% else %>
              <div class="last text--pre-line li-desc-fixed-width">
                <%= item.description %>
              </div>
            <% end %>
            <% if item.show_custom_fields(item.description_hash[:custom_fields])&& item.table_view %>
              <hr class="custom-field-separator">
              <% item.description_hash[:custom_fields].each do |cfv| %>
                    <% if (cfv[:value] != nil && cfv[:value] != '' && cfv[:show_custom_fields_on_customer_pdf] != false) || cfv[:field_type] == 'separator' %>
                      <%= "<strong>#{cfv[:category]}</strong><br>" if cfv[:category] != "" %>
                      <%= "#{cfv[:name]}: #{cfv[:value]} <br>" %>
                    <% end %>
              <% end %>
              <hr class="custom-field-separator">
            <% end %>
            <%if item.product_image %>
            <img src="<%= item.product_image %>" class="line-item-description-image">
            <%end%>
        </td>
        <td valign="top"><%= item.unit_price %></td>
        <td valign="top"> <%= item.total_price %></td>
      </tr>
    <% end %>
   
    <tr>
      <td colspan="3"> Thak you for your Business</td>
      <td colspan="2"><b>Total:</b>   <%= final_price %></td>
       </tr>

  </table>

</div>



</body>
</html>
