<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Job PDF</title>
      <style>
         <%= page_size %>
         .Apparel
         {
         border: 1px solid #ccc;
         padding: 13px;
         text-align: left;
         }
         .workorderinfo {
         width: 97.5%;
         float: left;
         margin-top: 10px;
         border: 1px #ccc solid;
         margin-left: 10px;
         margin-right: 20px;
         clear: both;
         min-height: 90px;
         }
      </style>
   </head>
   <body>
      <div class="job-pdf">
      <!-- INFO -->
      <div class="col-12">
         <div class="box box--default box--border">
            <div class="box__title">
               <p>SO#<%= order_number %>
                  <span style="float: right;nargin left:10px;"> <%= template_name %>
               </p>
            </div>
         </div>
      </div>
      <!-- RUSH -->
      <% if job_rush %>
      <div class="job-section job-section--mb-none">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <p class="job-rush"><%= job_rush_text %></p>
               </div>
            </div>
         </div>
      </div>
      <% end %>
      <!-- COMPANY -->
      <div class="job-section job-pdf__company">
         <div class="container">
            <div class="row">
               <div class="col-4">
                  <div class="box box--white box--border box--margin-top">
                     <div class="box__content">
                        <b>Job Description: </b> 
                        <p><%= description %></p>
                     </div>
                  </div>
               </div>
               <div class="col-4">
                  <div class="box box--default box--border box--sm" style="margin-top:13px;">
                     <div class="box__content">
                        <table class="table table--list text--sm">
                           <tbody>
                              <tr>
                                 <td>Customer PO:</td>
                                 <td><strong><%= customer_po %></strong></td>
                              </tr>
                              <tr>
                                 <td>Delivery Method:</td>
                                 <td><strong><%= shipping_method %></strong></td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <div class="col-4">
                  <div class="box box--default box--border box--sm" style="margin-top:13px;">
                     <div class="box__content">
                        <table class="table table--list text--sm">
                           <tbody>
                              <tr>
                                 <td>Due Date:</td>
                                 <td><strong><%= due_date %></strong></td>
                              </tr>
                              <tr>
                                 <td>Sales Rep:</td>
                                 <td><strong><%= sales_rep_name %></strong></td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- SHIPPING -->
      <div class="job-section job-pdf__shipping">
         <div class="container">
            <div class="row">
               <div class="col-6">
                  <div class="box box--default box--border">
                     <div class="box__title">
                        <p>Ship To:</p>
                     </div>
                     <div class="box__content">
                        <div class="row">
                           <div class="col-6">
                              <address>
                                 <%= shipping_information %>
                              </address>
                           </div>
                           <div class="col-6">
                              <table class="table table--list">
                                 <tbody>
                                    <tr>
                                       <td style="font-size:11px;">Ship Method:</td>
                                       <td style="font-size:11px;"><strong><%= shipping_method %></strong></td>
                                    </tr>
                                    <tr>
                                       <td style="font-size:11px;">Ship Date:</td>
                                       <td style="font-size:11px;"><strong><%= shipping_date %></strong></td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-6">
                  <div class="box box--default box--border">
                     <div class="box__title">
                        <p>Bill To:</p>
                     </div>
                     <div class="box__content">
                        <address>
                           <%= billing_information %>
                        </address>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- DETAILS -->
      <div class="job-section job-pdf__details">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="box box--grey box--border">
                     <div class="box__content text--center">
                        <div>
                           <img src="<%= proof_image(500,300) %>">
                        </div>
                     </div>
                     <div class="box__title">
                        <%= proof_footer %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- BOM -->
      <% if has_pricing? %>
      <div class="job-section job-pdf__bom">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="box box--white box--no-padding">
                     <div class="box__title">BOM:</div>
                     <div class="box__content">
                        <% if apparel_ui? %>
                        <%= apparel_item_table %>
                        <% else %>
                        <table class="table table--bom">
                           <thead>
                              <th>Name</th>
                              <th>Qty</th>
                              <th>Attr1</th>
                              <th>Attr2</th>
                           </thead>
                           <tbody>
                              <%= materials_bom_table %>
                           </tbody>
                        </table>
                        <% end %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- BOM - OTHERS -->
      <div class="job-section">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="box box--white box--no-padding">
                     <div class="box__content">
                        <table class="table table--striped">
                           <tbody>
                              <%= labor_table %>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <% if custom_field_items.size > 0 %>
               <div class="col-6">
                  <div class="box box--white box--border">
                     <div class="box__title">Custom fields:</div>
                     <div class="box__content">
                        <table class="table table--no-border table--no-padding">
                           <tbody>
                              <%= custom_field_table %>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <% end %>
               <% if order_custom_field_items.size > 0 %>
               <div class="col-6">
                  <div class="box box--white box--border">
                     <div class="box__title">Order custom fields:</div>
                     <div class="box__content">
                        <table class="table table--no-border table--no-padding">
                           <tbody>
                              <%= order_custom_field_table %>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <% end %>
            </div>
         </div>
      </div>
      <% else %>
      <% if custom_field_items.size > 0 %>
      <div class="job-section">
         <div class="container">
            <div class="row">
               <div class="col-5">
                  <div class="box box--white box--border">
                     <div class="box__title">Custom fields:</div>
                     <div class="box__content">
                        <table class="table table--no-border table--no-padding table--th-text-right">
                           <tbody>
                              <%= custom_field_table %>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <% end %>
      <% end %>                                  
      <table class="Apparel" style="width:100%;border: 1px solid #ccc;margin-left:10px;margin-right:10px;">
         <tr class="Apparel" style="background-color:black;color: white;">
            <th class="Apparel">Apparel</th>
            <th class="Apparel">Color</th>
            <th class="Apparel">XS</th>
            <th class="Apparel">S</th>
            <th class="Apparel">M</th>
            <th class="Apparel">L</th>
            <th class="Apparel">XL</th>
            <th class="Apparel">2XL</th>
            <th class="Apparel">3XL</th>
            <th class="Apparel">4XL</th>
            <th class="Apparel">Total</th>
         </tr>
         <tr class="Apparel">
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
         </tr>
         <tr class="Apparel">
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
         </tr>
         <tr class="Apparel">
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
         </tr>
         <tr class="Apparel">
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
         </tr>
         <tr class="Apparel">
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
         </tr>
         <tr class="Apparel">
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
         </tr>
         <tr class="Apparel">
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
            <td class="Apparel"></td>
         </tr>
      </table>
      <div class="workorderinfo" style="font-size:15px;"><%=order_special_info%>
      </div>
   </body>
</html>