  <html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <style>
        <%= page_size %>
  .hr {
  width:100%;
  margin:auto;
  border-bottom:2px solid #6fd8f7  ;
  clear:both;
  }
  .hr1 {
  width:100%;
  margin:auto;
  border-bottom:2px solid #015aaa  ;
  clear:both;
  }

  @page {
      size: A4;
      margin: 10pt 10pt 10pt 10pt;
      }

  body {
      font-size: 12px;
      font-family: "Arial", "Lucida Grande", sans-serif;
      padding: 0;
      width: 100%;
  }

  .stages1 {
      width:100%;
      margin:0;
  }

  .stage .step-info {
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      border-left: 1px solid #010101;
     /* background-color: #e0e5f3;*/
      padding: 15px 15px;
  }
  .top-left{
    font-size: 15pt;
  }

  .padding-top-bottom{
    padding: 10pt 0pt 10pt 0pt;
  }
    </style>
  </head>
  <body>
  <!-- Footer Text for Page footter-->
  <div style="display:none" class="document-footer">
  </div>

  <table class="top-left">
    <tr> 
    <td width="65%">
    <table cellpadding="4">
      <tr><td style="white-space: nowrap;" width="35%">Customer Name:</td><td><%= @object.company.try(:name) %></td></tr>
      <% if @object.project and @object.project.txn_number.present? %>
      <tr><td>Project name: </td><td><%= @object.project.name%></td></tr>
      <%end%>
      <tr><td>Due Date: </td><td><%=I18n.l(@object.due_date)%></td></tr>
    </table>
    </td>
    <td align="left" valign="top" >
      <div class="qr" >
      <table>
        <% qr_code.modules.each_index do |x| %>
            <tr>
              <% @qr_code.modules.each_index do |y| %>
                  <% if @qr_code.dark?(x, y) %>
                      <td class="black"/>
                  <% else %>
                      <td class="white"/>
                  <% end %>
              <% end %>
            </tr>
        <% end %>
      </table>
    </div>
    </td>
    <td > <img src="<%= logo %>" width="120"></td>
    </tr>
  </table>
  <div class="hr"></div>
  <div class="hr1"></div>


  <div  class="padding-top-bottom">
  <table cellpadding="4">
    <tr>
      <td width="17%"  valign="top" ><font size="3">Description:</font></td>
      <td>
         <div class="description">
          <% if is_form_field_visible?('description') %>
          <p class="text--pre-line"><%= simple_format(description) %></p>
         <% end %>
    </div>
      </td>
       <% if contact%>
       <td width="20" valign="top">
         <p><b>Customer Contact Info :</b></p>
         <%if @object.contact.name %><p>Name: <%= @object.contact.name %></p><%end%>
         <%if @object.contact.email %><div style="white-space: nowrap;"><p>Email: <%= @object.contact.email %></p></div><%end%>
         <%if @object.contact.phone %><p>Phone: <%= @object.contact.phone %></p><%end%>
       </td>
       <%end%>
     </tr>
    <tr>
      <td style="white-space: nowrap;"><font size="3">Installation address:</font></td><td>
        <table>
        <tr>
          <% if billing_information.present? && is_form_field_visible?('billing_address_id') %>
            <td class="address left">
              <div class="address-wrapper">
                  <%= billing_information %> &nbsp &nbsp
              </div>
            </td>
          <% end %>
          <% if shipping_information.present? && is_form_field_visible?('shipping_address_id') %>
            <td class="address left">
              <div class="address-wrapper">
                  <%= shipping_information %>
              </div>
            </td>
          <% end %>
        </tr>
      </table>
      </td>
    </tr>
    <tr>
      <td><font size="3">PM:</font></td><td>
          <% if pm_name.present? && is_form_field_visible?('production_manager_id') %>
          <p> <%= pm_name %></p>
      <% end %>
      </td>
    </tr>
    <tr>
      <td><font size="3">Sales Rep:</font></td><td>
         <% if sales_rep_name.present? && is_form_field_visible?('sales_rep_id') %>
          <p><%= sales_rep_name %></p>
      <% end %>
      </td>
    </tr> 
  </table>
  </div>

  <% if design_details  || production_details || install_details %>
  <table border="1" width="100%">
    <tr>
    <th><font size="3">Design Details:</font></th>
    <th><font size="3">Production Details:</font></th>
    <th><font size="3">Installation Details:</font></th>
    </tr>
    <tr>
      <td style="height:100px;" valign="top" width="33%">
     <% if design_details && is_form_field_visible?('design_details') %>
        <div class='details'>
          <div class='design_details'>
            <div class="text--pre-line">
              <%= design_details.split('Design Details:')[1] %>
            </div>
          </div>
        </div>
    <% end %>
      </td>
      <td valign="top" width="33%">
        <% if production_details && is_form_field_visible?('production_details') %>
        <div class='half_details'>
          <div class='production_details'>
            <div class="text--pre-line">
              <%= production_details.split('Production Details:')[1] %>
               </div>
            </div>
        </div>
    <% end %>
      </td>
      <td valign="top" width="33%">
         <% if install_details && is_form_field_visible?('install_details') %>
        <div class='half_details'>
          <div class='install_details'>
            <div class="text--pre-line">
              <%= install_details.split('Install Details:')[1] %>
            </div>
          </div>
        </div>
    <% end %>
      </td>
    </tr> 
  </table>
  <%end %>

   <h3>Work Flow Stages</h3>
    <div class="stages1">
      <% stages.each do |stage| %>
          <div class="stage">
            <div class="stage-title"><%= "#{translate_word(stage.header, 'pdfs.job.stages')}"  %></div>
            <div class="stage-wrapper clearfix">
              <% stage.steps.each do |step| %>
                  <% if !step.skip %>
                      <div class="step <%= step.state %>">
                        <div class="step-info clearfix">
                          <div class="name"><%= "#{translate_word(step.name, 'pdfs.job.steps')}"  %></div>
                          <div class="number"><%= step.num_iterations %></div>
                        </div>
                        <% unless step.assigned_to_user_initials.blank? %>
                            <div class="estimated-time"><%= step.assigned_to_user_initials %> <strong><%= step.estimated_user_time %>min</strong></div>
                        <% end %>
                        <% unless step.scheduled_machine_name.blank? %>
                            <div class="estimated-time"><%= step.scheduled_machine_name %> <strong><%= step.estimated_machine_time %>min</strong></div>
                        <% end %>
                      </div>
                  <% end %>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
  </div>

  <table class="top-left" cellpadding="5">
    <tr><td colspan="2" >Time Total = _______________</td></tr>
    <tr><td width="60%">Qc Signature : __________________________</td>
    <td>Date : _________________ </td>
    </tr>
  </table>
  </body>
  </html>
