<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <style>
      <%= page_size %>

  .no-li-br{
   page-break-inside: avoid;
    }
    @page {
  size: 11in 8.5in;
  }
  </style>
</head>
<body>
<tr>
  <td></td>
  <td></td>
  <td></td>
</tr>
<table>
</tabble>

<table style="width:97%;" border="1" cellpadding="6">
 
  <tr>
    <td style="width:10%;"><strong>JOB INFO:</strong> 
    </td>

    <%if proof_image%>
     <td rowspan="2" style="width:8%;" valign="top">
     <%else%>
     <td rowspan="2" style="width:30%;" valign="top">
     <%end%>

    
    <div class="">
      <% stages.each do |stage| %>
        <div class="stage">
          <% if stage.steps.count !=0 %>
            <div class="stage-title"><%= "#{translate_word(stage.header, 'pdfs.job.stages')}"  %>
            </div>
            <div class="stage-wrapper clearfix">
            <%end%>
            <% stage.steps.each do |step| %>
                <% if !step.skip %>
                    <div class="step <%= step.state %>">
                      <div class="step-info clearfix">
                        <div class="name"><%= "#{translate_word(step.name, 'pdfs.job.steps')}"  %></div>
                        <div class="number"><%= step.num_iterations %></div>
                      </div>
                      <% unless step.assigned_to_user_initials.blank? %>
                          <div class="estimated-time"><%= step.assigned_to_user_initials %> <strong><%= step.estimated_user_time %>min</strong></div>
                      <% end %>
                      <% unless step.scheduled_machine_name.blank? %>
                          <div class="estimated-time"><%= step.scheduled_machine_name %> <strong><%= step.estimated_machine_time %>min</strong></div>
                      <% end %>
                    </div>
                <% end %>
              <% end %>
            </div>
        </div>
      <% end %>
    </div>
    </td>

    <td>
    <strong>JOB DETAILS:</strong>
    </td> 
 </tr>
 
  <td valign="top">
    <table cellpadding="3">
      <tr>
        <td valign="top"><b>Client:</b></td><td> <%= @object.company.try(:name) %></td>
      </tr>
       <tr>
        <td><b>Project:</b></td><td> <%= @object.order.try(:title) %> </td>
      </tr>
       <tr>
        <td><b>Job Name:</b></td><td> <%= @object.name  %></td>
      </tr>
       <tr>
        <td><b>S/O:</b></td><td>  <%= @object.order_number %></td>
      </tr>
       <tr>
        <td><b>Qty:</b></td><td>  <%= @object.quantity  %></td>
      </tr>
      <tr>
        <td><b>Due Date:</b></td><td>  <%= I18n.l(@object.due_date) %></td>
      </tr>
      <tr>
        <td><b>Status:</b></td><td> </b><span class="status" style="color:red;font-size:15px;">
      <%= status %></span>
      </td>
      </tr>
    </table>
  </td> 
    <%if proof_image%>
     <td valign="top" width="185" rowspan="2">
     <%else%>
     <td valign="top" rowspan="1">
     <%end%>
     <% if design_details && is_form_field_visible?('design_details') %>
      <div class='details'>
        <div class='design_details'>
          <div class="text--pre-line">
            <%= design_details %>
          </div>
        </div>
      </div>
  <% end %>

  <% if (install_details && is_form_field_visible?('install_details')) || (production_details && is_form_field_visible?('production_details')) %>
      <div class='half_details'>
        <div class='install_details'>
          <div class="text--pre-line">
            <%= install_details %>
          </div>
        </div>
        <div class='production_details'>
          <div class="text--pre-line">
            <%= production_details %>
          </div>
        </div>
      </div>
  <% end %>

  <% if shipping_details && is_form_field_visible?('shipping_details') %>
      <div class='details'>
        <div class='shipping_details'>
          <div class="text--pre-line">
            <%= shipping_details %>
          </div>
        </div>
      </div>
  <% end %>

   <div style="border-top:1px #000 solid;">
    <p>
    <% if bom_details && is_form_field_visible?('bom_details') %>
      <div class='details'>
        <div class='bom <%= 'table-view' if @account.pos_settings.display_description_in_grid_format %>'>
          <%= bom_details %>
        </div>
      </div>
  <% end %>
  </p>

  </td>
 </tr>

 <%if proof_image%>
 <tr>
  <td colspan="2" class="no-li-br" align="center">
    <div class="proof">
      <div class="head">
        <b> <u>Proof :</u></b><br>
        <%= proof_head %>
      </div>
      <div class="image">
        <img  src="<%= proof_image(350,350) %>" width="350" height="300">
      </div>
    </div>
</td>
 </tr>
 <%end%>

 <tr>
  <td valign="top" style="width:35%;"> <strong><u>Description:</u></strong><br>
    <% if is_form_field_visible?('description') %>
        <p class="text--pre-line"><%= simple_format(description) %></p>
    <% end %>
  </td>

  <td valign="top" colspan ="2"> 
  <table>
    <tr>
      <td style="width:50%;">
         <div class="contact">
    <% if contact.present? && is_form_field_visible?('contact_id') %>
        <%= contact %>
    <% end %><br>
    <% if sales_rep_name.present? && is_form_field_visible?('sales_rep_id') %>
        <span class='left'><b><%= sales_rep_header %>:</b> <%= sales_rep_name %></span><br/><br>
    <% end %>
    <% if pm_name.present? && is_form_field_visible?('production_manager_id') %>
        <span class='left'><b><%= pm_header %>:</b> <%= pm_name %></span><br/><br>
    <% end %>
    <% if project_manager_name.present? && is_form_field_visible?('project_manager_id') %>
      <span class='left'><b><%= project_manager_header %>:</b> <%= project_manager_name %></span>
    <% end %>
  </div>

      </td>
      <td>
          <table cellspacing="6" valign="middle">
    <tr>
      <td><div class="store-logo" style="float:left;">
    <img class="logo" src="<%= logo %>" width = 200>
  </div></td>
      <td valign="middle" >
        <div class="qr">
          <table id="qr" style="border:none;">
            <% qr_code.modules.each_index do |x| %>
            <tr>
              <% @qr_code.modules.each_index do |y| %>
                  <% if @qr_code.dark?(x, y) %>
                      <td class="black" style="border"/>
                  <% else %>
                      <td class="white"/>
                  <% end %>
                <% end %>
              </tr>
              <% end %>
          </table>
        </div>
    </td>
  </tr>
</table>
      </td>
    </tr>
  </table>
 

  </td>
  
 </tr>
 

</table>

</body>
</html>
