<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
      <style>
         .terms-title *, .terms-text * {
         font-size:8pt !important;
         }

         <%= page_size %>
         @page {
         font-family: "Inter", sans-serif;
         prince-shrink-to-fit: auto;
         }

         body {
         font-family: "Inter", sans-serif;
         }

         .address-logo {
         padding: 20pt 35pt 5pt 40pt;
         border-bottom: 2px solid #e3e3e3;
         }

         .address-logo .store-address {
         text-align: left;
         vertical-align: top;
         font-size: 13px;
         }

         .address-logo .store-logo .logo,
         img.logo {
         max-width: 200px;
         max-height: 100px;
         }

         .store-logo {
         text-align: left;
         vertical-align: top;
         }

         .store-logo1 {
         text-align: right;
         vertical-align: top;
         }

         .address-logo .store-logo1 .title {
         text-transform: uppercase;
         margin-top: 5pt;
         font-size: 10px;
         color: #6d6a6a;
         text-align: right;
         }

         .h1 {
         font-size: 22px;
         margin: 15pt 0;
         padding-left: -10pt;
         font-weight: bold;
         }

         .summary .summ.left .summary-wrapper {
         border-right: 3px solid #e3e3e3;
         text-align: left;
         padding-left: 8pt;
         }

         .summary {
         margin: 0pt;
         padding: 5pt 35pt 5pt 32pt;
         border-bottom: 2px solid #e3e3e3;
         background: #f7f7f7;
         font-size: 9px;
         }

         h1 small {
         font-size: 10pt;
         }

         .line-items .position{
         padding-top: 4pt; 
         }

         .line-items .quantity{
         padding-top: 4pt; 
         }

         .line-items .name{
         padding-top: 4pt; 
         }

         .line-items .money{
         padding-top: 4pt; 
         }

         .line-items .last {
         padding-right: 30pt;
         }
         
         .line-items .quantity {
         text-align: center !important;
         width: 1%;
         white-space: nowrap;
         padding-right: 40pt;
         }
      </style>
   </head>
   <body>
      <div style="display:none" class="document-header">
         <%= header_text %>
      </div>
      <!-- Footer Text for Page footter-->
      <!-- Store Address and Logo -->
      <div class="address-logo">
         <table>
            <tr>
               <td class="store-logo">
                  <img class="logo" src="https://assets.shopvox.com/accounts/6a46da2c-6185-42f0-a3a7-a57e40327abf/custom_pdfs/IACLogos.svg">
               </td>
               <td class="store-address">
                  <p><%= store_name %></p>
                  <%if store_address_street%>
                  <p><%= store_address_street %>,
                     <%end%>
                     <%if store_address_street1%>
                     <%= store_address_street1 %>
                     <%end%>
                     <%if store_address_city%><%= store_address_city %>,<%end%>
                     <%if store_address_state %> <%= store_address_state %><%end%>
                  </p>
                  <p><%if store_address_zip %> <%= store_address_zip %><%end%>, <%if @object.account.settings.addresses.find_by(address_type: 'Primary').country %><%= @object.account.settings.addresses.find_by(address_type: 'Primary').country %><%end%></p>
                  <% if store_email%>
                  <p><%=store_email%></p>
                  <%end%>
                  <% if store_phone%>
                  <p><%=store_phone%></p>
                  <%end%>
                  <% if @object.account.website %>
                  <p><%= @object.account.website %></p>
                  <%end%>
               </td>
               <td style="width: 20%;">&nbsp;</td>
               <td class="store-logo1">
                  <p class="title">Estimate Date</p>
                  <p ><%= quote_date %></p>
                  <% if quote_expiry_date %>
                  <p class="title">Estimate Expiry Date</p>
                  <p><%= quote_expiry_date%></p>
                  <% end %>
                  <% if term_code %>
                  <p class="title"><%= term_code_header %></p>
                  <p><%= term_code %></p>
                  <% end %>
               </td>
            </tr>
         </table>
      </div>
      <div class="summary">
         <table>
            <tr>
               <td class="summ left">
                  <div class="summary-wrapper">
                     <h1 class="main-title">Estimate <%= txn_number_only %><br/>
                        <small><%= name %></small>
                     </h1>
                  </div>
               </td>
               <td class="summ left">
                  <div class="summary-wrapper">
                     <p class="title"><%= ordered_by_header %></p>
                     <p>
                        <%= sold_to %>
                     <p>
                        <%= billing_information %>
                     </p>
                     </p>
                  </div>
               </td>
               <td class="summ left">
                  <div class="summary-wrapper">
                     <p class="title"><%= contact_information_header %></p>
                     <p><%= contact_information %></p>
                  </div>
               </td>
               <td class="summ left">
                  <div class="summary-wrapper" style="border-right: 0px solid #e3e3e3;">
                     <% unless sales_rep_information.blank?%>
                     <p class="title"><%= sales_rep_information_header %></p>
                     <p><%= sales_rep_information %></p>
                     <% end %>
                  </div>
               </td>
            </tr>
         </table>
      </div>
      <!-- Sold To, Contact Info and Shipping Address -->
      <% if show_about_this_desc and description.present? %>
      <div class="description_area">
         <table>
            <tr>
               <td class="header">
                  <%= about_this_quote_header %>:
               </td>
               <td class="description page-break-after">
                  <%= description %>
               </td>
            </tr>
         </table>
      </div>
      <% end %>
      <div class="line-items">
         <!--<h2 class="title"><%= items_header %></h2>-->
         <% if show_multi_currecies %>
         <p class="currency-note">
            All prices in (default currency) except for the final price at the bottom showing in your local currency.
         </p>
         <% end %>
         <table>
            <thead>
               <tr>
                  <th class="position">
                     <div class="first">#</div>
                  </th>
                  <th class="name"><%= item_header %></th>
                  <th class="quantity"><%= qty_header %></th>
                  <th class="money" style="padding-right:25pt;"><%= unit_price_header %></th>
                  <th class="money">
                     <div class="last">SUBTOTAL</div>
                  </th>
               </tr>
            </thead>
            <tbody class=''>
               <% items.each_with_index do |item, index| %>
               <tr>
                  <td class="position" rowspan="2">
                     <div class="first">
                        <%= index + 1 %>
                     </div>
                  </td>
                  <td class="name" style="font-weight:bold"><%= item.name %></td>
                  <td class="quantity"><%= number_with_precision(item.quantity, precision: 5, strip_insignificant_zeros: true) %></td>
                  <td class="money" style="padding-right:25pt;"><%= item.show_hide_unit_price %></td>
                  <td class="money">
                     <div class="last"><%= item.total_price %></div>
                  </td>
               </tr>
               <tr style="border-bottom: 2px solid #e3e3e3;">
                  <% if show_discounts && total_discount_price != 0.0 %>
                  <td class="description" colspan="7">
                     <% else %>
                  <td class="description" colspan="5">
                     <% end %>
                     <div>
                        <% if item.table_view %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.li_grid_html_view %>
                        </div>
                        <% else %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.description %>
                        </div>
                        <% end %>
                        <% if item.show_custom_fields(item.description_hash[:custom_fields])&& item.description_hash[:custom_fields].any?  && item.table_view %>
                        <hr class="custom-field-separator">
                        <%= item.generate_custom_field_values(item.description_hash[:custom_fields]) %>
                        <hr class="custom-field-separator">
                        <% end %>
                        <% if item.product_picture_assets.count > 0 %>
                        <% item.product_picture_assets.each do |asset| %>
                        <img src="<%= asset.file_url %>" class="line-item-description-image">
                        <% end %>
                        <% end %>
                        <% if item.product_image %>
                        <img src="<%= item.product_image %>" class="line-item-description-image">
                        <% end %>
                        <% if item.table_view %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.li_grid_html_view(show_child_items: true) %>
                        </div>
                        <% end %>
                     </div>
                  </td>
               </tr>
               <% end %>
            </tbody>
         </table>
      </div>
      <% if customer_note.present? %>
      <div class="note">
         <table class="no-page-break">
            <thead>
               <tr>
                  <td><%= customer_note_header %></td>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><%= customer_note %></td>
               </tr>
            </tbody>
         </table>
      </div>
      <% end %>
      <!-- Internal Note -->
      <% if internal_note.present? %>
      <div class="note">
         <table class="no-page-break">
            <thead>
               <tr>
                  <td><%= internal_note_header %></td>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><%= internal_note %></td>
               </tr>
            </tbody>
         </table>
      </div>
      <% end %>
      <!-- Cover Note -->
      <% if cover_note.present? %>
      <div class="note">
         <table class="no-page-break">
            <thead>
               <tr>
                  <th><%= cover_note_header %></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><%= cover_note %></td>
               </tr>
            </tbody>
         </table>
      </div>
      <% end %>
      <!-- Signature Note -->
      <div class="footer-bottom">
         <div class="section">
            <div class="footer-bottom-left">
               <div class="terms-text">
                  <%= terms_conditions %>
               </div>
            </div>
            <div class="footer-bottom-right">
               <table>
                  <tbody>
                     <tr>
                        <td class="labels first footer-subtotal">
                           <% if has_setup_charges? %>
                           <p><%= setup_charges_header %>:</p>
                           <% end %>
                           <% if has_shipping_charges? %>
                           <p><%= shipping_charges_header %>:</p>
                           <% end %>
                           <% if has_finance_charges? %>
                           <p><%= finance_charges_header %>:</p>
                           <% end %>
                           <% if has_misc_charges? %>
                           <p><%= misc_charges_header %>:</p>
                           <% end %>
                           <p><%= subtotal_header %>:</p>
                           <% if show_tax  %>
                           <% if use_tax_codes? %>
                           <p><%= total_tax_header %>:</p>
                           <% else %>
                           <p><%= total_tax_header %> (<%= tax_rate %>):</p>
                           <% end %>
                           <% end %>
                           <% if coupon_code_discount_header %>
                           <p class="footer-discount"><%= coupon_code_discount_header %>:</p>
                           <% end %>
                           <p class="footer-total"><strong><%= final_price_header %>:</strong></p>
                           <% if show_multi_currecies %>
                           <p class="footer-total"><strong><%= final_price_header_exchange %></strong></p>
                           <% end %>
                        </td>
                        <td class="money last footer-subtotal">
                           <% if has_setup_charges? %>
                           <p><%= setup_charges %></p>
                           <% end %>
                           <% if has_shipping_charges? %>
                           <p><%= shipping_charges %></p>
                           <% end %>
                           <% if has_finance_charges? %>
                           <p><%= finance_charges %></p>
                           <% end %>
                           <% if has_misc_charges? %>
                           <p><%= misc_charges %></p>
                           <% end %>
                           <p><%= sub_total %></p>
                           <% if show_tax  %>
                           <p><%= total_tax %></p>
                           <% end %>
                           <% if coupon_code_discount %>
                           <p class="footer-discount"><%= coupon_code_discount %></p>
                           <% end %>
                           <p class="footer-total"><strong><%= final_price %></strong></p>
                           <% if show_multi_currecies %>
                           <p class="footer-total"><strong><%= final_price_exchange %></strong></p>
                           <% end %>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="clearfix"></div>
         </div>
         <% if (not use_tax_codes?) and has_tax_split? and show_tax_split? %>
         <div class="split-tax">
            <h4><%= split_taxes_header %></h4>
            <% tax_split.each_with_index do |(name, rate), i| %>
            <div class="split-tax-parent-cell">
               <div class="split-tax-cell">
                  <%= name %>(<%= rate %>%)
               </div>
               <div class="split-tax-cell" style="font-weight: normal">
                  <%= tax_subtotal(rate.to_f) %>
               </div>
            </div>
            <% end %>
            <div class="clearfix"></div>
         </div>
         <% end %>
         <% if use_tax_codes? %>
         <div class="split-tax">
            <h4 style="font-weight: normal"><%= tax_totals_header %></h4>
            <% tax_totals_table.each do |k, value| %>
            <div class="split-tax-parent-cell">
               <div class="split-tax-cell" style="font-weight: normal">
                  <%= value[:name] %>(<%= value[:rate] %>%)
               </div>
               <div class="split-tax-cell" style="font-weight: normal">
                  <%= to_pdf_dollars(value[:total]) %>
               </div>
            </div>
            <% end %>
            <div class="clearfix"></div>
         </div>
         <% end %>
         <% if show_discounts %>
         <div>
            <table class="discount-table">
               <tbody>
                  <tr>
                     <% if show_range_volume_discounts %>
                     <% if total_range_discount >0 || total_volume_discount >0  %>
                     <th><b><%= total_discount_header %></b></th>
                     <td><%= total_discount %>(<%= total_discount_percentage %>%)</td>
                     <%end%>
                     <% if total_range_discount >0 %>
                     <th><b><%= range_discount %></b></th>
                     <td><%= total_range_discount_in_dollars %></td>
                     <%end%>
                     <% if total_volume_discount >0 %>
                     <th><b><%= volume_discount %></b></th>
                     <td><%= total_volume_discount_in_dollars %></td>
                     <%end%>
                     <% if total_discount_price != 0.0%>
                     <th><b><%= customer_discount %></b></th>
                     <td><%= total_discount_price_in_dollars %></td>
                     <%end%>
                     <%else%>
                     <% if total_discount_price != 0.0%>
                     <th><b><%= customer_discount %></b></th>
                     <td><%= total_discount_price_in_dollars %></td>
                     <%end%>
                     <%end%>
                  </tr>
               </tbody>
            </table>
         </div>
         <% end %>
         <% if show_downpayment %>
         <div>
            <table class="downpayment-table">
               <tbody>
                  <tr>
                     <th><b> <%= downpayment_header %></b></th>
                     <td><%= downpayment_total %>
                        <% if show_multi_currecies %>
                        | <%= downpayment_total_exchange %>
                        <% end %>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
         <br/>
         <% end %>
         <% if show_signature %>
         <div class="section section--border-bottom">
            <div class="signature terms">
               <table>
                  <tbody>
                     <tr>
                        <td class="handwriting text--up"><%= signature_header %>:</td>
                        <td class="date text--up"><%= date_header %>:</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <% end %>
      </div>
      <% if sage_products %>
      <% sage_products.each do |sage_product| %>
      <div class="page-break-before promo-layout" style="padding: 5pt 35pt; margin-top:56px">
         <div style="margin-right:16px">
            <img class="logo promo-img " src="<%= sage_product.details['image_url'] %>">
         </div>
         <div>
            <h3 style="margin-top:0px">
               <%= sage_product.name %>
            </h3>
            <div>
               <p class="promo-description">Item Number:</p>
               <p>
                  <%= sage_product.part_number%>
               </p>
            </div>
            <div>
               <p class="promo-description">Description:</p>
               <p>
                  <%= sage_product.details['description'] %>
               </p>
            </div>
            <div>
               <p class="promo-description">Colors:</p>
               <p>
                  <%= sage_product.details['colors']&.join(', ') %>
               </p>
            </div>
            <div>
               <p class="promo-description">Decoration Information:</p>
               <p>
                  <%= sage_product.details['dimensions'] %>
               </p>
            </div>
            <div style="margin-top:8px">
               <table class='li-table-view' style="float:none">
                  <thead>
                     <tr>
                        <th>Quantity</th>
                        <th>Price</th>
                     </tr>
                  </thead>
                  <tbody>
                     <% sage_product.prices.each do |price| %>
                     <tr>
                        <td>
                           <%= price['quantity'] %>
                        </td>
                        <td>
                           <%= price['price'] %>
                        </td>
                     </tr>
                     <% end %>
                  </tbody>
               </table>
            </div>
            <div>
               <p class="promo-description">Price Includes:</p>
               <p>
                  <%= sage_product.details['price_includes'] %>
               </p>
            </div>
         </div>
      </div>
      <% end %>
      <%end%>
   </body>
</html>