<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Job PDF</title>
  <style>
    <%= page_size %>
  </style>
</head>
<body style="font-family:Helvetica;">

<div class="job-pdf">

  <!-- INFO -->
  <div class="job-section job-pdf__info">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1 class="job-pdf__info-title"><%= title %></h1>
        </div>
        <div class="col-3">
          <p>Due: <strong><%= due_date %></strong></p>
        </div>
        <div class="col-2">
          <p><strong>SO# <%= order_number %></strong></p>
        </div>
        <div class="col-1">
          <p class="text--right">1 of <strong>2</strong></p>
        </div>
      </div>

    </div>
  </div>


  <!-- COMPANY -->
  <div class="job-section job-pdf__company">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="box box--default box--border">
            <div class="box__title">
              <p>Customer: <strong><%= company_name %></strong></p>
              <% if txn_title.present? %>
                <p><%= txn_title %></p>
              <% end %>
            </div>
            <div class="box__content">
              <p>
                <%= contact_info %>
              </p>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="box box--default box--border box--sm">
            <div class="box__content">
              <table class="table table--list text">
                <tbody>
                <tr>
                  <td>Hard Due Date:</td>
                  <td style="color:red;"><strong><%= hard_due_date %></strong></td>
                </tr>
                <tr>
                  <td>Customer PO:</td>
                  <td><strong><%= customer_po %></strong></td>
                </tr>
                <tr>
                  <td>Sales Rep:</td>
                  <td><strong><%= sales_rep_name %></strong></td>
                </tr>
                <tr>
                  <td>Project Mgr:</td>
                  <td><strong><%= project_manager_name %></strong></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>


  <!-- SHIPPING -->
  <div class="job-section job-pdf__shipping">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="box box--default box--border">
            <div class="box__title">
              <p>Shipping Info:</p>
            </div>
            <div class="box__content">
              <div class="row">
                <div class="col-6">
                  
                    <%= shipping_information %>
                    <br><br>
                    <div class="box__title" style="width:382px;margin-left:-10px;margin-bottom:-10px;background:#ccc;color:black;">
                    <p><strong>Ship Method:<%= shipping_method %></strong></p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="box box--default box--border">
            <div class="box__title">
              <p>Billing Info:</p>
            </div>
            <div class="box__content">
              
                <%= billing_information %>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- DETAILS -->
  <div class="job-section job-pdf__details">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <div class="box box--white box--border box--margin-top">
            <div class="box__title"><b>Description:</b></div>
            <div class="box__content">
              <p>
                <%= description %>
              </p>
            </div>
          </div>
          <!--<% if pa_items.size > 0 %>
            <div class="box box--white box--border box--margin-top">
              <div class="box__title">Item Attributes</div>
              <div class="box__content">
                <table class="table table--no-border table--no-padding">
                  <tbody>
                    <%= pa_table %>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>-->

        </div>
      </div>
    </div>
  </div>

  <!-- BOM - OTHERS -->
    <div class="job-section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="box box--white box--no-padding">
              <div class="box__title"><b>INTIALS:</b></div>
              <div class="box__content">
                <table class="table table--striped">
                  <tbody>
                   <%= labor_table(true) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  <!-- BOM -->
  <% if has_pricing? %>
    <div class="job-section job-pdf__bom">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="box box--white box--no-padding">
              <div class="box__title"><b>BOM:</b></div>
              <div class="box__content">
                <% if apparel_ui? %>
                  <%= apparel_item_table %>
                <% else %>
                  <table class="table table--bom">
                    <thead>
                    <th>Name</th>
                    <th>Qty</th>
                    <th>Attr1</th>
                    <th>Attr2</th>
                    </thead>
                    <tbody>
                      <%= materials_bom_table %>
                    </tbody>
                  </table>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    
          <!--<% if custom_field_items.size > 0 %>
            <div class="col-5">
              <div class="box box--white box--border">
                <div class="box__title">Custom fields:</div>
                <div class="box__content">
                  <table class="table table--no-border table--no-padding">
                    <tbody>
                      <%= custom_field_table %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          <% end %>
          <% if order_custom_field_items.size > 0 %>
            <div class="col-5">
              <div class="box box--white box--border">
                <div class="box__title">Order custom fields:</div>
                <div class="box__content">
                  <table class="table table--no-border table--no-padding">
                    <tbody>
                    <%= order_custom_field_table %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          <% end %>-->
        </div>
      </div>
    </div>
  <% else %>
    <!--<% if custom_field_items.size > 0 %>
      <div class="job-section">
        <div class="container">
          <div class="row">
            <div class="col-5">
              <div class="box box--white box--border">
                <div class="box__title">Custom fields:</div>
                <div class="box__content">
                  <table class="table table--no-border table--no-padding table--th-text-right">
                    <tbody>
                    <%= custom_field_table %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>-->
  <% end %>


  <!-- WORKFLOW -->
  <!--<div class="job-section job-pdf__workflows">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="box box--white box--no-padding">
            <div class="box__title">Workflow: <%= template_name %></div>
            <div class="box__content">
              <div class="job-pdf__workflows">
                <% stages.each do |stage| %>
                <div class="job-pdf__workflow job-pdf__workflow--default">
                  <div class="job-pdf__workflow-title">
                    <p><strong><%= stage.name %></strong></p>
                  </div>
                  <div class="job-pdf__workflow-content">
                    <ol>
                      <% stage.steps.each do |step| %>
                        <li>
                          <span class="clearfix">
                            <span>
                              <strong><%= step.name %></strong>
                            </span>
                            <span class="element--right">
                              <em><%= step.assigned_to_user_initials %></em>
                              <time><%= step.date %></time>
                              <i></i>
                            </span>
                          </span>
                        </li>
                       <% end %>
                    </ol>
                  </div>
                </div>
                <% end %>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
    <!-- DETAILS -->
  <div class="job-section job-pdf__details">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="box box--grey box--border">
            <div class="box__title">
              <div class="row">
                <div class="col-12">
                  <p><b>Design Details:</b></p>
                </div>
              </div>
            </div>
            <div class="box__content">
              <div class="row">
                <div class="col-12">
                  <p>
                    <%= design_details %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="box box--grey box--border">
            <div class="box__title">
              <div class="row">
                <div class="col-12">
                  <p><b>Production details:</b></p>
                </div>
              </div>
            </div>
            <div class="box__content">
              <div class="row">
                <div class="col-12">
                  <p>
                    <%= production_details %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="box box--grey box--border">
            <div class="box__title">
              <div class="row">
                <div class="col-12">
                  <p><b>Install details:</b></p>
                </div>
              </div>
            </div>
            <div class="box__content">
              <div class="row">
                <div class="col-12">
                  <p>
                    <%= install_details %>
                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
