<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
      <style>
         <%= page_size %>
         body {
         font-family: "Arial";
         }         
         @page {
         font-family: "Arial";
         margin: 15pt 0 35pt 0;
         }
         @page :first {
         margin: 0 0 35pt 0;
         @top-left { content: none }
         }
         .addresses {
         padding: 5pt 35pt;
         border-bottom: 0px solid #e3e3e3;
         }
         .address-logo {
         padding: 10pt 35pt 5pt 35pt;
         border-bottom: 2px solid #e3e3e3;
         }
         .store-logo {
         text-align: right;
         vertical-align: top;
         }
         .line-items .last {
         padding-right: 5pt;
         }
         .line-items .first {
         padding-left: 10pt;
         }
         .line-items .position{
         padding-top: 7pt;
         }
         .line-items .quantity{
         padding-top: 7pt;
         }
         .line-items .name{
         padding-top: 7pt;
         }
         .line-items .money{
         padding-top: 7pt;
         }
         .li-desc-fixed-width {
         max-width: 450pt;
         }
         .line-items tbody tr:first-child td {
         border-top: 2px solid #e3e3e3;
         padding-top: 6pt;
         }
         .line-items thead th {
         font-size: 10px;
         text-transform: uppercase;
         color: #999999;
         padding: 5pt 5pt;
         border-right: 2px solid #e3e3e3;
         }
         .line-items tbody tr td {
         vertical-align: top;
         font-size: 9pt;
         padding: 0 5pt;
         border-right: 2px solid #e3e3e3;
         }
         .line-item-description-image {
         margin-top: 5px;
         max-height: 50px;
         width: 80px;
         }
         @page {
         @bottom-right {
         content: " Page " counter(page) " of " counter(pages);
         font-size: 9pt;
         font-weight: normal;
         padding-right: 35pt;
         }
         }
         .section {
         border-top: 0px solid #e3e3e3;
         padding: 0 35pt;
         }
         .footer-bottom-left {
         width: 57%;
         float: left;
         text-align: justify;
         }
         .footer-bottom-right {
         float: right;
         width: 38%;
         border-left: solid 2px #e3e3e3;
         background: #f7f7f7;
         padding: 6pt 6pt 5pt 6pt;
         margin: 10pt 0;
         }
      </style>
   </head>
   <body>
      <div style="display:none" class="document-header">
         <%= header_text %>
      </div>
      <!-- Footer Text for Page footter-->
      <div style="display:none" class="document-footer">
         <%= footer_text %>
      </div>
      <!-- Store Address and Logo -->
      <div class="address-logo">
         <table>
            <tr>
               <td class="store-address">
                  <%= store_address %>
               </td>
               <td class="store-logo">
                  <img class="logo" src="<%= logo %>">
               </td>
            </tr>
         </table>
      </div>
      <div class="summary">
         <table>
            <tr>
               <td class="summ left">
                  <div class="summary-wrapper">
                     <h1 class="main-title"><%= quote_number %> <%= quote_version %><br/>
                        <small><%= name %></small>
                     </h1>
                     <% if project_number %>
                     <p class="title"><%= project_header %></p>
                     <p><%= project_number %></p>
                     <% end %>
                  </div>
               </td>
               <td class="summ right">
                  <div class="summary-wrapper">
                     <p class="title"><%= sales_rep_information_header %></p>
                     <p><%= sales_rep_information %></p>
                  </div>
               </td>
               <td class="summ right">
                  <div class="summary-wrapper">
                     <p class="title"><%= quote_date_header %></p>
                     <p><%= quote_date %></p>
                     <% if quote_ship_date %>
                     <p class="title"><%= quote_ship_date_header %></p>
                     <p><%= quote_ship_date%></p>
                     <% end %>
                     <% if term_code %>
                     <p class="title"><%= term_code_header %></p>
                     <p><%= term_code %></p>
                     <% end %>
                     <% if payment_method %>
                     <p class="title"><%= payment_information_header %></p>
                     <p><%= payment_method %></p>
                     <% end %>
                  </div>
               </td>
               <td class="summ right">
                  <div class="summary-wrapper">
                     <% if po_date %>
                     <p class="title"><%= po_number_header %></p>
                     <p><%= po_number %></p>
                     <% end %>
                     <% if po_date %>
                     <p class="title"><%= po_date_header %></p>
                     <p><%= po_date %></p>
                     <% end %>
                     <% if shipping_method %>
                     <p class="title"><%= shipping_method_header %></p>
                     <p><%= shipping_method %></p>
                     <% end %>
                  </div>
               </td>
            </tr>
         </table>
      </div>
      <!-- Sold To, Contact Info and Shipping Address -->
      <div class="addresses">
         <table>
            <tr>
               <td class="address left">
                  <div class="address-wrapper">
                     <p class="title"><%= ordered_by_header %></p>
                     <p><%= company_name %></p>
                     <p>
                        <% unless @object.company.account_number.blank?%><i>Account Number: <%= @object.company.account_number.present? ? @object.company.account_number : '' %></i><% end %>
                     </p>
                     <p><% if billing_address_street %><%= billing_address_street %> <%end%>
                        <% if billing_address_street1 %>, <%= billing_address_street1 %><%end%>
                     </p>
                     <p> <% if billing_address_city %><%= billing_address_city %>, <%end%>
                        <% if billing_address_state %><%= billing_address_state %>, <%end%>
                        <% if billing_address_zip %><%= billing_address_zip %><%end%>
                     </p>
                     <p><%if check_exist_empty('billing_address_attention_to') != nil %>
                        <%= check_exist_empty('billing_address_attention_to') %>
                        <%end%>
                     </p>
                  </div>
               </td>
               <% if (shipping_address_type != 'DropShip' && sold_to(show_company_name = false).present? ) || shipping_tracking.present? ||  (shipping_information.present? && ui_field_visibility('quote/shipping_address_id')) %>
               <td class="address left">
                  <div class="address-wrapper">
                     <p class="title"><%= shipping_information_header %></p>
                     <%if check_exist_empty('shipping_address_street') != nil %>
                     <p><%=check_exist_empty('shipping_address_street')%><%end%>
                        <%if check_exist_empty('shipping_address_street1') != nil %> ,<%=check_exist_empty('shipping_address_street1')%>
                     </p>
                     <%end%>
                     <p><%if check_exist_empty('shipping_address_city') != nil %><%=check_exist_empty('shipping_address_city')%>,<%end%>
                        <%if check_exist_empty('shipping_address_state') != nil %><%=check_exist_empty('shipping_address_state')%>, <%end%>
                        <%if check_exist_empty('shipping_address_zip') != nil %><%=check_exist_empty('shipping_address_zip')%><%end%>
                     </p>
                     <%if check_exist_empty('shipping_address_attention_to') != nil %>
                     <p><%=check_exist_empty('shipping_address_attention_to')%></p>
                     <%end%>
                     <%if shipping_tracking %>
                     <br/>
                     <p class="title"><%= shipping_tracking_header%></p>
                     <%= shipping_tracking %>
                     <% end %>
                  </div>
               </td>
               <% end %>
               <% if ui_field_visibility('quote/installing_address_id') and installing_information.present? %>
               <td class="address left">
                  <div class="address-wrapper">
                     <p class="title"><%= installing_information_header %></p>
                     <%= installing_information %></p>
                  </div>
               </td>
               <% end %>
               <td class="address left">
                  <div class="address-wrapper">
                     <p class="title"><%= contact_information_header %></p>
                     <p><%= contact_information %></p>
                  </div>
               </td>
            </tr>
         </table>
      </div>
      <% if show_about_this_desc and description.present? %>
      <div class="description_area">
         <table>
            <tr>
               <td class="header">
                  <%= about_this_quote_header %>:
               </td>
               <td class="description page-break-after">
                  <%= description %>
               </td>
            </tr>
         </table>
      </div>
      <% end %>
      <div class="line-items" style = "border-top: 2px solid #e3e3e3;">
         <!--<h2 class="title"><%= items_header %></h2>-->
         <% if show_multi_currecies %>
         <p class="currency-note">
            All prices in (default currency) except for the final price at the bottom showing in your local currency.
         </p>
         <% end %>
         <table>
            <thead>
               <tr>
                  <th class="position">
                     <div class="first">#</div>
                  </th>
                  <th class="position" style="width: 10%;">
                     <div class="first">SKU</div>
                  </th>
                  <th class="name"><%= item_header %></th>
                  <th class="quantity">QUANTITY</th>
                  <th class="money"><%= unit_price_header %></th>
                  <% if show_discounts && total_discount_price != 0.0 %>
                  <th class="quantity"><%= discount_header %> </th>
                  <th class="quantity"><%= discount_price_header %> </th>
                  <% end %>
                  <th class="money">
                     <div class="last"><%= total_excl_header %></div>
                  </th>
               </tr>
            </thead>
            <tbody class='' style="border-bottom: 2px solid #e3e3e3;">
               <% items.each_with_index do |item, index| %>
               <tr style="border-top: 2px solid #e3e3e3;">
                  <td class="position" rowspan="2">
                     <div class="first">
                        <%= index + 1 %>
                     </div>
                  </td>
                  <td class="position" rowspan="2">
                     <div style="font-size:8px;">
                        <%= item.sku %>
                     </div>
                  </td>
                  <td class="name"><%= item.name %></td>
                  <td class="quantity" rowspan="2"><%= number_with_precision(item.quantity, precision: 5, strip_insignificant_zeros: true) %></td>
                  <td class="money" rowspan="2"><%= item.unit_price.slice(0, item.unit_price.index('.') + 3) %></td>
                  <% if show_discounts && total_discount_price != 0.0 %>
                  <td class="quantity" rowspan="2"><%= item.discount_percentage %> </td>
                  <td class="quantity" rowspan="2"><%= item.unit_price_after_discount %></td>
                  <% end %>
                  <td class="money" rowspan="2">
                     <div class="last">
                        <%= item.total_price %>
                     </div>
                  </td>
               </tr>
               <tr>
                  <% if show_discounts && total_discount_price != 0.0 %>
                  <td class="description" colspan="7">
                     <% else %>
                  <td class="description" colspan="5">
                     <% end %>
                     <div>
                        <% if item.table_view %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.li_grid_html_view %>
                        </div>
                        <% else %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.description %>
                        </div>
                        <% end %>
                        <% if item.show_custom_fields(item.description_hash[:custom_fields])&& item.description_hash[:custom_fields].any?  && item.table_view %>
                        <hr class="custom-field-separator">
                        <%= item.generate_custom_field_values(item.description_hash[:custom_fields]) %>
                        <hr class="custom-field-separator">
                        <% end %>
                        <% if item.product_picture_assets.count > 0 %>
                        <% item.product_picture_assets.each do |asset| %>
                        <img src="<%= asset.file_url %>" class="line-item-description-image">
                        <% end %>
                        <% end %>
                        <% if item.product_image %>
                        <img src="<%= item.product_image %>" class="line-item-description-image">
                        <% end %>
                        <% if item.table_view %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.li_grid_html_view(show_child_items: true) %>
                        </div>
                        <% end %>
                     </div>
                  </td>
               </tr>
               <% end %>
            </tbody>
         </table>
      </div>
      <% if customer_note.present? %>
      <div class="note">
         <table class="no-page-break">
            <thead>
               <tr>
                  <td><%= customer_note_header %></td>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><%= customer_note %></td>
               </tr>
            </tbody>
         </table>
      </div>
      <% end %>
      <!-- Signature Note -->
      <div class="footer-bottom">
         <div class="section">
            <div class="footer-bottom-left">
               <div class="terms-text">
                  <%= terms_conditions %>
               </div>
            </div>
            <div class="footer-bottom-right">
               <table>
                  <tbody>
                     <tr>
                        <td class="labels first footer-subtotal">
                           <% if has_setup_charges? %>
                           <p><strong><%= setup_charges_header %>:</strong></p>
                           <% end %>
                           <% if has_shipping_charges? %>
                           <p><strong><%= shipping_charges_header %>:</strong></p>
                           <% end %>
                           <% if has_finance_charges? %>
                           <p><strong><%= finance_charges_header %>:</strong></p>
                           <% end %>
                           <% if has_misc_charges? %>
                           <p><strong><%= misc_charges_header %>:</strong></p>
                           <% end %>
                           <p><strong><%= subtotal_header %>:</strong></p>
                           <% if show_tax  %>
                           <% if use_tax_codes? %>
                           <p><strong><%= total_tax_header %>:</strong></p>
                           <% else %>
                           <p><strong><%= total_tax_header %> (<%= tax_rate %>):</strong></p>
                           <% end %>
                           <% end %>
                           <% if coupon_code_discount_header %>
                           <p class="footer-discount"><strong><%= coupon_code_discount_header %>:</strong></p>
                           <% end %>
                           <p class="footer-total"><strong><%= final_price_header %>:</strong></p>
                           <% if show_multi_currecies %>
                           <p class="footer-total"><strong><%= final_price_header_exchange %></strong></p>
                           <% end %><% if show_downpayment %><br>
                           <p style="border-top: 2px solid #e3e3e3;border-bottom: 2px solid #e3e3e3;padding-top: 5pt;padding-bottom: 5pt;"><b> <%= downpayment_header %></b></p>
                           <% end %>
                        </td>
                        <td class="money last footer-subtotal">
                           <% if has_setup_charges? %>
                           <p><strong><%= setup_charges %></strong></p>
                           <% end %>
                           <% if has_shipping_charges? %>
                           <p><strong><%= shipping_charges %></strong></p>
                           <% end %>
                           <% if has_finance_charges? %>
                           <p><strong><%= finance_charges %></strong></p>
                           <% end %>
                           <% if has_misc_charges? %>
                           <p><strong><%= misc_charges %></strong></p>
                           <% end %>
                           <p><strong><%= sub_total %></strong></p>
                           <% if show_tax  %>
                           <p><strong><%= total_tax %></strong></p>
                           <% end %>
                           <% if coupon_code_discount %>
                           <p class="footer-discount"><strong><%= coupon_code_discount %></strong></p>
                           <% end %>
                           <p class="footer-total"><strong><%= final_price %></strong></p>
                           <% if show_multi_currecies %>
                           <p class="footer-total"><strong><%= final_price_exchange %></strong></p>
                           <% end %><% if show_downpayment %><br>
                           <p style="border-top: 2px solid #e3e3e3;border-bottom: 2px solid #e3e3e3;padding-top: 5pt;padding-bottom: 5pt;"><%= downpayment_total %></p>
                           <% end %>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="clearfix"></div>
         </div>
         <% if show_signature %>
         <div class="section section--border-bottom">
            <div class="signature terms">
               <table>
                  <tbody>
                     <tr>
                        <td style="padding-bottom: 10pt;"><strong>QUOTE APPROVED</strong><br></td>
                     </tr>
                     <tr>
                        <td class="handwriting text--up text--bold"><%= signature_header %>:</td>
                        <td class="date text--up text--bold" style="width: 60%;"><%= date_header %>:</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <% end %>
      </div>
   </body>
</html>

