<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
      <style>
         <%= body_font_family %>
         <%= page_size %>
         @page {
         margin: 15pt 0 35pt 0;
         }
         @page :first {
         margin: 0 0 35pt 0;
         @top-left { content: none }
         }
      </style>
   </head>
   <body>
      <div style="display:none" class="document-header">
         <%= header_text %>
      </div>
      <div style="display:none" class="document-footer">
         <%= footer_text %>
      </div>
      <div class="address-logo">
         <% if show_address_logo_on_work_order %>
         <table>
            <tr>
               <td class="store-address">
                  <p><%= store_name %></p>
                  <%if store_address_street%>
                  <p><%= store_address_street %><%end%>
                     <%if store_address_street1%><%= store_address_street1 %>
                  </p>
                  <%end%>
                  <%if store_address_zip %>
                  <p><%= store_address_zip%> <%end%> 
                     <%if store_address_state %> <%= store_address_state%>
                  </p>
                  <%end%>
                  <% if store_email%>
                  <p><%=store_email%></p>
                  <%end%>
                  <% if store_phone%><p><%=store_phone.tr('-', ' ')%></p><%end%>
               </td>
               <td class="store-logo">
                  <img class="logo" src="<%= logo %>">
               </td>
            </tr>
         </table>
         <% end %>
      </div>
      <div class="summary">
         <table>
            <tr>
               <td class="summ left">
                  <div class="summary-wrapper">
                     <h1 class="main-title"><%= work_order_number %> <br/>
                        <small><%= name %></small>
                     </h1>
                     <% if project_number %>
                     <p class="title"><%= project_header %></p>
                     <p><%= project_number %></p>
                     <% end %>
                  </div>
               </td>
               <td class="summ right">
                  <div class="summary-wrapper">
                     <p class="title"><%= sales_rep_information_header %></p>
                     <p><%= sales_rep_information %></p>
                  </div>
                  <% if quote_information %>
                  <div class="summary-wrapper">
                     <p class="title"><%= quote_information_header %></p>
                     <p><%= quote_information %></p>
                  </div>
                  <% end %>
               </td>
               <td class="summ right">
                  <div class="summary-wrapper">
                     <p class="title"><%= work_order_date_header %></p>
                     <p><%= work_order_date %></p>
                     <% if term_code %>
                     <p class="title"><%= term_code_header %></p>
                     <p><%= term_code %></p>
                     <% end %>
                  </div>
               </td>
               <td class="summ right">
                  <div class="summary-wrapper">
                     <% if ship_date %>
                     <p class="title"><%= shipping_date_header %></p>
                     <p><%= ship_date %></p>
                     <% end %>
                     <% if due_date %>
                     <p class="title"><%= due_date_header %></p>
                     <p><%= due_date %></p>
                     <% end %>
                     <% if install_date %>
                     <p class="title"><%= install_date_header %></p>
                     <p><%= install_date %></p>
                     <% end %>
                     <% if shipping_method %>
                     <p class="title"><%= shipping_method_header %></p>
                     <p><%= shipping_method %></p>
                     <% end %>
                     <% if has_rush_job? %>
               <td class="title" >
               <span style="size:13;color:red;"><b>Rush</b></span>
               </td>
               <% end %>
               </div>
               </td>
               <td class="summ right">
                  <div class="summary-wrapper">
                     <% if po_number %>
                     <p class="title"><%= customer_po_header %></p>
                     <p><%= po_number %></p>
                     <% end %>
                     <% if po_date %>
                     <p class="title"><%= po_date_header %></p>
                     <p><%= po_date %></p>
                     <% end %>
                  </div>
                  <br/>
               </td>
            </tr>
         </table>
      </div>
      <div class="addresses">
         <table>
            <tr>
               <td class="address left">
                  <div class="address-wrapper">
                     <p class="title">Bestellt von</p>
                     <p><%= sold_to %></p>
                     
                        <% if billing_address_street %><p><%= billing_address_street %> <%end%>
                        <% if billing_address_street1 %><%= billing_address_street1 %></p> <br><%end%>
                        <% if billing_address_zip %><p><%= billing_address_zip %>  <%end%>
                        <% if billing_address_city %><%= billing_address_city %> <%end%>   
                     </p>
                  </div>
               </td>
               <% if (shipping_address_type != 'DropShip' && sold_to(show_company_name = false).present?) || shipping_tracking.present? || (shipping_information.present? && ui_field_visibility('sales_order/shipping_address_id') ) %>
               <td class="address left">
                  <div class="address-wrapper">
                     <p class="title"><%= shipping_information_header %></p>
                     <% if shipping_address_type != 'DropShip' %>
                     <%= sold_to(show_company_name = false) %>
                     <% end %>
                    <%if check_exist_empty('shipping_address_name') != nil %> 
                     <p> <%=check_exist_empty('shipping_address_name')%></p>
                     <%end%>
                     <%if check_exist_empty('shipping_address_street') != nil %>
                     <p><%=check_exist_empty('shipping_address_street')%> <%end%>
                        <%if check_exist_empty('shipping_address_street1') != nil %><%=check_exist_empty('shipping_address_street1')%>
                     </p>
                     <%end%>
                     <p><%if check_exist_empty('shipping_address_zip') != nil %><%=check_exist_empty('shipping_address_zip')%> <%end%>
                        <%if check_exist_empty('shipping_address_city') != nil %><%=check_exist_empty('shipping_address_city')%><%end%>
                     </p>
                     </p>
                     <%if shipping_tracking.present? %>
                     <br/>
                     <p class="title"><%= shipping_tracking_header%></p>
                     <%= shipping_tracking %>
                     <% end %>
                  </div>
                  <% end %>
                  <% if ui_field_visibility('sales_order/installing_address_id') and installing_information.present? %>
               <td class="address left">
                  <div class="address-wrapper">
                     <p class="title"><%= installing_information_header %></p>
                     <%= installing_information %></p>
                  </div>
               </td>
               <% end %>
               <td class="address left">
                  <div class="address-wrapper">
                     <p class="title"><%= contact_information_header %></p>
                     <p><%= contact_information %></p>
                  </div>
               </td>
               <td class="address left">
                  <div class="address-wrapper">
                     <p class="title"><%= production_manager_header %></p>
                     <p><%= production_manager_name %></p>
                  </div>
               </td>
               <td class="address left">
                  <div class="address-wrapper">
                     <p class="title"><%= project_manager_header %></p>
                     <p><%= project_manager_name %></p>
                  </div>
               </td>
            </tr>
         </table>
      </div>
      <% if show_about_this_desc and description.present? %>
      <div class="description_area">
         <table>
            <tr>
               <td class="header">
                  <%= about_this_wo_header %>:
               </td>
               <td class="description">
                  <%= description %>
               </td>
            </tr>
         </table>
      </div>
      <% end %>
      <div class="line-items">
         <!--<h2 class="title"><%= items_header %></h2>-->
         <table>
            <thead>
               <tr>
                  <th class="position">
                     <div class="first">#</div>
                  </th>
                  <th class="name"><%= item_header %></th>
                  <th class="state"><%= state_header %></th>
                  <th class="quantity"><%= qty_header %></th>
                  <th class="quantity">
                     <div class="last"><%= uom_header %></div>
                  </th>
               </tr>
            </thead>
            <% items.each_with_index do |item, index| %>
            <tbody>
               <tr>
                  <td class="position" rowspan="2">
                     <div class="first">
                        <%= index + 1 %>
                     </div>
                  </td>
                  <td class="name">
                     <%= item.name %><br>
                     <div class="title-dates">
                        <%= item.get_job_art_due_date %>
                     </div>
                  </td>
                  <td class="state"><%= item.state_wo_in %></td>
                  <td class="quantity"><%= number_with_precision(item.quantity, precision: 5, strip_insignificant_zeros: true) %></td>
                  <td class="quantity">
                     <div class="last"><%= item.uom %></div>
                  </td>
               </tr>
               <tr>
                  <td class="description">
                     <div class="last">
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.description %>
                        </div>
                        <% if item.table_view %>
                        <% if item.has_bom? %>
                        <ul class="bom_report bom_report_detail">
                           <% item.bom_hash.keys.each do |item_type| %>
                           <li class="bom_report bom_report_detail bom_report_first">
                              <%= item_type %>
                              <% if item.bom_hash[item_type].size > 0 %>
                              <ul class="bom_report bom_report_detail bom_report_detail_level">
                                 <% item.bom_hash[item_type].keys.each do |item_sub_type| %>
                                 <%if item_type != "Material" %>
                                 <li class="bom_report"><%= item_sub_type %></li>
                                 <% end %>
                                 <ul class="bom_report bom_report_detail bom_report_detail_level bom_report_detail_last">
                                    <% item.bom_hash[item_type][item_sub_type].compact.each do |li| %>
                                    <li class="bom_report">
                                       <% if li.is_a?(Hash) %>
                                       <%if item_type != "Material" %>
                                       <%= li[:category] if li[:category] %>
                                       <% end %>
                                       <%= "#{li[:name]} #{li[:quantity]} #{li[:units]}<br>" %>
                                       <%= "Part ##{li[:part_number]}<br>" if li[:part_number].present? && show_part_number(@account) %>
                                       <% if li[:item_attr_name1] %>
                                       <%= "&nbsp;&nbsp;#{li[:item_attr_name1]}: #{li[:item_attr1]}" %>
                                       <% end %>
                                       <% if li[:item_attr_name2] %>
                                       <%= "&nbsp;&nbsp;#{li[:item_attr_name2]}: #{li[:item_attr2]}" %>
                                       <% end %>
                                       <% if li[:sub_items] %>
                                       <% li[:sub_items].group_by{ |i| i[:item_attr2]}.each do |sub_item| %>
                                       <table class='li-table-view-container'>
                                          <tr>
                                             <td class='li-table-view-name'>
                                                <%= "#{sub_item[1][0][:item_attr_name2]}: #{sub_item[0]}" %>
                                             </td>
                                             <td>
                                                <table class='li-table-view'>
                                                   <tr>
                                                      <%= sub_item[1].map{|col| "<th>#{col[:item_attr1]}</th>"}.join %>
                                                   </tr>
                                                   <tr>
                                                      <%= sub_item[1].map{|col| "<td>#{col[:quantity].to_i}</td>"}.join %>
                                                   </tr>
                                                </table>
                                             </td>
                                          </tr>
                                       </table>
                                       <% end %>
                                       <% end %>
                                       <% if item.material_image( li[:image_url], li[:print_image_on_pdf]) %>
                                       <img src="<%= item.material_image( li[:image_url], li[:print_image_on_pdf]) %>" class="line-item-description-image">
                                       <% end %>
                                       <% else %>
                                       <%= li %>
                                       <% end %>
                                    </li>
                                    <% end %>
                                 </ul>
                                 <% end %>
                              </ul>
                              <% end %>
                           </li>
                           <% end %>
                        </ul>
                        <% end %>
                        <% else %>
                        <% if item.has_bom? %>
                        <ul class="bom_report bom_report_detail">
                           <% item.bom_report.keys.each do |item_type| %>
                           <% unless item_type == 'Material' && item.table_view %>
                           <li class="bom_report bom_report_detail bom_report_first">
                              <%= item_type %>
                              <% if item.bom_report[item_type].size > 0 %>
                              <ul class="bom_report bom_report_detail bom_report_detail_level">
                                 <% item.bom_report[item_type].keys.each do |item_sub_type| %>
                                 <%if item_type != "Material" %>
                                 <li class="bom_report"><%= item_sub_type %></li>
                                 <% end %>
                                 <ul class="bom_report bom_report_detail bom_report_detail_level bom_report_detail_last">
                                    <% item.bom_report[item_type][item_sub_type].each do |li| %>
                                    <li class="bom_report">
                                       <div class="text--pre-line li-desc-fixed-width">
                                          <%= li %>
                                       </div>
                                    </li>
                                    <% end %>
                                 </ul>
                                 <% end %>
                              </ul>
                              <% end %>
                           </li>
                           <% end %>
                           <% end %>
                        </ul>
                        <% end %>
                        <% end %>
                     </div>
                     <% if item.panel_description_enabled? %>
                     <div>
                        <%= item.panel_description %>
                     </div>
                     <% end %>
                     <div>
                        <div class='design_details'>
                           <div class="text--pre-line">
                              <%= simple_format(item.design_details )%>
                           </div>
                        </div>
                        <div class='production_details'>
                           <div class="text--pre-line">
                              <%= simple_format(item.production_details) %>
                           </div>
                        </div>
                        <div class='shipping_details'>
                           <div class="text--pre-line">
                              <%= simple_format(item.shipping_details) %>
                           </div>
                        </div>
                        <div class='install_details'>
                           <div class="text--pre-line">
                              <%= simple_format(item.install_details) %>
                           </div>
                        </div>
                     </div>
                     <% if item.product_picture_assets.count > 0 %>
                     <% item.product_picture_assets.each do |asset| %>
                     <img src="<%= asset.file_url %>" class="line-item-description-image">
                     <% end %>
                     <% end %>
                     <% if item.product_image %>
                     <img src="<%= item.product_image %>" class="line-item-description-image">
                     <% end %>
                  </td>
                  <td colspan="3">
                     <% if item.job.present? && item.job.is_proof_approved? && !@proofs_job_ids.include?(item.job.id)%>
                     <% @proofs_job_ids << item.job.id %>
                     <div class="job-attributes">
                        <div class="proof">
                           <div class="head">
                              <%= item.job.proof_head %><br>
                              <%= "#{due_date_header}: #{item.job.due_date}" %>
                           </div>
                           <div class="image">
                              <img class="proof small" src="<%= item.job.proof_image(300) %>">
                           </div>
                        </div>
                     </div>
                     <% end %>
                  </td>
               </tr>
               <% if item.job.present? and show_workflow_steps? %>
               <tr>
                  <td colspan="5">
                     <div class="stages">
                        <% item.job.stages.each do |stage| %>
                        <div class="stage">
                           <div class="stage-title"><%= "#{translate_word(stage.header, 'pdfs.job.stages')}"  %></div>
                           <div class="stage-wrapper clearfix">
                              <% stage.steps.each do |step| %>
                              <% if !step.skip %>
                              <div class="step <%= step.state %>">
                                 <div class="step-info clearfix">
                                    <div class="name"><%= "#{translate_word(step.name, 'pdfs.job.steps')}"  %></div>
                                    <div class="number"><%= step.num_iterations %></div>
                                 </div>
                                 <% unless step.assigned_to_user_initials.blank? %>
                                 <div class="estimated-time"><%= step.assigned_to_user_initials %> <strong><%= step.estimated_user_time %>min</strong></div>
                                 <% end %>
                                 <% unless step.scheduled_machine_name.blank? %>
                                 <div class="estimated-time"><%= step.scheduled_machine_name %> <strong><%= step.estimated_machine_time %>min</strong></div>
                                 <% end %>
                              </div>
                              <% end %>
                              <% end %>
                           </div>
                        </div>
                        <% end %>
                     </div>
                  </td>
               </tr>
               <% end %>
            </tbody>
            <% end %>
            <tfoot class="no-page-break">
            </tfoot>
         </table>
      </div>
      <% if customer_note.present? %>
      <div class="note">
         <table class="no-page-break">
            <thead>
               <tr>
                  <td><%= customer_note_header %></td>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><%= customer_note %></td>
               </tr>
            </tbody>
         </table>
      </div>
      <% end %>
      <% if internal_note.present? %>
      <div class="note">
         <table class="no-page-break">
            <thead>
               <tr>
                  <td><%= internal_note_header %></td>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><%= internal_note %></td>
               </tr>
            </tbody>
         </table>
      </div>
      <% end %>
      <% if cover_note.present? %>
      <div class="note">
         <table class="no-page-break">
            <thead>
               <tr>
                  <th><%= cover_note_header %></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><%= cover_note %></td>
               </tr>
            </tbody>
         </table>
      </div>
      <% end %>
   </body>
</html>

