<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Job PDF</title>
      <style>
         <%= page_size %>
         <%= body_font_family %>
         .li-desc-fixed-width {
         max-width: 550pt;
         }
         @page{
         @bottom-right {
         content: counter(page) "/" counter(pages);
         font-size: 12pt;
         font-weight: normal;
         padding-right: 35pt;
         padding-bottom: 5pt;
         }
         }
      </style>
   </head>
   <body>
      <div class="job-pdf" id="page-job-new">
         <!-- INFO -->
         <div class="job-section job-pdf__info">
            <div class="container">
               <div class="row">
                  <div class="col-6">
                     <h1 class="job-pdf__info-title">
                        <strong style="font-size: 20pt;"><%= company_name %></strong><br>
                        <% if re_design? %>
                        <span class="job-virtual-step">Re-Design</span>
                        <% end %>
                     </h1>
                  </div>
                  <div class="col-3">
                     <p><%= due_header %>: <%= due_date %></strong></p>
                  </div>
                  <% if order_number %>
                  <div class="col-3">
                     <p>
                        <strong><span style="font-size: 20pt;"><%= order_type %># <%= order_number %></span></strong><br>
                        <% if related_quotes.present? %>
                        <%= related_quotes %>
                        <% end %>
                     </p>
                  </div>
                  <% end %>
                  <!--<div class="col-1">-->
                  <!--<p class="text&#45;&#45;right">1 of <strong>2</strong></p>-->
                  <!--</div>-->
               </div>
            </div>
         </div>
         <!-- RUSH -->
         <% if job_rush %>
         <div class="job-section job-section--mb-none">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <p class="job-rush"><%= job_rush_text %></p>
                  </div>
               </div>
            </div>
         </div>
         <% end %>
         <!-- COMPANY -->
         <div class="job-section job-pdf__company">
            <div class="container">
               <div class="row">
                  <div class="col-6">
                     <div class="box box--default box--border">
                        <div class="box__title">
                           <% if @object.order.title.present? %>
                           <p style="font-size: 18pt;"><%= @object.order.title %></p>
                           <% end %>
                        </div>
                        <div class="box__content">
                           <p>
                              <%= contact_info %>
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-3">
                     <div class="box box--default box--border box--sm">
                        <div class="box__content">
                           <table class="table table--list text--sm">
                              <tbody>
                                 <tr>
                                    <td><%= customer_po_header %>:</td>
                                    <td><%= customer_po %></td>
                                 </tr>
                                 <tr>
                                    <td><%= sales_rep_header %>:</td>
                                    <td><%= sales_rep_name %></td>
                                 </tr>
                                 <tr>
                                    <td><%= project_manager_header %>:</td>
                                    <td><%= project_manager_name %></td>
                                 </tr>
                                 <tr>
                                    <td><%= product_manager_header %>:</td>
                                    <td><%= pm_name %></td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  <div class="col-3">
                     <div class="box box--default box--border box--sm">
                        <div class="box__content">
                           <table class="table table--list text--sm">
                              <tbody>
                                 <tr>
                                    <td><%= in_hand_date_header %>:</td>
                                    <td><%= in_hand_date %></td>
                                 </tr>
                                 <tr>
                                    <td><%= install_date_header %>:</td>
                                    <td><%= install_date %></td>
                                 </tr>
                                 <tr>
                                    <td><%= hard_due_header %>:</td>
                                    <td><%= hard_due_date %></td>
                                 </tr>
                                 <tr>
                                    <td><%= art_due_date_header %>:</td>
                                    <td><%= art_due_date %></td>
                                 </tr>
                                 <tr>
                                    <td><%= production_due_header %>:</td>
                                    <td><%= production_due_date %></td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- DETAILS -->
         <div class="job-section job-pdf__details">
            <div class="container">
               <div class="row">
                  <div class="col-6">
                     <div class="box box--default box--border">
                        <div class="box__title">
                           <p><%= shipping_to_header %>:</p>
                        </div>
                        <div class="box__content">
                           <div class="row">
                              <div class="col-6">
                                 <address>
                                    <%= shipping_information %>
                                 </address>
                              </div>
                              <div class="col-6">
                                 <table class="table table--list">
                                    <tbody>
                                       <tr>
                                          <td class="text--nowrap"><%= shipping_method_header %>:</td>
                                          <td><%= shipping_method %></td>
                                       </tr>
                                       <tr>
                                          <td><%= shipping_date_header %>:</td>
                                          <td><%= shipping_date %></td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="box box--default box--border" style="padding-top: 10pt;">
                        <div class="box__title">
                           <p><%= billing_to_header %>:</p>
                        </div>
                        <div class="box__content">
                           <address>
                              <%= billing_information %>
                           </address>
                        </div>
                     </div>
                     <% if ui_field_visibility('job/installing_address_id') and installing_information.present? %>
                     <div class="box box--default box--border" style="padding-top: 10pt;">
                        <div class="box__title">
                           <p><%= install_to_header %>:</p>
                        </div>
                        <div class="box__content">
                           <address>
                              <%= installing_information %>
                           </address>
                        </div>
                     </div>
                     <% end %>
                  </div>
                  <div class="col-6">
                     <div class="box box--grey box--border">
                        <div class="box__content box__content-proof-img text--center">
                           <div>
                              <img src="<%= proof_image(500,300) %>">
                           </div>
                        </div>
                        <div>
                           <%= proof_local_file_path %>
                        </div>
                        <div class="box__title">
                           <%= proof_footer %>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- LINE ITEMS - LIST -->
         <div class="job-section">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <div class="box box--grey box--border box--avoid-page-break-inside">
                        <div class="box__title">
                           <p><%= line_items_details_header %>:</p>
                        </div>
                        <div class="box__content box__content--no-padding">
                           <table class="table table--line-items table--line-items-no-border">
                              <thead>
                                 <tr>
                                    <th class="text--left td--shrink">#</th>
                                    <th class="text--left"><%= item_header %></th>
                                    <th><%= qty_header %></th>
                                 </tr>
                              </thead>
                              <tbody class='no-page-break'>
                                 <% items.each_with_index do |item, index| %>
                                 <tr>
                                    <td class="td--shrink"><%= index+1 %></td>
                                    <td>
                                       <p><strong><%= item.name %></strong></p>
                                       <div class="text--pre-line li-desc-fixed-width">
                                          <%= item.description %>
                                       </div>
                                       <% if item.table_view %>
                                       <% if item.has_bom? %>
                                       <ul class="bom_report bom_report_detail">
                                          <% item.bom_hash.keys.each do |item_type| %>
                                          <li class="bom_report bom_report_detail bom_report_first">
                                             <%= item_type %>
                                             <% if item.bom_hash[item_type].size > 0 %>
                                             <ul class="bom_report bom_report_detail bom_report_detail_level">
                                                <% item.bom_hash[item_type].keys.each do |item_sub_type| %>
                                                <li class="bom_report"><%= item_sub_type %></li>
                                                <ul class="bom_report bom_report_detail bom_report_detail_level bom_report_detail_last">
                                                   <% item.bom_hash[item_type][item_sub_type].compact.each do |li| %>
                                                   <li class="bom_report">
                                                      <% if li.is_a?(Hash) %>
                                                      <%= li[:category] if li[:category] %>
                                                      <%= "#{li[:name]} #{li[:quantity]} #{li[:units]}<br>" %>
                                                      <%= "Part ##{li[:part_number]}<br>" if li[:part_number].present? && show_part_number(@account) %>
                                                      <% if li[:item_attr_name1] %>
                                                      <%= "&nbsp;&nbsp;#{li[:item_attr_name1]}: #{li[:item_attr1]}" %>
                                                      <% end %>
                                                      <% if li[:item_attr_name2] %>
                                                      <%= "&nbsp;&nbsp;#{li[:item_attr_name2]}: #{li[:item_attr2]}" %>
                                                      <% end %>
                                                      <% if li[:sub_items] %>
                                                      <% li[:sub_items].group_by{ |i| i[:item_attr2]}.each do |sub_item| %>
                                                      <table class='li-table-view-container'>
                                                         <tr>
                                                            <td class='li-table-view-name'>
                                                               <%= "#{sub_item[1][0][:item_attr_name2]}: #{sub_item[0]}" %>
                                                            </td>
                                                            <td>
                                                               <table class='li-table-view'>
                                                                  <tr>
                                                                     <%= sub_item[1].map{|col| "<th>#{col[:item_attr1]}</th>"}.join %>
                                                                  </tr>
                                                                  <tr>
                                                                     <%= sub_item[1].map{|col| "<td>#{col[:quantity].to_i}</td>"}.join %>
                                                                  </tr>
                                                               </table>
                                                            </td>
                                                         </tr>
                                                      </table>
                                                      <% end %>
                                                      <% end %>
                                                      <% if item.material_image( li[:image_url], li[:print_image_on_pdf]) %>
                                                      <img src="<%= item.material_image( li[:image_url], li[:print_image_on_pdf]) %>" class="line-item-description-image">
                                                      <% end %>
                                                      <% else %>
                                                      <%= li %>
                                                      <% end %>
                                                   </li>
                                                   <% end %>
                                                </ul>
                                                <% end %>
                                             </ul>
                                             <% end %>
                                          </li>
                                          <% end %>
                                       </ul>
                                       <% end %>
                                       <% else %>
                                       <% if item.has_bom? %>
                                       <ul class="bom_report bom_report_detail">
                                          <% item.bom_report.keys.each do |item_type| %>
                                          <% unless item_type == 'Material' && item.table_view %>
                                          <li class="bom_report bom_report_detail bom_report_first">
                                             <%= item_type %>
                                             <% if item.bom_report[item_type].size > 0 %>
                                             <ul class="bom_report bom_report_detail bom_report_detail_level">
                                                <% item.bom_report[item_type].keys.each do |item_sub_type| %>
                                                <li class="bom_report"><%= item_sub_type %></li>
                                                <ul class="bom_report bom_report_detail bom_report_detail_level bom_report_detail_last">
                                                   <% item.bom_report[item_type][item_sub_type].each do |li| %>
                                                   <li class="bom_report">
                                                      <div class="text--pre-line li-desc-fixed-width">
                                                         <%= li %>
                                                      </div>
                                                   </li>
                                                   <% end %>
                                                </ul>
                                                <% end %>
                                             </ul>
                                             <% end %>
                                          </li>
                                          <% end %>
                                          <% end %>
                                       </ul>
                                       <% end %>
                                       <% end %>
                                       <% if item.product_image %>
                                       <img src="<%= item.product_image %>" class="line-item-description-image">
                                       <% end %>
                                    </td>
                                    <td class="text--center"><%= number_with_precision(item.quantity, precision: 5, strip_insignificant_zeros: true).to_s %></td>
                                 </tr>
                                 <% end %>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- DETAILS -->
         <div class="job-section job-pdf__shipping">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                    <% if @object.shipping_details.present? %>
                    <div class='no-page-break'>
                     <div class="box box--grey box--border">
                        <div class="box__title">
                           <div class="row">
                              <div class="col-12">
                                 <p><b>Shipping Details:</b></p>
                              </div>
                           </div>
                        </div>
                        <div class="box__content minhight">
                           <div class="row">
                              <div class="col-12">
                                 <p>
                                    <%= shipping_details %>
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                    </div>
                    <% end %>
                  </div>
                  <div class="col-12">
                    <% if @object.design_details.present? %>
                    <div class='no-page-break'>
                     <div class="box box--grey box--border">
                        <div class="box__title">
                           <div class="row">
                              <div class="col-12">
                                 <p><b>Design Details:</b></p>
                              </div>
                           </div>
                        </div>
                        <div class="box__content minhight">
                           <div class="row">
                              <div class="col-12">
                                 <p>
                                    <%= design_details %>
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                     </div>
                     <% end %>
                    </div>

                  <div class="col-12">
                    <% if @object.production_details.present? %>
                    <div class='no-page-break'>
                     <div class="box box--grey box--border">
                        <div class="box__title">
                           <div class="row">
                              <div class="col-12">
                                 <p><b>Production Details:</b></p>
                              </div>
                           </div>
                        </div>
                        <div class="box__content minhight">
                           <div class="row">
                              <div class="col-12">
                                 <p>
                                    <%= production_details %>
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                    </div>
                    <% end %>
                  </div>
                  <div class="col-12">
                    <% if @object.install_details.present? %>
                    <div class='no-page-break'>
                     <div class="box box--grey box--border">
                        <div class="box__title">
                           <div class="row">
                              <div class="col-12">
                                 <p><b>Install Details:</b></p>
                              </div>
                           </div>
                        </div>
                        <div class="box__content minhight">
                           <div class="row">
                              <div class="col-12">
                                 <p>
                                    <%= install_details %>
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                    </div>
                    <% end %>
                  </div>
                  <div class="col-12">
                    <% if @object.special_instruction.present? %>
                    <div class='no-page-break'>
                     <div class="box box--grey box--border">
                        <div class="box__title">
                           <div class="row">
                              <div class="col-12">
                                 <p><b><%= special_instruction_header %>:</b></p>
                              </div>
                           </div>
                        </div>
                        <div class="box__content minhight">
                           <div class="row">
                              <div class="col-12">
                                 <p>
                                    <%= special_instruction %>
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                    </div>
                    <% end %>
                  </div>
               </div>
            </div>
         </div>
         <!-- BOM -->
         <% if has_pricing? %>
         <!-- BOM - OTHERS -->
         <div class="job-section job-section--custom-fields">
            <div class="container">
               <div class="row">
                  <% if (labor_table != "" || machine_table != "") && !combined_job? %>
                  <div class="col-12 element--margin-bottom-md">
                     <div class="box box--white box--no-padding">
                        <div class="box__content">
                           <table class="table table--striped">
                              <tbody>
                                 <%= labor_table %>
                              </tbody>
                           </table>
                        </div>
                     </div>
                     <div class="box box--white box--no-padding">
                        <div class="box__content">
                           <table class="table table--striped">
                              <tbody>
                                 <%= machine_table %>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  <% end %>
                  <% if custom_field_items.size > 0 %>
                  <div class="col-12">
                     <div class="box box--white box--border">
                        <div class="box__title"><%= custom_fields_header %>:</div>
                        <div class="box__content">
                           <table class="table table--no-border table--no-padding">
                              <tbody>
                                 <%= custom_field_table %>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  <% end %>
                  <% if order_custom_field_items.size > 0 %>
                  <div class="col-12">
                     <div class="box box--white box--border">
                        <div class="box__title"><%= order_custom_fields_header %>:</div>
                        <div class="box__content">
                           <table class="table table--no-border table--no-padding">
                              <tbody>
                                 <%= order_custom_field_table %>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  <% end %>
               </div>
            </div>
         </div>
         <% else %>
         <% if custom_field_items.size > 0 %>
         <div class="job-section">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <div class="box box--white box--border">
                        <div class="box__title"><%= custom_fields_header %>:</div>
                        <div class="box__content">
                           <table class="table table--no-border table--no-padding table--th-text-right">
                              <tbody>
                                 <%= custom_field_table %>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <% end %>
         <% if !combined_job? %>
         <div class="job-section job-pdf__bom">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <div class="box box--white box--no-padding">
                        <div class="box__title"><%= bom_header %>:</div>
                        <div class="box__content">
                           <% if apparel_ui? %>
                           <%= apparel_item_table %>
                           <% else %>
                           <table class="table table--bom">
                              <thead>
                                 <th><%= bom_name_header %></th>
                                 <th><%= bom_qty_header %></th>
                                 <th><%= bom_attr1_header %></th>
                                 <th><%= bom_attr2_header %></th>
                              </thead>
                              <tbody>
                                 <%= materials_bom_table(true) %>
                              </tbody>
                           </table>
                           <% end %>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <% end %>
         <% if combined_job? %>
         <!-- BOM Combine Job -->
         <div class="job-section job-pdf__bom">
            <div class="container">
               <% if apparel_ui? %>
               <div class="row">
                  <div class="col-12">
                     <div class="box box--white box--no-padding">
                        <div class="box__title"><%= bom_header %>:</div>
                        <div class="box__content">
                           <%= apparel_item_table %>
                        </div>
                     </div>
                  </div>
               </div>
               <% end %>
               <div class="row <%= 'box--margin-top' if apparel_ui? %>">
                  <div class="col-12">
                     <div class="box box--white box--no-padding">
                        <% if !apparel_ui? %>
                        <div class="box__title"><%= bom_header %>:</div>
                        <% end %>
                        <div class="box__content">
                           <%= bom_combine_job %>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <% end %>
         <% end %>
      </div>
   </body>
</html>

