<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Job PDF</title>
  <style>
    <%= page_size %>
    <%= body_font_family %>
    .qr--default {
  color: red;
  text-align: center;
}
.job-pdf h1 {
  font-size: 24pt;
}
  </style>
</head>
<body>
<div class="job-pdf" id="page-job-new">
  <!-- INFO -->
  <div class="job-section job-pdf__info">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="job-pdf__info-title" style="text-align:center;">
            <%= title %><br>
            <% if re_design? %>
              <span class="job-virtual-step">Re-Design</span>
            <% end %>
          </h1>
        </div>
        <div class="col-12" >
          <p style="text-align:center; font-size: 13pt; margin-top: 5pt;"><%= due_header %>: <strong><%= due_date %></strong></p>
        </div>
        <% if order_number %>
          <div class="col-12">
            <p style="text-align:center;font-size:13pt;">
              <strong><%= order_type %># <%= order_number %></strong><br>
              <% if related_quotes.present? %>
                <strong><%= related_quotes %></strong>
              <% end %>
            </p>
          </div>
        <% end %>
        <!--<div class="col-1">-->
          <!--<p class="text&#45;&#45;right">1 of <strong>2</strong></p>-->
        <!--</div>-->
      </div>
    </div>
  </div>
   <!-- BOM -->
  <% if has_pricing? %>
    <% if !combined_job? && (vehicle_wrap_html.present? || materials_bom_table(true).present?) %>
      <div class="job-section job-pdf__bom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="box box--white box--no-padding">
                <div class="box__title"><%= bom_header %>:</div>
                <div class="box__content">
                  <% if apparel_ui? %>
                    <%= apparel_item_table %>
                  <% else %>
                    <table class="table table--bom">
                      <thead>
                      <th><%= bom_name_header %></th>
                      <th><%= bom_qty_header %></th>
                      <th><%= bom_attr1_header %></th>
                      <th><%= bom_attr2_header %></th>
                      </thead>
                      <tbody>
                        <%= materials_bom_table(true) %>
                      </tbody>
                    </table>
                    <%= vehicle_wrap_html %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
     <!-- BOM - OTHERS -->
    <div class="job-section job-section--custom-fields">
      <div class="container">
        <div class="row">
          <% if (labor_table != "" || machine_table != "") && !combined_job? %>
            <div class="col-12 element--margin-bottom-md">
              <div class="box box--white box--no-padding">
                <div class="box__content">
                  <table class="table table--striped">
                    <tbody>
                    <%= labor_table %>
                    </tbody>
                  </table>
                </div>
              </div>
            <div class="box box--white box--no-padding">
              <div class="box__content">
                <table class="table table--striped">
                  <tbody>
                  <%= machine_table %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <% end %>
          <% end %>
  <!-- DETAILS -->
  <div class="job-section job-pdf__details" style="padding-top:30pt">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="box box--grey box--border">
          <div class="box__content box__content-proof-img text--center">
            <div>
              <img src="<%= proof_image(500,500) %>">
            </div>
          </div>
          <div>
            <%= proof_local_file_path %>
          </div>
          <div class="box__title">
            <%= proof_footer %>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="box box--default box--border text-center">
          <div class="box__content" style="margin-top:20pt;">
            <div class="qr qr--default">
              <div class="qr__code">
                <%= qr_code.as_svg %>
              </div>
              <div class="qr__status">
                <p>
                  <strong><%= status %></strong>
                </p>
              </div>
            </div>
          </div>
        </div>
         <div class="store-logo" style="margin-top: 50pt;">
          <img class="logo" src="<%= logo %>">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>