<htm11l>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <style>
      <%= page_size %>

      @page {
      size: A4;
     /* margin: 10pt 10pt 10pt 10pt;*/
      }
      body {
        padding:15px;       
      }
      .entire_page{
        width:90%;
        margin: auto;
        padding:5px;
        border: solid 2px #ccc;
      }
      #page table td {
        border:solid 1px #999;
        padding: 5px;
      }
      #in_tble table  {
      
      padding: 0px !important;
      }
       #in_tble table td {
      
      border: none !important;
      }
      #qr table td {
        padding: 0px !important;
        border:none !important;

      } 
      #page table {
        margin-bottom: 5px;
      } 
  </style>
</head>
<body>
<div class="entire_page">
  <div style="display:none" class="document-header">
    <%= header_text %>
    
  </div>
<!-- Footer Text for Page footter-->
  <div style="display:none" class="document-footer">
    <%= footer_text %>
  </div>
  <div id="page">
   <table>
    <tr>
      <td><b>Due Date </b><br> <% if @object.due_date %><%= @object.due_date%><%end%></td> 
      <td colspan="3"><b style="font-size:16px;"><%= title_header %></b></td> 
    </tr>

    <tr>
      <%if @object.rush != false %><td><span style="color:red;font-size:18px;"><b>RUSH</b></span></td><%end%>
      <%if @object.rush == true %>
      <td><span style="font-size:18px;">Workorder # <%if @object.order_number%> <%=@object.order_number%><%end%></span></td>
      <%else%>
      <td colspan="2"><span style="font-size:18px;">Workorder # <%if @object.order_number%> <%=@object.order_number%><%end%></span></td>
      <%end%>
       <%if @object.shipping_method%>
           <td colspan="2"> <b>Shipping Method:</b><%=shipping_method%>
            <% end %>
            <br>

             <% if shipping_information.present? && is_form_field_visible?('shipping_address_id') %>
        </td>
        

     
    </tr>

    <tr>
      <%if @object.po_number%>
      <td valign="top" rowspan="2">
      <%else%>
      <td valign="top">
      <%end%>
      <b>Customer</b><br>
         <%= @object.company.try(:name) %> <br>
        </td>
      <td  valign="top">
       <b>Customer Contact</b><br>
            <% if contact.present? && is_form_field_visible?('contact_id') %>
              <%= contact %>
            <% end %>
        </div>
    
      </td>
      <td>
           <b>Shipping Address</b>
        <br>
        <%= shipping_information %><br>
         <% end %>
      </td> 
      <td>
          <div class="qr"  id="qr" style="margin-top:10px;">
          <table>
            <% qr_code.modules.each_index do |x| %>
                <tr>
                  <% @qr_code.modules.each_index do |y| %>
                      <% if @qr_code.dark?(x, y) %>
                          <td class="black"/>
                      <% else %>
                          <td class="white"/>
                      <% end %>
                  <% end %>
                </tr>
            <% end %>
          </table>
        </div>
        </td>
    </tr>
     
    <tr>
      <td>
        <%if @object.po_number%>
        <div style="padding:5px;">
            <% if @object.po_number%><b>Customer Po : </b><%=@object.po_number%> <%end%>
        </div>

      </td>
       <%end%>
      <td valign="top" colspan="2">
      <%if @object.sales_rep%>
      <b>Sales Person: </b><%= sales_rep_name%> <br>
      <%end%>
      </td>

    </tr>
   
    <tr>
       <%if is_proof_approved? %>
      <td colspan="4" valign="midle" width="100%">
      <div align="center"> 
      <div class="head" style="margin-bottom:6px">
        <%= proof_head %>
      </div>
      <div class="image" style="width:100%;">
        <img  src="<%= proof_image() %>" style="width:500px; height:200px;">
      </div>
       </div>
        <%if is_proof_approved? %>
          <div align="center" class="head">
          <b>Approver Name : </b>
          <%=@proof.approver_name%>
        </div>
        <%end%>
      </td>
      <%end%>  
    </tr>
  </table>
  </div>

<!-- Store Address and Logo -->
  <table  cellpadding="5">
    <tr>

      <td valign="top">
        <% if bom_details && is_form_field_visible?('bom_details') %>
          <div class='bom <%= 'table-view' if @account.pos_settings.display_description_in_grid_format %>'>
            <%if  bom_details %><p><b>BOM Details :</b></p><%= bom_details  %><%end%>
          </div>
    <% end %>
    <% if design_details && is_form_field_visible?('design_details') %>
        <div class='details'>
            <div class="text--pre-line">
              <%= design_details %>
            </div>
        </div>
    <% end %>

    <% if (install_details && is_form_field_visible?('install_details')) || (production_details && is_form_field_visible?('production_details')) %>
            <div class="text--pre-line">
              <%= install_details %>
            </div>
            <div class="text--pre-line">
              <%= production_details %>
            </div>
    <% end %>
      </td>
    </tr>
    <tr style="border-top:1px  solid #ccc;">
      <td valign="top">
        <% if custom_fields %>
            <%= custom_fields %>
        <% end %>
        <% if order_custom_fields %>
            <%= order_custom_fields %>
        <% end %>
      </td>
    </tr>

  </table>
 
  
</div>
</body>
</html>
