<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
      <style>
         .terms-title *, .terms-text * {
          font-size:9pt !important;
         }
         <%= page_size %>
         <%= body_font_family %>
         h1 small {
         font-size: 15px;
         }
         .address-logo {
         padding: 10pt 35pt 5pt 35pt;
         border-bottom: 2px solid #e3e3e3;
         }

         .summary .summ.right .summary-wrapper {
         border-right: 0px solid #e3e3e3;
         text-align: right;
         padding-right: 5pt;
         }
         .addresses .address.left .title {
         text-align: left;
         padding-top: 5pt;
         font-weight: bold;
         }
         .section {
         border-top: 1px solid #e3e3e3;
         border-bottom: 1px solid #e3e3e3;
         padding: 0 35pt;
         }
         .summarys {
         margin: 0pt;
         padding: 5pt 35pt;
         border-bottom: 2px solid #e3e3e3;
         background: #f7f7f7;
         border-top:2px solid #e3e3e3;
         }
         .footer-bottom-left1 {
         width: 100%;
         float: left;
         text-align: justify;
         padding-top: 20pt;
         }
         .terms{
         text-align:left;
         font-size:16pt;
         background: #f7f7f7;
         border-bottom: 2px solid #e3e3e3;
         border-top: 2px solid #e3e3e3;
         padding: 5pt 0pt;
         padding-left: 35pt;
         }
         .termss{
         text-align:left;
         font-size:10pt;
         padding: 5pt 0pt;
         
         }
      </style>
   </head>
   <body>
      <div style="display:none" class="document-header">
         <%= header_text %>
      </div>
      <!-- Footer Text for Page footter-->
      <div style="display:none" class="document-footer">
         <%= footer_text %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         THIS IS AN ELECTRONICALLY GENERATED DOCUMENT WHICH DOES NOT REQUIRE SIGNATURES
      </div>
      <!-- Store Address and Logo -->
      <div class="address-logo">
         <table>
            <tr>
               <td class="store-address">
                <p><%= store_name %></p>
                <%if store_address_street%><p><%= store_address_street %><%end%>
                <%if store_address_street1%><%= store_address_street1 %><%end%>
                <%if store_address_city%><%= store_address_city %>,<%end%> <%if store_address_state %> <p><%= store_address_state%><%end%>
                <%if store_address_zip %> <%= store_address_zip%></p><%end%>
                <% if store_phone%><p><%=store_phone%></p><%end%>
                 <% if @object.account.website %> 
                     <p><%= @object.account.website %></p>
                     <%end%>
               </td>
               <td class="store-logo">
                  <img class="logo" src="<%= logo %>">
               </td>
            </tr>
         </table>
      </div>
      <div class="summary">
         <table>
            <tr>
               <td class="summ left">
                  <div class="summary-wrapper">
                     <h1 class="main-title">PURCHASE ORDER</h1><br/>
                         <h1 class="main-title"><%= purchase_order_number %> | <small><%= name %></small> <h1/>
                  </div>
               </td>
               <td class="summ right">
                  <div class="summary-wrapper">
                     <p style="padding-top: 5pt;">HST/GST #: R-104288634</p>
                     <h1 class="main-title" style="padding-top: 5pt;">                    
                      <small><%= @object.prev_related_transactions.filter { _1.sink_type == 'WorkOrder' }.map { "SO##{_1.sink&.txn_number}" }.join(', ') %> </small>
                     <h1/>
                  </div>
               </td>
            </tr>
         </table>
      </div>
      <div class="addresses">
         <table>
            <tr>
               <td class="address left">
                  <div class="address-wrapper">
                     <p class="title">VENDOR</p>
                    <p><strong><%= sold_to %></strong></p>
                    <% unless vendor_address.blank?%>
                     <p><b><%= vendor_address %><b></p>
                     <% end %>
                     <% unless contact_information.blank?%>
                     <p class="title">VENDOR CONTACT INFO</p>
                     <p><%= contact_information %></p>
                     <% end %>                     
                     <p class="title">BILLING ADDRESS</p>
                     <p><%= @object.vendor.billing_address&.street %>
                     <%= @object.vendor.billing_address&.street1 %></p>
                     <p><%= @object.vendor.billing_address&.city %>,
                     <%= @object.vendor.billing_address&.state %> 
                     <%= @object.vendor.billing_address&.zip %> </p>                     
                  </div>
               </td>
               <td class="address left">
                  <div class="address-wrapper">
                     <p class="title"><%= po_date_header %></p>
                     <p><%= po_date %></p>
                     <p class="title">PO CREATED BY</p>
                     <p><%= created_by_information[:all] %></p>
                     <% unless expected_delivery_date.blank?%>
                     <p class="title"><%= expected_delivery_date_header %></p>
                     <p><%= expected_delivery_date %></p>
                     <% end %>
                     <% if term_code %>
                     <p class="title"><%= term_code_header %></p>
                     <p><%= term_code %></p>
                     <% end %>
                     <% if payment_method %>
                     <p class="title"><%= payment_method_header %></p>
                     <p><%= payment_method %></p>
                     <% end %>
                     <% unless contact_information.blank?%>
                     <p class="title"><%= contact_information_header %></p>
                     <p><%= contact_information %></p>
                     <% end %>
                  </div>
               </td>
               <td class="address left">
                  <div class="address-wrapper">
                     <% if account.current_plan.new_pro? || account.current_plan.pro? %>
                     <% unless ship_date.blank?%>
                     <p class="title"><%= ship_date_header %></p>
                     <p><%= ship_date %></p>
                     <% end %>
                     <% end %>
                     <% if drop_ship_to.present? || shipping_information.present?  %>
                     <p class="title"><%= shipping_information_header %></p>
                     <% if drop_ship_to.present? %>
                     <%= drop_ship_to %>
                     <% else %>
                     <!--<p><%= store_name %></p>-->
                     <% end %>
                     <p><%= shipping_information %></p>
                     <% end %>
                     <%if @object.special_notes and not @object.special_notes.blank?%>
                     <p class="title">Special notes</p>
                     <p><%= @object.special_notes %></p>
                     <% end %>
                  </div>
               </td>
            </tr>
         </table>
      </div>
      <% if show_about_this_desc and description.present? %>
      <div class="description_area">
         <table>
            <tr>
               <% unless description.blank?%>
               <td class="header">
                  <%= about_this_po_header %>:
               </td>
               <td class="description">
                  <%= description %>
               </td>
                <% end %>
            </tr>
         </table>
      </div>
      <% end %>
      <!-- Items Table -->
      <div class="line-items">
         <!--<h2 class="title"><%= items_header %></h2>-->
         <% if show_multi_currecies %>
         <p class="currency-note">
            All prices in (default currency) except for the final price at the bottom showing in your local currency.
         </p>
         <% end %>
         <table>
            <thead>
               <tr>
                  <th class="position">
                     <div class="first">#</div>
                  </th>
                  <th class="name" colspan="2"><%= item_header %></th>
                  <th class="quantity" colspan="0"><%= qty_header %></th>
                  <th class="quantity" colspan="0">UNITS</th>
                  <th class="money">UNIT PRICE</th>
                  <th class="money">
                  <div class="last">TOTAL</div>
                  </th>
               </tr>
            </thead>
            <tbody class=''>
               <% items.each_with_index do |item, index| %>
               <tr>
                  <td class="position" rowspan="2">
                     <div class="first">
                        <%= index + 1 %>
                     </div>
                  </td>
                  <td colspan="2">
                     <div class="name">
                        <%= item.name %>
                     </div>
                     <div>
                        <% if item.part_number.present? && item.part_number != 'none' %>
                        <strong>Part#:</strong> <%= item.part_number %>
                        <% end %>
                        <% if item.part_name.present? %>
                        <strong>Vendor Part Name:</strong> <%= item.part_name %>
                        <% end %>
                        <% if item.item_attr1.present? && item.item_attr1 != 'none' %>
                        <strong><%= item.item_attr_name1 || 'Size' %>:</strong> <%= item.item_attr1 %>
                        <% end %>
                        <% if item.item_attr2.present? && item.item_attr2 != 'none' %>
                        <strong><%= item.item_attr_name2 || 'Color' %>:</strong> <%= item.item_attr2 %>
                        <% end %>
                     </div>
                  </td>
                  <td class="quantity"><%= number_with_precision(item.quantity, precision: 5, strip_insignificant_zeros: true) %></td>
                  <td class="quantity"><%= item.uom %></td>
                  <td class="money"><%= item.unit_price %></td>
                   <td class="money">
                  <div class="last"><%= item.total_price %></div>
                  </td>
               </tr>
               <tr>
                  <td class="description" colspan="6">
                     <div class="last text--pre-line li-desc-fixed-width">
                        <%= item.format_description(html: true) %>
                        <%= item.notes %>
                        <% if item.product_picture_assets.count > 0 %>
                        <% item.product_picture_assets.each do |asset| %>
                        <img src="<%= asset.file_url %>" class="line-item-description-image">
                        <% end %>
                        <% end %>
                     </div>
                  </td>
               </tr>
               <% end %>
            </tbody>
            <!--<tfoot class="no-page-break tfoot-one">-->
            <!--<tr>-->
            <!--<td colspan="6" class="labels first">-->
            <!--<p><%= subtotal_header %></p>-->
            <!--<% if show_tax  %>-->
            <!--<p><%= total_tax_header %></p>-->
            <!--<% end %>-->
            <!--<p><%= final_price_header %></p>-->
            <!--</td>-->
            <!--<td class="money last">-->
            <!--<p><%= sub_total %></p>-->
            <!--<% if show_tax  %>-->
            <!--<p><%= total_tax %></p>-->
            <!--<% end %>-->
            <!---->
            <!--<p><%= final_price %></p>-->
            <!--</td>-->
            <!--</tr>-->
            <!--</tfoot>-->
         </table>
      </div>
      <!-- Signature Note -->
      <div class="footer-bottom">
         <div class="section">
            <div class="footer-bottom-left">
               <div class="terms-text" >
                  <p style="font-size: 9pt;">By accepting this PO you agree to the terms and conditions specified the next page.</p>
               </div>
            </div>
            <div class="footer-bottom-right">
               <table>
                  <tbody>
                     <tr>
                        <td class="labels first footer-subtotal">
                           <p><strong><%= subtotal_header %>:</strong></p>
                           <% if show_tax  %>
                           <p><strong><%= total_tax_header %> (<%= tax_rate %>):</strong></p>
                           <% end %>
                           <p class="footer-total"><strong><%= final_price_header %>:</strong></p>
                           <% if show_multi_currecies %>
                           <p class="footer-total"><strong><%= final_price_header_exchange %></strong></p>
                           <% end %>
                        </td>
                        <td class="money last footer-subtotal">
                           <p><strong><%= sub_total %></strong></p>
                           <% if show_tax  %>
                           <p><strong><%= total_tax %></strong></p>
                           <% end %>
                           <p class="footer-total"><strong><%= final_price %></strong></p>
                           <% if show_multi_currecies %>
                           <p class="footer-total"><strong><%= final_price_exchange %></strong></p>
                           <% end %>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="clearfix"></div>
         </div>
      </div>
      <div class="footer-bottom-left1">
      <div class="no-page-break">
         <div class="terms">
            TERMS AND CONDITIONS
         </div>
         <div class="termss">
            <p><%= terms_conditions %></p>
         </div>
      </div>
   </body>
</html>