<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
      <style>
         <%= body_font_family %>
         @page { size: A4 landscape }
         @page :first {
         @top-left { content: none }
         }
         @page {
         margin: 165pt 0 5pt 0;
         }
         @page {
         @top {
         content: flow(header);
         }
         }
         #header {
         position: relative;
         flow: static(header);
         }
         @page {
         @top-left {
         content: string(doc_header);
         padding: 10pt 0pt 10pt 0pt;
         }
         @bottom-right {
         content: counter(page) '/' counter(pages);
         font-size: 9pt;
         font-weight: bold;
         padding-right: 10pt;
         padding-bottom: 4pt;
         }
         }
         h1 {
         font-size: 31pt;
         margin: 5pt 0;
         font-weight: normal;
         }
         h1 small {
         font-size: 20pt;
         }
         .address-logo {
         padding: 10pt 25pt 2pt 25pt;
         border-bottom: 0px solid #A9A9A9;
         }
         .summary {
         margin: 0pt;
         padding: 2pt 25pt 5pt 35pt;
         border-bottom: 2px solid #A9A9A9;
         background: transparent;
         }
         .addresses {
         padding: 3pt 25pt;
         border-bottom: 2px solid #A9A9A9;
         }
         .addresses .address .title {
         text-transform: uppercase;
         font-weight: bold;
         margin-top: 5pt;
         font-size: 14px;
         color: #000080;
         }
         .addresses .address.left .address-wrapper {
         border-left: 0px solid #A9A9A9;
         text-align: left;
         padding-left: 10pt;
         font-size: 10pt;
         }
         .addresses .address.right .address-wrapper {
         border-right: 0px solid #A9A9A9;
         text-align: right;
         padding-right: 1pt;
         font-size: 10pt;
         }
         .line-items .name {
         text-align: left;
         font-size: 14pt;
         font-weight: bold;
         }
         .line-items thead th {
         font-size: 12pt;
         text-transform: uppercase;
         color: #000080;
         font-weight: bold;
         padding: 5pt 5pt;
         }
         .line-items .description {
         font-size: 10pt;
         padding: 0 35pt 5pt 5pt;
         }
         .li-desc-fixed-width {
         max-width: 250pt;
         }
         .line-items .first {
         padding-left: 35pt;
         font-size: 12pt;
         }
         .line-items .last {
         padding-right: 35pt;
         font-size: 12pt;
         }
         .line-items tbody tr:first-child td {
         border-top: 2px solid #A9A9A9;
         padding-top: 5pt;
         }
         .bom_report_detail {
         list-style-type: none;
         margin: 0;
         padding: 0;
         font-weight: normal;
         font-size: 12pt;
         }
         .job-attributes {
         float: left;
         width: 95%;
         padding 10pt 0pt;
         }
         .proof {
          width: 100%;
         max-width: 600px;
         margin: 0;
         margin-bottom: 4pt;
         border: none;
       
         }

         .proof-img-wrapper {
        border: 2px solid #A9A9A9;
         padding: 30px  30px;
         display: flex;
         justify-content: center;
         }

         .proof img {
         max-width: 100%;
         }
         .proof .head {
         padding: 10px;
         font-size: 12pt;
         }

      </style>
   </head>
   <body>
      <div id="header">
         <div style="display:none" class="document-header">
         </div>
         <div style="display:none" class="document-footer">
         </div>
         <div class="address-logo">
            <% if show_address_logo_on_work_order %>
            <table>
               <tr>
                  <td class="store-address">
                  </td>
                  <td class="store-logo">
                  </td>
               </tr>
            </table>
            <% end %>
         </div>
         <div class="summary">
            <table>
               <tr>
                  <td class="summ left">
                     <div class="summary-wrapper">
                        <h1 class="main-title"><%= name %> <br/>
                           <small style="color: #000080;"><%= sold_to %></small> 
                        </h1>
                        <p style="font-size: 10pt;"><span style="color: #000080;font-size: 10pt;">Customer PO# </span><%= po_number %></p>
                        <% if project_number %>
                        <p class="title"><%= project_header %></p>
                        <p><%= project_number %></p>
                        <% end %>
                     </div>
                  </td>
                  <td class="summ right">
                     <div class="summary-wrapper" style="border-right: 0px solid #A9A9A9; padding-right: -30pt;">
                        <% if due_date %>
                        <p style="font-size: 24pt;"><%= due_date %></p>
                        <p class="title" style="font-size: 15pt;color: #000080;"><%= due_date_header %></p>
                        <% end %>
                     </div>
                  </td>
               </tr>
            </table>
         </div>
         <div class="addresses">
            <table>
               <tr>
                  <td class="address left">
                     <div class="address-wrapper" style="border-left: 0px solid #A9A9A9;padding-left: -10pt;">
                        <p class="title"><%= contact_information_header %></p>
                        <p><%= contact_information %></p>
                     </div>
                  </td>
                  <td class="address left">
                     <div class="address-wrapper">
                        <% if shipping_method %>
                        <p class="title" ><%= shipping_method_header %></p>
                        <p><%= shipping_method %></p>
                        <% end %>
                     </div>
                  </td>
                  <% if (shipping_address_type != 'DropShip' && sold_to(show_company_name = false).present?) || shipping_tracking.present? || (shipping_information.present? && ui_field_visibility('sales_order/shipping_address_id') ) %>
                  <td class="address left">
                     <div class="address-wrapper">
                        <p class="title"><%= shipping_information_header %></p>
                        <% if shipping_address_type != 'DropShip' %>
                        <%= sold_to(show_company_name = false) %>
                        <% end %>
                        <%= shipping_information %>
                        </p>
                        <%if shipping_tracking.present? %>
                        <br/>
                        <p class="title"><%= shipping_tracking_header%></p>
                        <%= shipping_tracking %>
                        <% end %>
                     </div>
                  </td>
                  <% end %>
                  <td class="address left">
                     <div class="address-wrapper">
                        <% if ship_date %>
                        <p class="title" style="color: #32CD32;"><%= shipping_date_header %></p>
                        <p style="color: #32CD32;"><%= ship_date %></p>
                        <% end %>
                     </div>
                  </td>
                  <% if ui_field_visibility('sales_order/installing_address_id') and installing_information.present? %>
                  <td class="address left">
                     <div class="address-wrapper">
                        <p class="title"><%= installing_information_header %></p>
                        <%= installing_information %></p>
                     </div>
                  </td>
                  <% end %>
               </tr>
            </table>
         </div>
      </div>
      <div class="line-items">
         <!--<h2 class="title" ><%= items_header %></h2>-->
         <table>
            <thead>
               <tr>
                  <th class="position">
                     <div class="first">#</div>
                  </th>
                  <th class="name" style="font-size: 12pt;"><%= item_header %></th>
                  <th class="state"></th>
        <th class="quantity">
          <div class="last" style="font-size: 12pt;"><%= qty_header %></div>
        </th>
               </tr>
            </thead>
            <% items.each_with_index do |item, index| %>
            <tbody class="no-page-break">
               <tr>
                  <td class="position" rowspan="2">
                     <div class="first">
                        <%= index + 1 %>
                     </div>
                  </td>
                  <td class="name" style="font-size: 14pt;">
                     <%= item.name %><br>
                     <div class="title-dates">
                        <%= item.job_art_due_date %>
                     </div>
                  </td>
                  <td class="state"></td>
<td class="quantity">
              <div class="last"><strong style="font-size: 12pt;"><%= number_with_precision(item.quantity, precision: 5, strip_insignificant_zeros: true) %></strong></div>
            </td>
               </tr>
               <tr>
                  <td class="description">
                     <div class="last">
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.description %>
                        </div>
                        <% if item.table_view %>
                        <% if item.has_bom? %>
                        <div class="bom_report bom_report_detail">
                           <% item.bom_hash.keys.each do |item_type| %>
                           <div class="bom_report bom_report_detail bom_report_first">
                              <%= item_type %>
                              <% if item.bom_hash[item_type].size > 0 %>
                              <div class="bom_report bom_report_detail">
                                 <% item.bom_hash[item_type].keys.each do |item_sub_type| %>
                                 <%if item_type != "Material" %>
                                 <div class="bom_report"><%= item_sub_type %></div>
                                 <% end %>
                                 <div class="bom_report bom_report_detail bom_report_detail_last">
                                    <% current_name = '' %>
                                    <%
                                       apparel_processed_items = item.bom_hash[item_type][item_sub_type].compact.filter do |pricing_item|
                                         if pricing_item.is_a?(Hash)
                                           pricing_item[:item_type] == 'Material' &&
                                           pricing_item[:sub_items].present? &&
                                           pricing_item[:sub_items].find do
                                             _1[:item_attr_name1] == 'Size'
                                           end.present?
                                         else
                                           false
                                         end
                                       end.group_by { show_part_number(@account) ? _1[:part_number].presence.to_s : Random.rand.to_s }
                                       %>
                                    <%
                                       nonapparel_processed_items = item.bom_hash[item_type][item_sub_type].compact.reject do |pricing_item|
                                         if pricing_item.is_a?(Hash)
                                           pricing_item[:item_type] == 'Material' &&
                                           pricing_item[:sub_items].present? &&
                                           pricing_item[:sub_items].find do
                                             _1[:item_attr_name1] == 'Size'
                                           end.present?
                                         else
                                           false
                                         end
                                       end
                                       %>
                                    <%
                                       apparel_processed_items[''] ||= []
                                       %>
                                    <% apparel_processed_items.each do |_, lis| %>
                                    <% next if lis.empty? %>
                                    <% show_box = lis.first.is_a?(Hash) && lis.first[:item_type] == 'Material' && lis.first[:sub_items].present? && !lis.first[:as_dropdown]  %>
                                    <% if show_box %>
                                    <div class="bom_report pricing-items-block">
                                       <% end %>
                                       <% lis.each do |li| %>
                                       <div class="padding">
                                          <% if li.is_a?(Hash) %>
                                          <% if li[:item_type] != "Material" %>
                                          <%= li[:category] if li[:category] %>
                                          <% end %>
                                          <% if li[:name] != current_name %>
                                          <%= "#{li[:name]} #{li[:quantity].to_f.round(2)} #{li[:units]}<br>" %>
                                          <% end %>
                                          <% if li[:as_dropdown] &&  li[:sub_items].present? %>
                                          <% li[:sub_items].each do |sub_item| %>
                                          <% if sub_item[:item_attr_name1].present? %>
                                          <%= "&nbsp;&nbsp;#{sub_item[:quantity]} #{sub_item[:item_attr_name1]}: #{sub_item[:item_attr1]}" %>
                                          <% end %>
                                          <% if sub_item[:item_attr_name2].present? %>
                                          <%= "&nbsp;&nbsp;#{sub_item[:item_attr_name2]}: #{sub_item[:item_attr2]} <br>" %>
                                          <% end %>
                                          <%end%>
                                          <%end%>
                                          <% if !li[:as_dropdown]%>
                                          <%= "Part ##{li[:part_number]}<br>" if li[:part_number].present? && show_part_number(@account) %>
                                          <% if li[:item_attr_name1].present? %>
                                          <%= "&nbsp;&nbsp;#{li[:item_attr_name1]}: #{li[:item_attr1]}" %>
                                          <% end %>
                                          <% if li[:item_attr_name2].present? %>
                                          <%= "&nbsp;&nbsp;#{li[:item_attr_name2]}: #{li[:item_attr2]}" %>
                                          <% end %>
                                          <% end %>
                                          <% if li[:sub_items] %>
                                          <% next if li[:as_dropdown]%>
                                          <% li[:sub_items].group_by{ |i| i[:item_attr2]}.each do |sub_item| %>
                                          <table class='li-table-view-container'>
                                             <tr>
                                                <td class='li-table-view-name'>
                                                   <%= "#{sub_item[1][0][:item_attr_name2]}: #{sub_item[0]}" %>
                                                </td>
                                                <td>
                                                   <table class='li-table-view'>
                                                      <tr>
                                                         <%= sub_item[1].map{|col| "<th>#{col[:item_attr1]}</th>"}.join %>
                                                      </tr>
                                                      <tr>
                                                         <%= sub_item[1].map{|col| "<td>#{col[:quantity].to_i}</td>"}.join %>
                                                      </tr>
                                                   </table>
                                                </td>
                                             </tr>
                                          </table>
                                          <% end %>
                                          <% end %>
                                          <% if item.material_image( li[:image_url], li[:print_image_on_pdf]) %>
                                          <img src="<%= item.material_image( li[:image_url], li[:print_image_on_pdf]) %>" class="line-item-description-image">
                                          <% end %>
                                          <% current_name = li[:name] %>
                                          <% else %>
                                          <%= li %>
                                          <% end %>
                                       </div>
                                       <% end %>
                                       <% if show_box %>
                                    </div>
                                    <% end %>
                                    <% end %>
                                    <% if nonapparel_processed_items.present? %>
                                    <% nonapparel_processed_items.each do |lis| %>
                                    <% lis = Array.wrap(lis) %>
                                    <% lis.each do |li| %>
                                    <div class="padding">
                                       <% if li.is_a?(Hash) %>
                                       <% if li[:item_type] != "Material" %>
                                       <%= li[:category] if li[:category] %>
                                       <% end %>
                                       <%= "#{li[:name]} #{li[:quantity].to_f.round(2)} #{li[:units]}<br>" %>
                                       <% if li[:as_dropdown] &&  li[:sub_items].present? %>
                                       <% li[:sub_items].each do |sub_item| %>
                                       <% if sub_item[:item_attr_name1].present? %>
                                       <%= "&nbsp;&nbsp;#{sub_item[:quantity]} #{sub_item[:item_attr_name1]}: #{sub_item[:item_attr1]}" %>
                                       <% end %>
                                       <% if sub_item[:item_attr_name2].present? %>
                                       <%= "&nbsp;&nbsp;#{sub_item[:item_attr_name2]}: #{sub_item[:item_attr2]} <br>" %>
                                       <% end %>
                                       <%end%>
                                       <%end%>
                                       <% if !li[:as_dropdown]%>
                                       <%= "Part ##{li[:part_number]}<br>" if li[:part_number].present? && show_part_number(@account) %>
                                       <% if li[:item_attr_name1].present? %>
                                       <%= "&nbsp;&nbsp;#{li[:item_attr_name1]}: #{li[:item_attr1]}" %>
                                       <% end %>
                                       <% if li[:item_attr_name2].present? %>
                                       <%= "&nbsp;&nbsp;#{li[:item_attr_name2]}: #{li[:item_attr2]}" %>
                                       <% end %>
                                       <% end %>
                                       <% if li[:sub_items] %>
                                       <% next if li[:as_dropdown]%>
                                       <% li[:sub_items].group_by{ |i| i[:item_attr2]}.each do |sub_item| %>
                                       <table class='li-table-view-container'>
                                          <tr>
                                             <td class='li-table-view-name'>
                                                <%= "#{sub_item[1][0][:item_attr_name2]}: #{sub_item[0]}" %>
                                             </td>
                                             <td>
                                                <table class='li-table-view'>
                                                   <tr>
                                                      <%= sub_item[1].map{|col| "<th>#{col[:item_attr1]}</th>"}.join %>
                                                   </tr>
                                                   <tr>
                                                      <%= sub_item[1].map{|col| "<td>#{col[:quantity].to_i}</td>"}.join %>
                                                   </tr>
                                                </table>
                                             </td>
                                          </tr>
                                       </table>
                                       <% end %>
                                       <% end %>
                                       <% if item.material_image( li[:image_url], li[:print_image_on_pdf]) %>
                                       <img src="<%= item.material_image( li[:image_url], li[:print_image_on_pdf]) %>" class="line-item-description-image">
                                       <% end %>
                                       <% else %>
                                       <%= li %>
                                       <% end %>
                                    </div>
                                    <% end %>
                                    <% end %>
                                    <% end %>
                                 </div>
                                 <% end %>
                              </div>
                              <% end %>
                           </div>
                           <% end %>
                        </div>
                        <% end %>
                        <% else %>
                        <% if item.has_bom? %>
                        <ul class="bom_report bom_report_detail">
                           <% item.bom_report.keys.each do |item_type| %>
                           <% unless item_type == 'Material' && item.table_view %>
                           <li class="bom_report bom_report_detail bom_report_first">
                              <%= item_type %>
                              <% if item.bom_report[item_type].size > 0 %>
                              <ul class="bom_report bom_report_detail bom_report_detail_level">
                                 <% item.bom_report[item_type].keys.each do |item_sub_type| %>
                                 <%if item_type != "Material" %>
                                 <li class="bom_report"><%= item_sub_type %></li>
                                 <% end %>
                                 <ul class="bom_report bom_report_detail bom_report_detail_level bom_report_detail_last">
                                    <% item.bom_report[item_type][item_sub_type].each do |li| %>
                                    <li class="bom_report">
                                       <div class="text--pre-line li-desc-fixed-width">
                                          <%= li %>
                                       </div>
                                    </li>
                                    <% end %>
                                 </ul>
                                 <% end %>
                              </ul>
                              <% end %>
                           </li>
                           <% end %>
                           <% end %>
                        </ul>
                        <% end %>
                        <% end %>
                     </div>
                     <% if item.panel_description_enabled? %>
                     <div>
                        <%= item.internal_panel_description %>
                     </div>
                     <% end %>
                     <div>
                        <div class='design_details'>
                           <div class="text--pre-line">
                              <%= simple_format(item.design_details )%>
                           </div>
                        </div>
                        <div class='production_details'>
                           <div class="text--pre-line">
                              <%= simple_format(item.production_details) %>
                           </div>
                        </div>
                        <div class='shipping_details'>
                           <div class="text--pre-line">
                              <%= simple_format(item.shipping_details) %>
                           </div>
                        </div>
                        <div class='install_details'>
                           <div class="text--pre-line">
                              <%= simple_format(item.install_details) %>
                           </div>
                        </div>
                     </div>
                     <% if item.product_picture_assets.count > 0 %>
                     <% item.product_picture_assets.each do |asset| %>
                     <img src="<%= asset.file_url %>" class="line-item-description-image">
                     <% end %>
                     <% end %>
                     <% if item.product_image %>
                     <img src="<%= item.product_image %>" class="line-item-description-image">
                     <% end %>
                  </td>
                  <td colspan="4">
                     <% if item.job.present? && item.job.is_proof_approved? && !@proofs_job_ids.include?(item.job.id)%>
                     <% @proofs_job_ids << item.job.id %>
                     <div class="job-attributes">
                        <div class="proof">
<div class="proof-img-wrapper">
                              <img src="<%= item.job.proof_image(600) %>"  height="330">
</div>
                       
                        <div class="head">
                           <%= item.job.proof_head %><br>
                           <%= "#{due_date_header}: #{item.job.due_date}" %></br>
                           <p style="padding-top: 8px;"><%= work_order_number %>  &nbsp;&nbsp;&nbsp;<span style="color: #000080;"><%= work_order_date_header %></span>: <%= work_order_date %></p>
                        </div>
                     </div>
 </div>
      </div>
      <% end %>
      </td>
      </tr>
      </tbody>
      <% end %>
      <tfoot class="no-page-break">
      </tfoot>
      </table>
      </div>
      <% if customer_note.present? %>
      <div class="note">
         <table class="no-page-break">
            <thead>
               <tr>
                  <td><%= customer_note_header %></td>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><%= customer_note %></td>
               </tr>
            </tbody>
         </table>
      </div>
      <% end %>
      <% if internal_note.present? %>
      <div class="note">
         <table class="no-page-break">
            <thead>
               <tr>
                  <td><%= internal_note_header %></td>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><%= internal_note %></td>
               </tr>
            </tbody>
         </table>
      </div>
      <% end %>
      <% if cover_note.present? %>
      <div class="note">
         <table class="no-page-break">
            <thead>
               <tr>
                  <th><%= cover_note_header %></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><%= cover_note %></td>
               </tr>
            </tbody>
         </table>
      </div>
      <% end %>
   </body>
   </html>