<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Job PDF</title>
  <style>
    <%= page_size %>
    <%= body_font_family %>
  </style>
</head>
<body>

<div class="job-pdf" id="page-job-new">

  <!-- INFO -->
  <div class="job-section job-pdf__info">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1 class="job-pdf__info-title">
            <%= title %><br>
            <% if re_design? %>
              <span class="job-virtual-step">Re-Design</span>
            <% end %>
          </h1>
        </div>
        <div class="col-3">
          <p><%= due_header %>: <strong><%= due_date %></strong></p>
        </div>
        <% if order_number %>
          <div class="col-2">
            <p>
              <strong><%= order_type %># <%= order_number %></strong><br>
              <% if related_quotes.present? %>
                <strong><%= related_quotes %></strong>
              <% end %>
            </p>
          </div>
        <% end %>
        <!--<div class="col-1">-->
          <!--<p class="text&#45;&#45;right">1 of <strong>2</strong></p>-->
        <!--</div>-->
      </div>
    </div>
  </div>

  <!-- RUSH -->
  <% if job_rush %>
    <div class="job-section job-section--mb-none">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p class="job-rush"><%= job_rush_text %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>


  <!-- COMPANY -->
  <div class="job-section job-pdf__company">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="box box--default box--border">
            <div class="box__title">
              <p><%= customer_header %>: <strong><%= company_name %></strong></p>

              <% if txn_title.present? %>
                <p><%= txn_title %></p>
              <% end %>
              <% if print_line_item_in_job_pdf %>
                <%= line_item_number_position %>
              <% end %>
            </div>
            <div class="box__content">
              <p>
                <%= contact_info %>
              </p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="box box--default box--border box--sm">
            <div class="box__content">
              <table class="table table--list text--sm">
                <tbody>
                <tr>
                  <td><%= customer_po_header %>:</td>
                  <td><strong><%= customer_po %></strong></td>
                </tr>
                <tr>
                  <td><%= sales_rep_header %>:</td>
                  <td><strong><%= sales_rep_name %></strong></td>
                </tr>
                <tr>
                  <td><%= project_manager_header %>:</td>
                  <td><strong><%= project_manager_name %></strong></td>
                </tr>
                <tr>
                  <td><%= product_manager_header %>:</td>
                  <td><strong><%= pm_name %></strong></td>
                </tr>
                <% if is_division_enabled? %>
                <tr>
                  <td><%= division_name_header %></td>
                  <td><strong><%= division_name %></strong></td>
                </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="box box--default box--border box--sm">
            <div class="box__content">
              <table class="table table--list text--sm">
                <tbody>
                 <% if account.current_plan.pro? || account.current_plan.new_pro? %>
                    
                    <tr>
                      <td><%= install_date_header %>:</td>
                      <td><strong><%= install_date %></strong></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- SHIPPING -->
  <div class="job-section job-pdf__shipping">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="box box--default box--border">
            <div class="box__title">
              <p><%= shipping_to_header %>:</p>
            </div>
            <div class="box__content">
              <div class="row">
                <div class="col-6">
                  <address>
                    <%= shipping_information %>
                  </address>
                </div>
                <div class="col-6">
                  <table class="table table--list">
                    <tbody>
                    <tr>
                      <td class="text--nowrap"><%= shipping_method_header %>:</td>
                      <td><strong><%= shipping_method %></strong></td>
                    </tr>
                    <tr>
                      <td><%= shipping_date_header %>:</td>
                      <td><strong><%= shipping_date %></strong></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="box box--default box--border">
            <div class="box__title">
              <p><%= billing_to_header %>:</p>
            </div>
            <div class="box__content">
              <address>
                <%= billing_information %>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- SHIPPING -->
  <div class="job-section job-pdf__shipping">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="box box--grey box--border">
            <div class="box__title">
              <p><%= job_description_header %>:</p>
            </div>
            <div class="box__content">
              <address>
                <%= description %>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- DETAILS -->
  <div class="job-section job-pdf__details">
    <div class="container">
      <div class="row">
        <% unless proof_image(500,500).blank?%>
        <div class="col-12">
          <div class="box box--grey box--border">
            <div class="box__content box__content-proof-img text--center">
              <div>
                <img src="<%= proof_image(500,500) %>">
              </div>
            </div>
            <div>
              <%= proof_local_file_path %>
            </div>
            <div class="box__title">
              <%= proof_footer %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>


  <!-- BOM -->
  <% if has_pricing? %>
    <% if !combined_job? && (vehicle_wrap_html.present? || materials_bom_table(true).present?) %>
      <div class="job-section job-pdf__bom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="box box--white box--no-padding">
                <div class="box__title"><%= bom_header %>:</div>
                <div class="box__content">
                  <% if apparel_ui? %>
                    <%= apparel_item_table %>
                  <% else %>
                    <table class="table table--bom">
                      <thead>
                      <th><%= bom_name_header %></th>
                      <th><%= bom_qty_header %></th>
                      <th><%= bom_attr1_header %></th>
                      <th><%= bom_attr2_header %></th>
                      </thead>
                      <tbody>
                        <%= materials_bom_table(true) %>
                      </tbody>
                    </table>

                    <%= vehicle_wrap_html %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if combined_job? %>
      <!-- BOM Combine Job -->
      <div class="job-section job-pdf__bom">
        <div class="container">
          <% if apparel_ui? %>
            <div class="row">
              <div class="col-12">
                <div class="box box--white box--no-padding">
                  <div class="box__title"><%= bom_header %>:</div>
                  <div class="box__content">
                    <%= apparel_item_table %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <div class="row <%= 'box--margin-top' if apparel_ui? %>">
            <div class="col-12">
              <div class="box box--white box--no-padding">
                <% if !apparel_ui? %>
                  <div class="box__title"><%= bom_header %>:</div>
                <% end %>
                <div class="box__content">
                  <%= bom_combine_job %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <!-- BOM - OTHERS -->
    <div class="job-section job-section--custom-fields">
      <div class="container">
        <div class="row">
          <% if (labor_table != "" || machine_table != "") && !combined_job? %>
            <div class="col-12 element--margin-bottom-md">
              <div class="box box--white box--no-padding">
                <div class="box__content">
                  <table class="table table--striped">
                    <tbody>
                    <%= labor_table %>
                    </tbody>
                  </table>
                </div>
              </div>

            <div class="box box--white box--no-padding">
              <div class="box__content">
                <table class="table table--striped">
                  <tbody>
                  <%= machine_table %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <% end %>

          <% if custom_field_items.size > 0 %>
            <div class="col-12">
              <div class="box box--white box--border">
                <div class="box__title"><%= custom_fields_header %>:</div>
                <div class="box__content">
                  <table class="table table--no-border table--no-padding">
                    <tbody>
                      <%= custom_field_table %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          <% end %>

          <% if master_job_custom_field_items.size > 0 %>
            <div class="col-12">
              <div class="box box--white box--border">
                <div class="box__title"><%= order_custom_fields_header %>:</div>
                <div class="box__content">
                  <table class="table table--no-border">
                    <thead>
                      <th style='text-align: left;'>LI#</th>
                      <th style='text-align: left;'>CO#</th>
                      <th style='text-align: left;'>Primary Contact</th>
                      <th style='text-align: center;'>Custom fields</th>
                    </thead>
                    <tbody>
                      <% master_job_custom_field_items.each do |field_item| %>
                        <tr>
                          <td style='text-align: left;width: 10%'>
                            LI#<%= field_item[:line_item].position %>
                          </td>

                          <td style='text-align: left;width: 20%'>
                            <%= field_item[:line_item].transaction.short_name %>
                          </td>

                          <td style='text-align: left;width: 20%'>
                            <%= field_item[:contact].name %>
                          </td>

                          <td style="text-align: left; width: 50%">
                              <table class="table table--list">
                                <tbody>
                                <% field_item[:custom_fields].each do |custom_field| %>
                                <tr>
                                  <td class="text--nowrap"><%= custom_field[:name] %>:</td>
                                  <td>
                                    <% if custom_field[:type] == 'color' %>
                                      <% custom_field[:colors].each do |color| %>
                                        <span class="color clearfix">
                                          <%= color['name'] %> <span style="background:<%= color['hex'] %>"></span>
                                        </span>
                                      <% end %>
                                    <% else %>
                                      <%= custom_field[:values] %>
                                    <% end %>
                                  </td>
                                </tr>
                                <% end %>
                                </tbody>
                              </table>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <% if custom_field_items.size > 0 %>
      <div class="job-section">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="box box--white box--border">
                <div class="box__title"><%= custom_fields_header %>:</div>
                <div class="box__content">
                  <table class="table table--no-border table--no-padding table--th-text-right">
                    <tbody>
                    <%= custom_field_table %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <!-- LINE ITEMS - DESCRIPTION -->


  <!-- Master job -->
  <% groups.each do |group| %>
    <div class="job-section job-pdf__bom">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="box box--white box--no-padding">
              <div class="box__title"><b><%= group[:name] %></b></div>
              <div class="box__content">
                  <table class="table table--bom">
                    <thead>
                      <th>Catalog</th>
                      <th>Name</th>
                      <th>Transactions</th>
                      <th>Size</th>
                      <th>Color</th>
                      <th>Quantity</th>
                    </thead>
                    <tbody>
                      <% group[:sub_items].each do |sub_item| %>
                          <tr>
                            <td><%= sub_item[:catalog_name] %></td>
                            <td><%= sub_item[:name] %></td>
                            <td>
                              CO#<%= sub_item[:client_order_txn_number] %>,
                              <%if sub_item[:work_order_txn_number] %>
                                SO#<%= sub_item[:work_order_txn_number] %>
                              <% else %>
                                IN#<%= sub_item[:invoice_txn_number] %>
                              <% end %>
                            </td>
                            <td><%= sub_item[:size] %></td>
                            <td><%= sub_item[:color] %></td>
                            <td><%= sub_item[:quantity]&.to_i %></td>
                          </tr>
                      <% end %>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% grouped_by_pricing.each do |group| %>
    <div class="job-section job-pdf__bom">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="box box--white box--no-padding">
              <div class="box__title"><b><%= group[:name] %></b></div>
              <div class="box__content">
                  <table class="table table--bom">
                    <thead>
                      <th>Contact</th>
                      <th>Transactions</th>
                      <th>Size</th>
                      <th>Color</th>
                      <th>Quantity</th>
                    </thead>
                    <tbody>
                      <% group[:contacts].each do |contact| %>
                        <tr>
                          <td><%= contact[:contact_name] %></td>
                            <td>
                              CO#<%= contact[:client_order_txn_number] %>,
                              <%if contact[:work_order_txn_number] %>
                                SO#<%= contact[:work_order_txn_number] %>
                              <% else %>
                                IN#<%= contact[:invoice_txn_number] %>
                              <% end %>
                            </td>
                          <td><%= contact[:size] %></td>
                          <td><%= contact[:color] %></td>
                          <td><%= contact[:quantity]&.to_i %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>


  <!-- WORKFLOW -->
  <% if show_workflow_on_pdf %>
  <div class="job-section job-pdf__workflows">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="box box--white box--no-padding">
            <div class="box__title"><%= workflow_header %>: <%= template_name %></div>
            <div class="box__content">
              <div class="job-pdf__workflows">
                <% stages.each do |stage| %>
                <div class="job-pdf__workflow job-pdf__workflow--default">
                  <div class="job-pdf__workflow-title">
                    <p><strong><%= stage.name %></strong></p>
                  </div>
                  <div class="job-pdf__workflow-content">
                    <ol>
                      <% stage.steps.each do |step| %>
                        <li>
                          <span class="clearfix">
                            <span>
                              <strong><%= step.name %></strong>
                            </span>
                            <span class="element--right">
                              <em><%= step.assigned_to_user_initials %></em>
                              <time><%= step.due_date %></time>
                              <i></i>
                            </span>
                          </span>
                        </li>
                       <% end %>
                    </ol>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

</body>
</html>
