<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
      <style>
         .terms-title *, .terms-text * {
         font-size: 9.3px;
         }

         @page{
          margin: 120pt 0 40pt 0;
         }

         body {
         font-size: 11px;
         font-family: 'Arial', 'Helvetica', 'Lucida Grande', 'DejaVu Sans', sans-serif;
         color: #404040;
         }

         <%= body_font_family %>
         @page {
         background-image: url(https://assets.shopvox.com/accounts/432e672d-027d-4871-bb44-830f0a8b2b62/custom_pdfs/ShopVox+Quote+PDF+Design+Blank+R2.svg);
         background-size: cover;
         background-position: top center;
         }

         .summary {
         margin-top: -50pt;
         padding: 5pt 35pt;
         border-bottom: 0px solid #e3e3e3;
         background: transparent;
         }

         h1 {
         font-size: 28px;
         margin-top: 60pt;
         font-weight: normal;
         width: 400pt;
         color: #011E41;
         }

         .summary .summ .title {
         text-transform: uppercase;
         margin-top: 12pt;
         font-size: 10pt;
         color: #011E41;
         font-weight: bold;
         }

         .summary .summ.left .summary-wrapper {
         text-align: left;
         font-size: 10pt;
         }

         .addresses {
         padding: 5pt 35pt;
         border-bottom: 0px solid #e3e3e3;
         }

         .addresses .address .title {
         text-transform: uppercase;
         margin-top: 0pt;
         margin-bottom: 3pt;
         font-size: 10pt;
         color: #011E41;
         font-weight: bold;
         }

         .addresses .address.left .address-wrapper {
         border-left: 0px solid #e3e3e3;
         text-align: left;
         padding-left: 0pt;
         font-size: 10pt;
         }

         .line-items tbody tr:first-child td {
         border-top: 0px solid #e3e3e3;
         padding-top: 5pt;
         }

         .line-items thead th {
         font-size: 11px;
         text-transform: uppercase;
         font-weight: bold;
         color: white;
         padding: 5pt 5pt;
         background-color: #939799;
         }

         .line-items .description {
         font-size: 12px;
         padding: 0 35pt 5pt 5pt;
         }

         .li-desc-fixed-width {
          max-width: 270pt;
         }

         .section {
         border-top: 0px solid #e3e3e3;
         padding: 0 35pt;
         color: #011E41;
         }

         .section--border-bottom {
         border-bottom: 0px solid #e3e3e3;
         }

         .footer-bottom-right {
         float: right;
         width: 32%;
         border: solid 2px #404040;
         background: transparent;
         padding: 6pt 6pt 5pt 6pt;
         margin-top: 45pt;
         font-size: 10pt;
         }

         .signature tfoot td {
         border-top: 0px solid #e3e3e3;
         text-align: left;
         text-transform: uppercase;
         width: 33%;
         font-size: 10pt;
         padding-top: 5pt;
         padding-left: 35pt;
         font-weight: bold;
         }
      </style>
   </head>
   <body>
      <div style="display:none" class="document-header">
         
      </div>
      <!-- Footer Text for Page footter-->
      <div style="display:none" class="document-footer">
         
      </div>
      <!-- Store Address and Logo -->
      <div class="summary">
         <table>
            <tr>
               <td class="summ left">
                  <div class="summary-wrapper">
                     <h1 class="main-title"><%= quote_number %> <%= quote_version %><br/>
                        <small><%= name %></small>
                     </h1>
                     <% if project_number %>
                     <p class="title"><%= project_header %></p>
                     <p><%= project_number %></p>
                     <% end %>
                  </div>
               </td>
               <td class="summ left">
                  <div class="summary-wrapper">
                     <p class="title"><%= quote_date_header %></p>
                     <p><%= quote_date %></p>
                     <% if quote_expiry_date %>
                     <p class="title"><%= quote_expiry_date_header %></p>
                     <p><%= quote_expiry_date%></p>
                     <% end %>
                     <% if term_code %>
                     <p class="title"><%= term_code_header %></p>
                     <p><%= term_code %></p>
                     <% end %>
                  </div>
               </td>
               
            </tr>
         </table>
      </div>
      <!-- Sold To, Contact Info and Shipping Address -->
      <div class="addresses">
         <table>
            <tr>
               <td class="address left">
                  <div class="address-wrapper">
                     <p class="title"><%= quote_requested_by_header %></p>
                     <p>
                        <%= sold_to %>
                     <p>
                        <%= billing_information %>
                     </p>
                     </p>
                  </div>
               </td>
               <% if ui_field_visibility('quote/installing_address_id') and installing_information.present? %>
               <td class="address left">
                  <div class="address-wrapper">
                     <p class="title"><%= installing_information_header %></p>
                     <%= installing_information %></p>
                  </div>
               </td>
               <% end %>
               <td class="address left">
                  <div class="address-wrapper">
                     <p class="title"><%= contact_information_header %></p>
                     <p><%= contact_information %></p>
                  </div>
               </td>
            </tr>
         </table>
      </div>
      <% if show_about_this_desc and description.present? %>
      <div class="description_area">
         <table>
            <tr>
               <td class="header">
                  <%= about_this_quote_header %>:
               </td>
               <td class="description page-break-after">
                  <%= description %>
               </td>
            </tr>
         </table>
      </div>
      <% end %>
      <div class="line-items">
         <!--<h2 class="title"><%= items_header %></h2>-->
         <table>
            <thead>
               <tr>
                  <th class="position">
                     <div class="first" style="padding-left: 30pt;">#</div>
                  </th>
                  <th class="name"><%= item_header %></th>
                  <th class="quantity"><%= qty_header %></th>
                  <th class="quantity"><%= uom_header %></th>
                  <th class="money"><%= unit_price_header %></th>
                  <% if show_discounts && (quantities_total_discount_price != 0.0 || total_discount_price != 0.0) %>
                  <th class="quantity"><%= discount_header %> </th>
                  <th class="quantity"><%= discount_price_header %> </th>
                  <% end %>
                  <th class="money"><%= total_excl_header %></th>
                  <% if use_tax_codes? %>
                  <th class="money"><%= tax_header %></th>
                  <% end %>
                  <% if show_li_total_with_tax? %>
                  <th class="money"><%= total_with_tax_header %></th>
                  <% end %>
                  <th class="quantity">
                     <div class="last"><%= taxable_header %></div>
                  </th>
               </tr>
            </thead>
            <tbody class=''>
               <% items.each_with_index do |item, index| %>
               <% bold_main_quantity = item.quantities.present? %>
               <tr>
                  <td class="position" rowspan="<%= 2 + item.quantities.size %>">
                     <div class="first" style="padding-left: 30pt;">
                        <%= index + 1 %>
                     </div>
                  </td>
                  <td rowspan="<%= 1 + item.quantities.size %>" >
                     <span class="name" style="color: #011E41;font-size: 10pt;font-weight: normal;"><%= item.name %></span>
                     <% if bold_main_quantity && item.quantities.size > 1 %>
                     <div>
                        <% if item.table_view %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.li_grid_html_view %>
                        </div>
                        <% else %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.description %>
                        </div>
                        <% end %>
                        <% if item.show_custom_fields(item.description_hash[:custom_fields]) && item.description_hash[:custom_fields].any? && item.table_view %>
                        <hr class="custom-field-separator">
                        <%= item.generate_custom_field_values(item.description_hash[:custom_fields]) %>
                        <hr class="custom-field-separator">
                        <% end %>
                        <% if item.product_picture_assets.count > 0 %>
                        <% item.product_picture_assets.each do |asset| %>
                        <img src="<%= asset.file_url %>" class="line-item-description-image">
                        <% end %>
                        <% end %>
                        <% if item.product_image %>
                        <img src="<%= item.product_image %>" class="line-item-description-image">
                        <% end %>
                        <% if item.table_view %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.li_grid_html_view(show_child_items: true) %>
                        </div>
                        <% end %>
                     </div>
                     <% end %>
                  </td>
                  <td class="quantity <%= bold_main_quantity ? "text--bold" : "" %>" style="font-size: 11pt;"><%= number_with_precision(item.quantity, precision: 5, strip_insignificant_zeros: true) %></td>
                  <td class="quantity <%= bold_main_quantity ? "text--bold" : "" %>" style="font-size: 11pt;"><%= item.uom %></td>
                  <td class="money <%= bold_main_quantity ? "text--bold" : "" %>" style="font-size: 11pt;"><%= item.show_hide_unit_price %></td>
                  <% if show_discounts && item.has_discount? %>
                  <td class="quantity <%= bold_main_quantity ? "text--bold" : "" %>"><%= item.discount_percentage %> </td>
                  <td class="quantity <%= bold_main_quantity ? "text--bold" : "" %>"><%= item.show_hide_unit_price_after_discount %></td>
                  <% end %>
                  <% if show_discounts && (total_discount_price != 0.0 || quantities_total_discount_price != 0.0 ) && !item.has_discount? %>
                  <td class="quantity <%= bold_main_quantity ? "text--bold" : "" %>"></td>
                  <td class="quantity <%= bold_main_quantity ? "text--bold" : "" %>"></td>
                  <% end %>
                  <td class="money <%= bold_main_quantity ? "text--bold" : "" %>" style="font-size: 11pt;">
                     <%= item.total_price %>
                     <% if show_multi_currencies? %>
                     <br><%= item.total_price_in_custom_currency %>
                     <% end %>
                  </td>
                  <% if use_tax_codes? %>
                  <td class="money"><%= item.total_tax %></td>
                  <% end %>
                  <% if show_li_total_with_tax? %>
                  <td class="money">
                     <%= item.total_with_tax %>
                     <% if show_multi_currencies? %>
                     <br><%= item.final_price_in_custom_currency %>
                     <% end %>
                  </td>
                  <% end %>
                  <td class="quantity">
                     <div class="last" style="font-size: 11pt;"><%= item.taxable %></div>
                  </td>
               </tr>
               <% item.quantities.each do |line_item_quantity| %>
               <tr>
                  <td class="quantity line-item-quantity-row-padding"><%= number_with_precision(line_item_quantity[:quantity], precision: 5, strip_insignificant_zeros: true) %> style="font-size: 11pt;"</td>
                  <td class="quantity line-item-quantity-row-padding"> style="font-size: 11pt;"<%= item.uom %></td>
                  <td class="money line-item-quantity-row-padding" style="font-size: 11pt;"><%= line_item_quantity[:unit_price] %></td>
                  <% if show_discounts && line_item_quantity[:discount_in_cents] != 0.0 %>
                  <td class="quantity line-item-quantity-row-padding"><%= line_item_quantity[:discount_percentage] %></td>
                  <td class="quantity line-item-quantity-row-padding"><%=line_item_quantity[:unit_price_after_discount] %></td>
                  <% end %>
                  <% if show_discounts && (total_discount_price != 0.0 || quantities_total_discount_price != 0.0 ) && line_item_quantity[:discount_in_cents] == 0.0 %>
                  <td class="quantity line-item-quantity-row-padding"></td>
                  <td class="quantity line-item-quantity-row-padding"></td>
                  <% end %>
                  <td class="money line-item-quantity-row-padding" style="font-size: 11pt;">
                     <%= line_item_quantity[:total_price] %>
                     <% if show_multi_currencies? %>
                     <br><%= line_item_quantity[:total_price_in_custom_currency] %>
                     <% end %>
                  </td>
                  <% if use_tax_codes? %>
                  <td class="money line-item-quantity-row-padding"><%= line_item_quantity[:total_tax] %></td>
                  <% end %>
                  <% if show_li_total_with_tax? %>
                  <td class="money line-item-quantity-row-padding">
                     <%= line_item_quantity[:total_price_with_tax] %>
                     <% if show_multi_currencies? %>
                     <br><%= line_item_quantity[:final_price_in_custom_currency] %>
                     <% end %>
                  </td>
                  <% end %>
                  <td class="quantity line-item-quantity-row-padding">
                     <div class="last" style="font-size: 11pt;"><%= item.taxable %></div>
                  </td>
               </tr>
               <% end %>
               <tr>
                  <% if show_discounts && total_discount_price != 0.0 %>
                  <td class="description" colspan="7">
                     <% else %>
                  <td class="description" colspan="5">
                     <% end %>
                     <% if item.quantities.blank? %>
                     <div>
                        <% if item.table_view %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.li_grid_html_view %>
                        </div>
                        <% else %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.description %>
                        </div>
                        <% end %>
                        <% if item.show_custom_fields(item.description_hash[:custom_fields]) && item.description_hash[:custom_fields].any? && item.table_view %>
                        <hr class="custom-field-separator">
                        <%= item.generate_custom_field_values(item.description_hash[:custom_fields]) %>
                        <hr class="custom-field-separator">
                        <% end %>
                        <% if item.product_picture_assets.count > 0 %>
                        <% item.product_picture_assets.each do |asset| %>
                        <img src="<%= asset.file_url %>" class="line-item-description-image">
                        <% end %>
                        <% end %>
                        <% if item.product_image %>
                        <img src="<%= item.product_image %>" class="line-item-description-image">
                        <% end %>
                        <% if item.table_view %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.li_grid_html_view(show_child_items: true) %>
                        </div>
                        <% end %>
                     </div>
                     <% end %>
                  </td>
               </tr>
               <% end %>
            </tbody>
         </table>
      </div>
      <% if customer_note.present? %>
      <div class="note">
         <table class="no-page-break">
            <thead>
               <tr>
                  <td><%= customer_note_header %></td>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><%= customer_note %></td>
               </tr>
            </tbody>
         </table>
      </div>
      <% end %>
      <!-- Internal Note -->
      <% if internal_note.present? %>
      <div class="note">
         <table class="no-page-break">
            <thead>
               <tr>
                  <td><%= internal_note_header %></td>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><%= internal_note %></td>
               </tr>
            </tbody>
         </table>
      </div>
      <% end %>
      <!-- Cover Note -->
      <% if cover_note.present? %>
      <div class="note">
         <table class="no-page-break">
            <thead>
               <tr>
                  <th><%= cover_note_header %></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><%= cover_note %></td>
               </tr>
            </tbody>
         </table>
      </div>
      <% end %>
      <!-- Signature Note -->
      <div class="footer-bottom">
         <div class="section">
            <div class="footer-bottom-left">
               <div class="terms-text">
                  <%= terms_conditions %>
               </div>
            </div>
            <% unless existing_line_item_quantities? %>
            <div class="footer-bottom-right">
               <table>
                  <tbody>
                     <tr>
                        <td class="labels first footer-subtotal">
                           <% if has_setup_charges? %>
                           <p><strong><%= setup_charges_header %>:</strong></p>
                           <% end %>
                           <% if has_shipping_charges? %>
                           <p><strong><%= shipping_charges_header %>:</strong></p>
                           <% end %>
                           <% if has_finance_charges? %>
                           <p><strong><%= finance_charges_header %>:</strong></p>
                           <% end %>
                           <% if has_misc_charges? %>
                           <p><strong><%= misc_charges_header %>:</strong></p>
                           <% end %>
                           <p><%= subtotal_header %>: </p>
                           <% if show_tax  %>
                           <% if use_tax_codes? %>
                           <p>><%= total_tax_header %>:</p>
                           <% else %>
                           <p><%= total_tax_header %> (<%= tax_rate %>):</p>
                           <% end %>
                           <% end %>
                           <% if coupon_code_discount_header %>
                           <p class="footer-discount"><strong><%= coupon_code_discount_header %>:</strong></p>
                           <% end %>
                           <p class="footer-total"><strong><%= final_price_header %>:</strong></p>
                           <% if show_multi_currencies? %>
                           <p class="footer-total"><strong><%= final_price_header_exchange %></strong></p>
                           <% end %>
                        </td>
                        <td class="money last footer-subtotal">
                           <% if has_setup_charges? %>
                           <p><strong><%= setup_charges %></strong></p>
                           <% end %>
                           <% if has_shipping_charges? %>
                           <p><strong><%= shipping_charges %></strong></p>
                           <% end %>
                           <% if has_finance_charges? %>
                           <p><strong><%= finance_charges %></strong></p>
                           <% end %>
                           <% if has_misc_charges? %>
                           <p><strong><%= misc_charges %></strong></p>
                           <% end %>
                           <p><%= sub_total %></p>
                           <% if show_tax  %>
                           <p><%= total_tax %></p>
                           <% end %>
                           <% if coupon_code_discount %>
                           <p class="footer-discount"><strong><%= coupon_code_discount %></strong></p>
                           <% end %>
                           <p class="footer-total"><strong><%= final_price %></strong></p>
                           <% if show_multi_currencies? %>
                           <p class="footer-total"><strong><%= final_price_exchange %></strong></p>
                           <% end %>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <% end %>
            <div class="clearfix"></div>
         </div>
         <% if show_signature %>
         <div class="section section--border-bottom">
            <div class="signature terms">
               <table>
                  <tbody>
                     <tr>
                        <td class="handwriting text--up text--bold"><%= signature_header %>:</td>
                        <td class="date text--up text--bold"><%= date_header %>:</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <% end %>
      </div>
   </body>
</html>