<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <style>
    .terms-title *, .terms-text * {
      font-size:6pt !important;
    }
    <%= page_size %>

    .title {
    font-size: 13px;
    font-weight: bold;
   }
   .Asset {
            border-bottom: 2px solid #e3e3e3;
            margin-top: 5pt;
            margin-left: 15px padding-top: 5px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-left: 40px;
            font-size: 18px;
        }
        .page-break-after {
         page-break-after: avoid;
        }

  </style>
</head>
<body>
<div style="display:none" class="document-header">
  <%= header_text %>
</div>

<!-- Footer Text for Page footter-->
<div style="display:none" class="document-footer">
  <%= footer_text %>
</div>

<!-- Store Address and Logo -->
<div class="address-logo">
  <table>
    <tr>
      <td class="store-address">
        <p style="font-size:15px;"><b><%= store_name %></b></p>
  <%if store_address_street%><p><%= store_address_street %></p><%end%>
  <%if store_address_street1%><p><%= store_address_street1 %></p><%end%>
  <%if store_address_city%><%= store_address_city %>,<%end%> <%if store_address_state %> <%= store_address_state%><%end%>
  <%if store_address_zip %> <%= store_address_zip%><%end%>
  <% if store_email%><p><%=store_email%></p><%end%>
  <% if store_phone%><p><%=store_phone%></p><%end%>  
  <% if license_number_text(@object.account) %> <p><%= license_number_text(@object.account) %></p><%end%>
  <% if business_number_text(@object.account) %> <p><%= business_number_text(@object.account) %></p><%end%>
  <% if @object.account.website %> <p><%= @object.account.website %></p><%end%>
      </td>
      </td>
      <td class="store-logo">
        <img class="logo" src="<%= logo %>">
      </td>

    </tr>
  </table>
</div>

<div class="summary">
  <table>
    <tr>
      <td class="summ left">
        <div class="summary-wrapper">
          <h1 class="main-title">Quote Request <%= txn_number_only %> <br/>
            <small><%= name %></small>
          </h1>
        </div>
      </td>
      <td class="summ right">
        <div class="summary-wrapper">
          <p class="title"><%= sales_rep_information_header %></p>
          <p><%= sales_rep_information %></p>
        </div>
      </td>
      <td class="summ right">
        <div class="summary-wrapper">

          <p class="title"><%= quote_date_header %></p>
          <p><%= quote_date %></p>
          <% if quote_expiry_date %>
              <p class="title"><%= quote_expiry_date_header %></p>
              <p><%= quote_expiry_date%></p>
          <% end %>

          <% if term_code %>
              <p class="title"><%= term_code_header %></p>
              <p><%= term_code %></p>
          <% end %>

        </div>
      </td>

      <td class="summ right">
        <div class="summary-wrapper">

          <% if po_date %>
            <p class="title"><%= po_number_header %></p>
            <p><%= po_number %></p>
          <% end %>

          <% if po_date %>
              <p class="title"><%= po_date_header %></p>
              <p><%= po_date %></p>
          <% end %>
        </div>
      </td>
    </tr>
  </table>
</div>

<!-- Sold To, Contact Info and Shipping Address -->
<div class="addresses">
  <table>
    <tr>
      <td class="address left">
        <div class="address-wrapper">
          <p class="title">QUOTE FOR</p>

          <p>
            <%= sold_to %><br />
            <%= billing_information %>
          </p>
        </div>
      </td>
      <td class="address left">
        <div class="address-wrapper">
          <p class="title"><%= shipping_information_header %></p>
          <p>
            <% if shipping_address_type != 'DropShip' %>
              <%= sold_to %><br />
            <% end %>
            <%= shipping_information %>
          </p>
          <%if shipping_tracking %>
           <br/>
           <p class="title"><%= shipping_tracking_header%></p>
           <%= shipping_tracking %>
          <% end %>
        </div>
      </td>
      <td class="address left">
        <div class="address-wrapper">
          <p class="title"><%= contact_information_header %></p>

          <p style="font-size: 15px;"><%= contact_information %></p>
        </div>
      </td>
    </tr>
    <% if show_about_this_desc and description.present? %>
      <tr>
        <td class="address left" colspan="3">
          <div class="address-wrapper" style="border-top:2px solid #ccc;margin-top:6px;">
            <p class="title" style="padding-top:5px;padding-bottom:4px;">About</p>
            <p>
              <%= description %>
            </p>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="line-items">
  <!--<h2 class="title"><%= items_header %></h2>-->
  <table>
    <thead>
    <tr>
      <th class="position">
        <div class="first">#</div>
      </th>
      <th class="name"><%= item_header %></th>
      <th class="quantity"><%= qty_header %></th>
      <th class="quantity"><%= uom_header %></th>
      <th class="money"><%= unit_price_header %></th>
      <% if show_discounts && total_discount_price != 0.0 %>
       <th class="quantity"><%= discount_header %> </th>
       <th class="quantity"><%= discount_price_header %> </th>
      <% end %>
      <th class="money">
        <div class="last"><%= total_excl_header %></div>
      </th>

    </tr>
    </thead>

    <tbody class=''>
        <% items.each_with_index do |item, index| %>
          <tr>
            <td class="position" rowspan="2">
              <div class="first">
                <%= index + 1 %>
              </div>
            </td>
            <td class="name"><%= item.name %></td>
            <td class="quantity"><%= item.quantity %></td>
            <td class="quantity"><%= item.uom %></td>
            <td class="money"><%= item.unit_price %></td>
            <% if show_discounts && total_discount_price != 0.0 %>
              <td class="quantity"><%= item.discount_percentage %> </td>
              <td class="quantity"><%= item.unit_price_after_discount %></td>
            <% end %>
            <td class="money">
              <div class="last">
                <%= item.total_price %>
              </div>
            </td>
          </tr>
          <tr>
            <% if show_discounts && total_discount_price != 0.0 %>
                <td class="description" colspan="7">
            <% else %>
                <td class="description" colspan="5">
            <% end %>
             <div>
                <% if item.table_view %>
                  <div class="text--pre-line li-desc-fixed-width">
                    <%= item.li_grid_html_view %>
                  </div>
                <% else %>
                    <div class="text--pre-line li-desc-fixed-width">
                      <%= item.description %>
                    </div>
                <% end %>
                <% if item.show_custom_fields(item.description_hash[:custom_fields])&& item.description_hash[:custom_fields].any? && item.table_view %>
                  <hr class="custom-field-separator">
                  <% item.description_hash[:custom_fields].each do |cfv| %>
                        <% if (cfv[:value] != nil && cfv[:value] != '' && cfv[:show_custom_fields_on_customer_pdf] != false) || cfv[:field_type] == 'separator' %>
                          <%= "<strong>#{cfv[:category]}</strong><br>" if cfv[:category] != "" %>
                           <% if cfv[:field_type] == 'color' %>
                               <%= "#{cfv[:name]}: <br>" %>
                               <%= [cfv[:value_hash]].flatten.map { |c| "<span style='position:relative;top:4px;width:20px;border-radius:5px;height:20px;display:inline-block;background:#{c['hex']}'></span> #{c['name']}" }.join('<br>') %>
                           <% else %>
                               <%= "#{cfv[:name]}: #{cfv[:value]} <br>" %>
                           <% end %>
                        <% end %>
                  <% end %>
                  <hr class="custom-field-separator">
                <% end %>
                <img src="<%= item.product_image %>" class="line-item-description-image">
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
  <%if assets_images.count != 0%>
    <div style="width:92%;text-align:center;" class="Asset">
         <p class= "page-break-after"><b>ASSETS</b></p>
     </div>
        <% assets_images(400,300).each do |asset| %>
     <div class="image">
      <img src="<%= asset %>" style="height:260px;width:44.2%;margin:22px;float:left;">
     </div>
    <% end %>
    <% end %>

<% if customer_note.present? %>
    <div class="note">
      <table class="no-page-break">
        <thead>
        <tr>
          <td>Customer Note:</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= customer_note %></td>
        </tr>
        </tbody>
      </table>
    </div>
<% end %>


<!-- Internal Note -->
<% if internal_note.present? %>
  <div class="note">
    <table class="no-page-break">
      <thead>
      <tr>
        <td><%= internal_note_header %></td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= internal_note %></td>
      </tr>
      </tbody>
    </table>
  </div>
<% end %>

<!-- Cover Note -->
<% if cover_note.present? %>
  <div class="note">
    <table class="no-page-break">
      <thead>
      <tr>
        <td><%= cover_note_header %></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= cover_note %></td>
      </tr>
      </tbody>
    </table>
  </div>
<% end %>

<!-- Signature Note -->
<div class="footer-bottom">
    <div class="section">
        <div class="footer-bottom-left full-width">
            <div class="terms-text">
               <%= terms_conditions %>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="section section--border-bottom">
        <div class="signature terms">
            <table>
                <tbody>
                <tr>
                    <td class="handwriting text--up text--bold"><%= signature_header %>:</td>
                    <td class="date text--up text--bold"><%= date_header %>:</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
