<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
      <style>
         .terms-title *, .terms-text * {
         font-size:6pt !important;
         }
         <%= page_size %>
         <%= body_font_family %>
         .address-logo {
         padding: 20pt 35pt 5pt 35pt;
         border-bottom: 2px solid #e3e3e3;
         }
         .address-logo {
         text-align: center;
         vertical-align: middle;
         }
         .store-logo {
         text-align: center;
         vertical-align: top;
         padding-bottom: 10pt;
         }
         .address-logo .store-address {
         text-align: center;
         vertical-align: top;
         font-size: 13px;
         }
         .footer-bottom-left {
         width: 65%;
         float: left;
         text-align: justify;
         }
      </style>
   </head>
   <body>
      <div style="display:none" class="document-header">
         <%= header_text %>
      </div>
      <div style="display:none" class="document-footer">
         <%= footer_text %>
      </div>
      <div class="address-logo">
         <table>
            <tr>
               <td class="store-logo">
                  <img class="logo" src="<%= logo %>">
               </td>
            </tr>
            <tr>
               <td class="store-address">
                  <%if store_address_street%>
                  <p><%= store_address_street %>,<%end%>
                     <%if store_address_street1%><%= store_address_street1 %>,<%end%>
                     <%if store_address_city%><%= store_address_city %>,<%end%> <%if store_address_state %> <%= store_address_state%>,<%end%>
                     <%if store_address_zip %> <%= store_address_zip%>
                  </p>
                  <%end%>
                  <% if store_email%>
                  <p><%=store_email%> | <%end%>
                     <% if store_phone%><%=store_phone%> | <%end%>
                     <% if @object.account.website %><%= @object.account.website %>
                  </p>
                  <%end%>    
               </td>
            </tr>
         </table>
      </div>
      <div class="summary">
         <table>
            <tr>
               <td class="summ left">
                  <div class="summary-wrapper">
                     <h1 class="main-title"><%= work_order_number %> <br/>
                        <small><%= name %></small>
                     </h1>
                     <% if project_number %>
                     <p class="title"><%= project_header %></p>
                     <p><%= project_number %></p>
                     <% end %>
                  </div>
               </td>
               <td class="summ right">
                  <div class="summary-wrapper">
                     <p class="title"><%= sales_rep_information_header %></p>
                     <p><%= sales_rep_information %></p>
                  </div>
                  <% if quote_information %>
                  <div class="summary-wrapper">
                     <p class="title"><%= quote_information_header %></p>
                     <p><%= quote_information %></p>
                  </div>
                  <% end %>
               </td>
               <td class="summ right">
                  <div class="summary-wrapper">
                     <p class="title"><%= work_order_date_header %></p>
                     <p><%= work_order_date %></p>
                     <% if term_code %>
                     <p class="title"><%= term_code_header %></p>
                     <p><%= term_code %></p>
                     <% end %>
                  </div>
               </td>
               <td class="summ right">
                  <div class="summary-wrapper">
                     <% if ship_date %>
                     <p class="title"><%= shipping_date_header %></p>
                     <p><%= ship_date %></p>
                     <% end %>
                     <% if due_date %>
                     <p class="title"><%= due_date_header %></p>
                     <p><%= due_date %></p>
                     <% end %>
                     <% if shipping_method %>
                     <p class="title"><%= shipping_method_header %></p>
                     <p><%= shipping_method %></p>
                     <% end %>
                     <% if payment_method %>
                     <p class="title"><%= payment_information_header %></p>
                     <p><%= payment_method %></p>
                     <% end %>
                  </div>
               </td>
               <td class="summ right">
                  <div class="summary-wrapper">
                     <% if po_number %>
                     <p class="title"><%= po_number_header %></p>
                     <p><%= po_number %></p>
                     <% end %>
                     <% if po_date %>
                     <p class="title"><%= po_date_header %></p>
                     <p><%= po_date %></p>
                     <% end %>
                  </div>
                  <br/>
               </td>
            </tr>
         </table>
      </div>
      <div class="addresses">
         <table>
            <tr>
               <td class="address left">
                  <div class="address-wrapper">
                     <p class="title"><%= ordered_by_header %></p>
                     <p><%= sold_to %></p>
                     <%= billing_information %>
                  </div>
               </td>
               <% if (shipping_address_type != 'DropShip' && sold_to(show_company_name = false).present?) || shipping_tracking.present? ||  (shipping_information.present? && ui_field_visibility('sales_order/shipping_address_id') ) %>
               <td class="address left">
                  <div class="address-wrapper">
                     <p class="title"><%= shipping_information_header %></p>
                     <p>
                        <% if shipping_address_type != 'DropShip' %>
                        <%= sold_to(show_company_name = false) %>
                        <% end %>
                     </p>
                     <p><%= shipping_information %></p>
                     <%if shipping_tracking.present? %>
                     <br/>
                     <p class="title"><%= shipping_tracking_header%></p>
                     <%= shipping_tracking %>
                     <% end %>
                  </div>
               </td>
               <% end %>
               <% if ui_field_visibility('sales_order/installing_address_id') and installing_information.present? %>
               <td class="address left">
                  <div class="address-wrapper">
                     <p class="title"><%= installing_information_header %></p>
                     <%= installing_information %></p>
                  </div>
               </td>
               <% end %>
               <td class="address left">
                  <div class="address-wrapper">
                     <p class="title"><%= contact_information_header %></p>
                     <p><%= contact_information %></p>
                  </div>
               </td>
            </tr>
         </table>
      </div>
      <% if show_about_this_desc and description.present? %>
      <div class="description_area">
         <table>
            <tr>
               <td class="header">
                  <%= about_this_so_header %>:
               </td>
               <td class="description">
                  <%= description %>
               </td>
            </tr>
         </table>
      </div>
      <% end %>
      <div class="line-items">
         <!--<h2 class="title"><%= items_header %></h2>-->
         <% if show_multi_currecies %>
         <p class="currency-note">
            All prices in (default currency) except for the final price at the bottom showing in your local currency.
         </p>
         <% end %>
         <table>
            <thead>
               <tr>
                  <th class="position">
                     <div class="first">#</div>
                  </th>
                  <th class="name"><%= item_header %></th>
                  <th class="quantity"><%= qty_header %></th>
                  <th class="quantity"><%= uom_header %></th>
                  <th class="money"><%= unit_price_header %></th>
                  <% if show_discounts && total_discount_price != 0.0 %>
                  <th class="quantity"><%= discount_header %> </th>
                  <th class="quantity"><%= discount_price_header %> </th>
                  <% end %>
                  <th class="money">
                     <div class="last"><%= total_excl_header %></div>
                  </th>
                  <% if use_tax_codes? %>
                  <th class="money">
                     <div class="last"><%= tax_header %></div>
                  </th>
                  <% end %>
                  <% if show_li_total_with_tax? %>
                  <th class="money">
                     <div class="last"><%= total_with_tax_header %></div>
                  </th>
                  <% end %>
               </tr>
            </thead>
            <tbody>
               <% items.each_with_index do |item, index| %>
               <tr>
                  <td class="position" rowspan="2">
                     <div class="first">
                        <%= index + 1 %>
                     </div>
                  </td>
                  <td class="name"><%= item.name %></td>
                  <td class="quantity"><%= number_with_precision(item.quantity, precision: 5, strip_insignificant_zeros: true) %></td>
                  <td class="quantity"><%= item.uom %></td>
                  <td class="money"><%= item.unit_price %></td>
                  <% if show_discounts && total_discount_price != 0.0 %>
                  <td class="quantity"><%= item.discount_percentage %> </td>
                  <td class="quantity"><%= item.unit_price_after_discount %></td>
                  <% end %>
                  <td class="money">
                     <div class="last">
                        <%= item.total_price %>
                     </div>
                  </td>
                  <% if use_tax_codes? %>
                  <td class="money">
                     <div class="last"><%= item.total_tax %></div>
                  </td>
                  <% end %>
                  <% if show_li_total_with_tax? %>
                  <td class="money">
                     <div class="last"><%= item.total_with_tax %></div>
                  </td>
                  <% end %>
               </tr>
               <tr>
                  <% if show_discounts && total_discount_price != 0.0 %>
                  <td class="description" colspan="7">
                     <% else %>
                  <td class="description" colspan="5">
                     <% end %>
                     <div class="last">
                        <% if item.table_view %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.li_grid_html_view %>
                        </div>
                        <% else %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.description %>
                        </div>
                        <% end %>
                        <% if item.show_custom_fields(item.description_hash[:custom_fields]) && item.table_view%>
                        <hr class="custom-field-separator">
                        <%= item.generate_custom_field_values(item.description_hash[:custom_fields]) %>
                        <hr class="custom-field-separator">
                        <% end %>
                        <% if item.product_picture_assets.count > 0 %>
                        <% item.product_picture_assets.each do |asset| %>
                        <img src="<%= asset.file_url %>" class="line-item-description-image">
                        <% end %>
                        <% end %>
                        <% if item.product_image %>
                        <img src="<%= item.product_image %>" class="line-item-description-image">
                        <% end %>
                        <% if item.table_view %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.li_grid_html_view(show_child_items: true) %>
                        </div>
                        <% end %>
                     </div>
                  </td>
               </tr>
               <% end %>
            </tbody>
         </table>
      </div>
      <% if has_payments? %>
      <div class="line-items">
         <!--<h2 class="title"><%= payments_header %></h2>-->
         <table>
            <thead>
               <tr>
                  <th class="position" colspan="2">
                     <div class="first">#</div>
                  </th>
                  <th class="name" colspan="2"><%= paid_on_header %></th>
                  <th class="state"><%= payment_method_header %></th>
                  <th class="money">
                     <div class="last"><%= payment_amount_header %></div>
                  </th>
               </tr>
            </thead>
            <tbody class='no-page-break'>
               <% payments.each_with_index do |payment, index| %>
               <tr>
                  <td class="position" colspan="2">
                     <div class="first">
                        <%= index + 1 %>
                     </div>
                  </td>
                  <td class="name" colspan="2"><%= payment.paid_on %></td>
                  <td class="state"><%= payment.payment_details %></td>
                  <td class="money">
                     <div class="last">
                        <%= payment.amount %>
                     </div>
                  </td>
               </tr>
               <% end %>
            </tbody>
            <!--<tfoot class="no-page-break">-->
            <!--<tr>-->
            <!--<td colspan="5" class="labels first">-->
            <!--<p><%= payment_total_header %></p>-->
            <!--<p><%= payment_balance_due_header %></p>-->
            <!--</td>-->
            <!--<td class="money last">-->
            <!--<p><%= total_paid %></p>-->
            <!--<p><%= balance %></p>-->
            <!--</td>-->
            <!--</tr>-->
            <!--</tfoot>-->
         </table>
      </div>
      <% end %>
      <% if customer_note.present? %>
      <div class="note">
         <table class="no-page-break">
            <thead>
               <tr>
                  <td><%= customer_note_header %></td>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><%= customer_note %></td>
               </tr>
            </tbody>
         </table>
      </div>
      <% end %>
      <% if internal_note.present? %>
      <div class="note">
         <table class="no-page-break">
            <thead>
               <tr>
                  <td><%= internal_note_header %></td>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><%= internal_note %></td>
               </tr>
            </tbody>
         </table>
      </div>
      <% end %>
      <% if cover_note.present? %>
      <div class="note">
         <table class="no-page-break">
            <thead>
               <tr>
                  <th><%= cover_note_header %></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><%= cover_note %></td>
               </tr>
            </tbody>
         </table>
      </div>
      <% end %>
      <!-- Signature Note -->
      <div class="footer-bottom">
         <div class="section">
            <div class="footer-bottom-left">
               <div class="terms-text">
                  <%= terms_conditions %>
               </div>
            </div>
            <div class="footer-bottom-right">
               <table>
                  <tbody>
                     <tr>
                        <td class="labels first footer-subtotal">
                           <% if has_setup_charges? %>
                           <p><strong><%= setup_charges_header %>:</strong></p>
                           <% end %>
                           <% if has_shipping_charges? %>
                           <p><strong><%= shipping_charges_header %>:</strong></p>
                           <% end %>
                           <% if has_finance_charges? %>
                           <p><strong><%= finance_charges_header %>:</strong></p>
                           <% end %>
                           <% if has_misc_charges? %>
                           <p><strong><%= misc_charges_header %>:</strong></p>
                           <% end %>
                           <p><strong><%= subtotal_header %>:</strong></p>
                           <% if show_tax  %>
                           <% if use_tax_codes? %>
                           <p><strong><%= total_tax_header %>:</strong></p>
                           <% else %>
                           <p><strong><%= total_tax_header %> (<%= tax_rate %>):</strong></p>
                           <% end %>
                           <% end %>
                           <% if coupon_code_discount_header %>
                           <p class="footer-discount"><strong><%= coupon_code_discount_header %>:</strong></p>
                           <% end %>
                           <p class="footer-total"><strong><%= final_price_header %>:</strong></p>
                           <% if show_multi_currecies %>
                           <p class="footer-total"><strong><%= final_price_header_exchange %></strong></p>
                           <% end %>
                           <% if has_payments? %>
                           <p>&nbsp;</p>
                           <p><strong><%= payment_total_header %>:</strong></p>
                           <p><strong><%= payment_balance_due_header %>:</strong></p>
                           <% if show_multi_currecies %>
                           <p><strong><%= balance_header_exchange %></strong></p>
                           <% end %>
                           <% end %>
                        </td>
                        <td class="money last footer-subtotal">
                           <% if has_setup_charges? %>
                           <p><strong><%= setup_charges %></strong></p>
                           <% end %>
                           <% if has_shipping_charges? %>
                           <p><strong><%= shipping_charges %></strong></p>
                           <% end %>
                           <% if has_finance_charges? %>
                           <p><strong><%= finance_charges %></strong></p>
                           <% end %>
                           <% if has_misc_charges? %>
                           <p><strong><%= misc_charges %></strong></p>
                           <% end %>
                           <p><strong><%= sub_total %></strong></p>
                           <% if show_tax  %>
                           <p><strong><%= total_tax %></strong></p>
                           <% end %>
                           <% if coupon_code_discount %>
                           <p class="footer-discount"><strong><%= coupon_code_discount %></strong></p>
                           <% end %>
                           <p class="footer-total"><strong><%= final_price %></strong></p>
                           <% if show_multi_currecies %>
                           <p class="footer-total"><strong><%= final_price_exchange %></strong></p>
                           <% end %>
                           <% if has_payments? %>
                           <p>&nbsp;</p>
                           <p><strong><%= paid %></strong></p>
                           <p class="footer-total"><strong><%= balance %></strong></p>
                           <% if show_multi_currecies %>
                           <p class="footer-total"><strong><%= balance_price_exchange %></strong></p>
                           <% end %>
                           <% end %>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="clearfix"></div>
         </div>
         <% if (not use_tax_codes?) and has_tax_split? and show_tax_split? %>
         <div class="split-tax">
            <h4><%= split_taxes_header %></h4>
            <table class="split-tax-table">
               <tbody>
                  <tr>
                     <% tax_split.each do |name, rate| %>
                     <th><%= name %>(<%= rate %>%)</th>
                     <td><%= tax_subtotal(rate.to_f) %></td>
                     <% end %>
                  </tr>
               </tbody>
            </table>
         </div>
         <% end %>
         <% if use_tax_codes? %>
         <div class="split-tax">
            <h4><%= tax_totals_header %></h4>
            <table class="split-tax-table">
               <tbody>
                  <tr>
                     <% tax_totals_table.each do |k, value| %>
                     <th><%= value[:name] %>(<%= value[:rate] %>%)</th>
                     <td><%= to_pdf_dollars(value[:total]) %></td>
                     <% end %>
                  </tr>
               </tbody>
            </table>
         </div>
         <% end %>
         <% if show_discounts %>
         <div>
            <table class="split-tax-table">
               <tbody>
                  <tr>
                     <% if show_range_volume_discounts %>
                     <% if total_range_discount >0 || total_volume_discount >0  %>
                     <th><b><%= total_discount %></b></th>
                     <td><%= total_discount %>(<%= total_discount_percentage %>%)</td>
                     <%end%>
                     <% if total_range_discount >0 %>
                     <th><b><%= range_discount %></b></th>
                     <td><%= total_range_discount_in_dollars %></td>
                     <%end%>
                     <% if total_volume_discount >0 %>
                     <th><b><%= volume_discount %></b></th>
                     <td><%= total_volume_discount_in_dollars %></td>
                     <%end%>
                     <% if total_discount_price != 0.0%>
                     <th><b><%= customer_discount %></b></th>
                     <td><%= total_discount_price_in_dollars %></td>
                     <%end%>
                     <%else%>
                     <% if total_discount_price != 0.0%>
                     <th><b><%= customer_discount %></b></th>
                     <td><%= total_discount_price_in_dollars %></td>
                     <%end%>
                     <%end%>
                  </tr>
               </tbody>
            </table>
         </div>
         <% end %>
         <div class="section section--border-bottom">
            <div class="signature terms">
               <table>
                  <tbody>
                     <tr>
                        <td class="handwriting text--up text--bold"><%= signature_header %>:</td>
                        <td class="date text--up text--bold"><%= date_header %>:</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </body>
</html>

