<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
      <style>
         <%= page_size %>
         .main-titles {
         position: absolute;
         top: 10px;
         right: 70px;
         border-top: 2px solid;
         border-bottom: 2px solid;
         font-size: 20px;
         font-style: italic;
         }
         .title{
         font-size: 12px; 
         font-weight: bold;
         }
         .addresses {
         padding: 5pt 5pt;
         border-bottom: 2px solid #e3e3e3;
         }
         .line-items .first {
         padding-left: 4pt;
         }

         .line-items .last {
         padding-right: 4pt;
         }
         .line-items {
          margin-top: 0pt;
         }
      </style>
   </head>
   <body>
      <div style="display:none" class="document-header">
         <%= header_text %>
      </div>
      <!-- Footer Text for Page footter-->
      <div style="display:none" class="document-footer">
         <%= footer_text %>
      </div>
      <!-- Store Address and Logo -->
      <div class="address-logo"  style="background:#fff;  border-bottom:none; margin-right: 0px; width:98%">
         <table>
            <tr>
               <td class="store-address">
                  <p class="logo" style="margin-top:-40px;margin-left:-20px;"><img class="logo" src="<%= logo %>"  width = 240></p>
                  <p><b><%= store_name %></b></p>
                  <%if store_address_street%>
                   <p><%= store_address_street %></p>
                  <%end%>
                  <%if store_address_street1%>
                   <p><%= store_address_street1 %></p>
                  <%end%>
                  <%if store_address_city%><%= store_address_city %>,<%end%> <%if store_address_state %> <%= store_address_state%><%end%>
                  <%if store_address_zip %> <%= store_address_zip%><%end%>
                  <% if store_email%>
                  <p><%=store_email%></p>
                  <%end%>
                  <% if store_phone%>
                  <p><%=store_phone%></p>
                  <%end%>  
                  <% if license_number_text(@object.account) %> 
                  <p><%= license_number_text(@object.account) %></p>
                  <%end%>
                  <% if @object.account.website %> 
                  <p><%= @object.account.website %></p>
                  <%end%>
               </td>
               <td class="summ left">
                  <div class="summary-wrapper">
                     <h1 class="main-titles"><font color="#2989CC"><b>Quote #<%= txn_number_only %></b></font> <br/>
                     </h1>
                     <div class="summary"  style="background:#fff; border-bottom: none; margin-right: 0px;">
                        <table>
                           <tr>
                              <td class="summ left">
                                 <div class="summary-wrapper">
                                    <% if project_number %>
                                    <p class="title"><%= project_header %></p>
                                    <p><%= project_number %></p>
                                    <% end %>
                                 </div>
                              </td>
                              <td class="summ right">
                                 <div class="summary-wrapper">
                                    <p class="title"><%= sales_rep_information_header %></p>
                                    <p><%= sales_rep_information %></p>
                                 </div>
                              </td>
                              <td class="summ right">
                                 <div class="summary-wrapper">
                                    <p class="title"><%= quote_date_header %></p>
                                    <p><%= quote_date %></p>
                                    <% if quote_expiry_date %>
                                    <p class="title"><%= quote_expiry_date_header %></p>
                                    <p><%= quote_expiry_date%></p>
                                    <% end %>
                                 </div>
                                 <br>
                              </td>
                              <td class="summ right">
                                 <div class="summary-wrapper">
                                    <% if po_date %>
                                    <p class="title"><%= po_number_header %></p>
                                    <p><%= po_number %></p>
                                    <% end %>
                                    <% if po_date %>
                                    <p class="title"><%= po_date_header %></p>
                                    <p><%= po_date %></p>
                                    <% end %>
                                    <br>
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td></td>
                              <td></td>
                              <td colspan ="2" style= "border:2px solid#ccc;">
                                 <p class="footer-total"><strong>TOTAL OF QUOTE: <%= final_price %></strong></p>
                              </td>
                           </tr>
                        </table>
                     </div>
                  </div>
               </td>
            </tr>
         </table>
      </div>
      <!-- Sold To, Contact Info and Shipping Address -->
      <div  style="padding:6px; border: solid 1.5px #000; background: #2989CC;width:89%; margin-left:30pt;">
         <small style="font-size:12px;"><b><%= name %></b></small>
      </div>
      <div class="addresses" style="border-bottom:none;background-color: #ccc;width: 89%;margin-left: 30pt;">
         <table>
            <tr>
               <td class="address left">
                  <div class="address-wrapper" style="border-left: 0px solid #e3e3e3;">
                     <p class="title"><%= ordered_by_header %></p>
                     <p>
                        <%= sold_to %><br />
                        <%= billing_information %>
                     </p>
                  </div>
               </td>
               <td class="address left">
                  <div class="address-wrapper">
                     <p class="title"><%= shipping_information_header %></p>
                     <p>
                        <% if shipping_address_type != 'DropShip' %>
                        <%= sold_to %><br />
                        <% end %>
                        <%= shipping_information %>
                     </p>
                     <%if shipping_tracking %>
                     <br/>
                     <p class="title"><%= shipping_tracking_header%></p>
                     <%= shipping_tracking %>
                     <% end %>
                  </div>
               </td>
               <td class="address left">
                  <div class="address-wrapper">
                     <p class="title"><%= contact_information_header %></p>
                     <p><%= contact_information %></p>
                  </div>
               </td>
            </tr>
            <% if show_about_this_desc and description.present? %>
            <tr>
               <td class="address left" colspan="3">
                  <div class="address-wrapper" style="border-top:2px solid #01090F;margin-top:6px;">
                     <p class="title" style="padding-top:5px;padding-bottom:4px;"><%= about_this_quote_header %></p>
                     <p>
                        <%= description %>
                     </p>
                  </div>
               </td>
            </tr>
            <% end %>
         </table>
      </div>
      <div class="line-items">
         <!--<h2 class="title"><%= items_header %></h2>-->
         <table style="width:90.8%; margin-left:30pt;">
            <thead>
               <tr style="border: solid 1.5px #000; background: #2989CC;">
                  <th class="position" style="font-size: 12px;color:black;">
                     <div class="first">#</div>
                  </th>
                  <th class="name" style="font-size: 12px;color:black;"><%= item_header %></th>
                  <th class="quantity" style="font-size: 12px;color:black;"><%= qty_header %></th>
                  <th class="quantity" style="font-size: 12px;color:black;"><%= uom_header %></th>
                  <th class="money" style="font-size: 12px;color:black;"><%= unit_price_header %></th>
                  <% if show_discounts && total_discount_price != 0.0 %>
                  <th class="quantity" style="font-size: 12px;color:black;"><%= discount_header %> </th>
                  <th class="quantity" style="font-size: 12px;color:black;"><%= discount_price_header %> </th>
                  <% end %>
                  <th class="money">
                     <div class="last" style="font-size: 12px;color:black;"><%= total_excl_header %></div>
                  </th>
                  <% if use_tax_codes? %>
                  <th class="money">
                     <div class="last" style="font-size: 12px;color:black;"><%= tax_header %></div>
                  </th>
                  <th class="money">
                     <div class="last" style="font-size: 12px;color:black;"><%= tax_rate_header %></div>
                  </th>
                  <% end %>
               </tr>
            </thead>
            <tbody class=''>
               <% items.each_with_index do |item, index| %>
               <% bold_main_quantity = item.quantities.present? %>
               <tr>
                  <td class="position" rowspan="<%= 2 + item.quantities.size %>">
                     <div class="first">
                        <%= index + 1 %>
                     </div>
                  </td>
                  <td rowspan="<%= 1 + item.quantities.size %>" >
                     <span class="name"><%= item.name %></span>
                     <% if bold_main_quantity && item.quantities.size > 1 %>
                     <div>
                        <% if item.table_view %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.li_grid_html_view %>
                        </div>
                        <% else %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.description %>
                        </div>
                        <% end %>
                        <% if item.show_custom_fields(item.description_hash[:custom_fields]) && item.description_hash[:custom_fields].any? && item.table_view %>
                        <hr class="custom-field-separator">
                        <%= item.generate_custom_field_values(item.description_hash[:custom_fields]) %>
                        <hr class="custom-field-separator">
                        <% end %>
                        <% if item.product_picture_assets.count > 0 %>
                        <% item.product_picture_assets.each do |asset| %>
                        <img src="<%= asset.file_url %>" class="line-item-description-image">
                        <% end %>
                        <% end %>
                        <% if item.product_image %>
                        <img src="<%= item.product_image %>" class="line-item-description-image">
                        <% end %>
                        <% if item.table_view %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.li_grid_html_view(show_child_items: true) %>
                        </div>
                        <% end %>
                     </div>
                     <% end %>
                  </td>
                  <td class="quantity <%= bold_main_quantity ? "text--bold" : "" %>"><%= number_with_precision(item.quantity, precision: 5, strip_insignificant_zeros: true) %></td>
                  <td class="quantity <%= bold_main_quantity ? "text--bold" : "" %>"><%= item.uom %></td>
                  <td class="money <%= bold_main_quantity ? "text--bold" : "" %>"><%= item.show_hide_unit_price %></td>
                  <% if show_discounts && item.has_discount? %>
                  <td class="quantity <%= bold_main_quantity ? "text--bold" : "" %>"><%= item.discount_percentage %> </td>
                  <td class="quantity <%= bold_main_quantity ? "text--bold" : "" %>"><%= item.show_hide_unit_price_after_discount %></td>
                  <% end %>
                  <% if show_discounts && (total_discount_price != 0.0 || quantities_total_discount_price != 0.0 ) && !item.has_discount? %>
                  <td class="quantity <%= bold_main_quantity ? "text--bold" : "" %>"></td>
                  <td class="quantity <%= bold_main_quantity ? "text--bold" : "" %>"></td>
                  <% end %>
                  <td class="money <%= bold_main_quantity ? "text--bold" : "" %>">
                     <div class="last"><%= item.total_price %></div>
                  </td>
                  <% if use_tax_codes? %>
                  <td class="money"><%= item.total_tax %></td>
                  <% end %>
                  <% if show_li_total_with_tax? %>
                  <td class="quantity">
                     <div class="last"><%= item.total_with_tax %></div>
                  </td>
                  <% end %>
               </tr>
               <% item.quantities.each do |line_item_quantity| %>
               <tr>
                  <td class="quantity line-item-quantity-row-padding"><%= number_with_precision(line_item_quantity[:quantity], precision: 5, strip_insignificant_zeros: true) %></td>
                  <td class="quantity line-item-quantity-row-padding"><%= item.uom %></td>
                  <td class="money line-item-quantity-row-padding"><%= line_item_quantity[:unit_price] %></td>
                  <% if show_discounts && line_item_quantity[:discount_in_cents] != 0.0 %>
                  <td class="quantity line-item-quantity-row-padding"><%= line_item_quantity[:discount_percentage] %></td>
                  <td class="quantity line-item-quantity-row-padding"><%=line_item_quantity[:unit_price_after_discount] %></td>
                  <% end %>
                  <% if show_discounts && (total_discount_price != 0.0 || quantities_total_discount_price != 0.0 ) && line_item_quantity[:discount_in_cents] == 0.0 %>
                  <td class="quantity line-item-quantity-row-padding"></td>
                  <td class="quantity line-item-quantity-row-padding"></td>
                  <% end %>
                  <td class="money line-item-quantity-row-padding">
                     <div class="last"><%= line_item_quantity[:total_price] %></div>
                  </td>
                  <% if use_tax_codes? %>
                  <td class="money line-item-quantity-row-padding"><%= line_item_quantity[:total_tax] %></td>
                  <% end %>
                  <% if show_li_total_with_tax? %>
                  <td class="money line-item-quantity-row-padding">
                     <div class="last"><%= line_item_quantity[:total_price_with_tax] %></div>
                  </td>
                  <% end %>
               </tr>
               <% end %>
               <tr>
                  <% if show_discounts && total_discount_price != 0.0 %>
                  <td class="description" colspan="7">
                     <% else %>
                  <td class="description" colspan="5">
                     <% end %>
                     <% if item.quantities.blank? %>
                     <div>
                        <% if item.table_view %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.li_grid_html_view %>
                        </div>
                        <% else %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.description %>
                        </div>
                        <% end %>
                        <% if item.show_custom_fields(item.description_hash[:custom_fields]) && item.description_hash[:custom_fields].any? && item.table_view %>
                        <hr class="custom-field-separator">
                        <%= item.generate_custom_field_values(item.description_hash[:custom_fields]) %>
                        <hr class="custom-field-separator">
                        <% end %>
                        <% if item.product_picture_assets.count > 0 %>
                        <% item.product_picture_assets.each do |asset| %>
                        <img src="<%= asset.file_url %>" class="line-item-description-image">
                        <% end %>
                        <% end %>
                        <% if item.product_image %>
                        <img src="<%= item.product_image %>" class="line-item-description-image">
                        <% end %>
                        <% if item.table_view %>
                        <div class="text--pre-line li-desc-fixed-width">
                           <%= item.li_grid_html_view(show_child_items: true) %>
                        </div>
                        <% end %>
                     </div>
                     <% end %>
                  </td>
               </tr>
               <% end %>
            </tbody>
         </table>
      </div>
      <% if customer_note.present? %>
      <div class="note">
         <table class="no-page-break">
            <thead>
               <tr>
                  <td>Customer Note:</td>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><%= customer_note %></td>
               </tr>
            </tbody>
         </table>
      </div>
      <% end %>
      <!-- Internal Note -->
      <% if internal_note.present? %>
      <div class="note">
         <table class="no-page-break">
            <thead>
               <tr>
                  <td><%= internal_note_header %></td>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><%= internal_note %></td>
               </tr>
            </tbody>
         </table>
      </div>
      <% end %>
      <!-- Cover Note -->
      <% if cover_note.present? %>
      <div class="note">
         <table class="no-page-break">
            <thead>
               <tr>
                  <td><%= cover_note_header %></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><%= cover_note %></td>
               </tr>
            </tbody>
         </table>
      </div>
      <% end %>
      <!-- Signature Note -->
      <div class="footer-bottom">
         <div class="section">
            <div class="footer-bottom-left">
               <div class="terms-text">
                  <%= terms_conditions %>
               </div>
            </div>
            <div class="footer-bottom-right">
               <table>
                  <tbody>
                     <tr>
                        <td class="labels first footer-subtotal">
                           <% if has_setup_charges? %>
                           <p><strong><%= setup_charges_header %>:</strong></p>
                           <% end %>
                           <% if has_shipping_charges? %>
                           <p><strong><%= shipping_charges_header %>:</strong></p>
                           <% end %>
                           <% if has_finance_charges? %>
                           <p><strong><%= finance_charges_header %>:</strong></p>
                           <% end %>
                           <% if has_misc_charges? %>
                           <p><strong><%= misc_charges_header %>:</strong></p>
                           <% end %>
                           <p><strong><%= subtotal_header %>:</strong></p>
                        </td>
                        <td class="money last footer-subtotal">
                           <% if has_setup_charges? %>
                           <p><strong><%= setup_charges %></strong></p>
                           <% end %>
                           <% if has_shipping_charges? %>
                           <p><strong><%= shipping_charges %></strong></p>
                           <% end %>
                           <% if has_finance_charges? %>
                           <p><strong><%= finance_charges %></strong></p>
                           <% end %>
                           <% if has_misc_charges? %>
                           <p><strong><%= misc_charges %></strong></p>
                           <% end %>
                           <p><strong><%= sub_total %></strong></p>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="clearfix"></div>
         </div>
         <% if use_tax_codes? %>
         <div class="split-tax">
            <h4>Tax Totals</h4>
            <table class="split-tax-table">
               <tbody>
                  <tr>
                     <% tax_totals_table.each do |k, value| %>
                     <th><%= value[:name] %>(<%= value[:rate] %>%)</th>
                     <td><%= to_pdf_dollars(value[:total]) %></td>
                     <% end %>
                  </tr>
               </tbody>
            </table>
         </div>
         <% end %>
         <% if show_discounts %>
         <div>
            <table class="split-tax-table">
               <tbody>
                  <tr>
                     <% if show_range_volume_discounts %>
                     <% if total_range_discount >0 || total_volume_discount >0  %>
                     <th><b style="margin-left: 33pt;">Total Discount</b></th>
                     <td><%= total_discount %>(<%= total_discount_percentage %>%)</td>
                     <%end%>
                     <% if total_range_discount >0 %>
                     <th><b>Range Disc.</b></th>
                     <td><%= total_range_discount_in_dollars %></td>
                     <%end%>
                     <% if total_volume_discount >0 %>
                     <th><b>Volume Disc.</b></th>
                     <td><%= total_volume_discount_in_dollars %></td>
                     <%end%>
                     <% if total_discount_price != 0.0%>
                     <th><b>Customer Discount</b></th>
                     <td><%= total_discount_price_in_dollars %></td>
                     <%end%>
                     <%else%>
                     <% if total_discount_price != 0.0%>
                     <th><b>Customer Discount</b></th>
                     <td><%= total_discount_price_in_dollars %></td>
                     <%end%>
                     <%end%>
                  </tr>
               </tbody>
            </table>
         </div>
         <% end %>
         <% if show_downpayment %>
         <div>
            <table class="split-tax-table">
               <tbody>
                  <tr>
                     <th><b> <%= downpayment_header %></b></th>
                     <td><%= downpayment_total %></td>
                  </tr>
               </tbody>
            </table>
         </div>
         <br/>
         <% end %>
         <div class="section section--border-bottom">
            <div class="signature terms">
               <table>
                  <tbody>
                     <tr>
                        <td class="handwriting text--up text--bold"><%= signature_header %>:</td>
                        <td class="date text--up text--bold"><%= date_header %>:</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <div style="clear:both;"></div>
      </div>
   </body>
</html>