<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <style>
      .terms-title *, .terms-text * {
          font-size:6pt !important;
      }
      <%= page_size %>
      .main-titles {
            position: absolute;
            top: 10px;
            right: 65px;
            border-top: 2px solid;
            border-bottom: 2px solid;
            font-size: 20px;
            font-style: italic;
        }
        .title{
         font-size: 12px; 
         font-weight: bold;
        }

  </style>
</head>
<body>

<div style="display:none" class="document-header">
  <%= header_text %>
</div>

<div style="display:none" class="document-footer">
  <%= footer_text %>
</div>

<div class="address-logo" style="border-bottom:none;">
  <table>
    <tr>
      <td class="store-address <%= "stamp-container" if is_paid? %>">
        <p class="logo" style="margin-top:-40px;width:260px;"><img class="logo" src="<%= logo %>"></p>
  <span style="text-align:center;margin-top:-5px;"><p style="margin-left:-90px;"><%if store_address_street%><%= store_address_street %><%end%>
  <%if store_address_street1%><%= store_address_street1 %><%end%>-
  <%if store_address_city%><%= store_address_city %>,<%end%> <%if store_address_state %> <%= store_address_state%><%end%>
  <%if store_address_zip %> <%= store_address_zip%><%end%></p>  
  <% if store_phone%><p style="margin-left:-90px;"><%=store_phone%></p><%end%>  
  <% if license_number_text(@object.account) %> <p style="margin-left:-90px;"><%= license_number_text(@object.account) %></p><%end%>
  <% if @object.account.website %> <p style="margin-left:-90px;"><%= @object.account.website %></p><%end%></span>
        <% if is_paid? %>
          <p class="stamp">
            <image src="<%= "#{Rails.root}/app/assets/images/pages/stamp-paid-big.png" %>" alt="Paid"/>
          </p>
        <% end %>
      </td>
      <td class="summ left">
        <div class="summary-wrapper">
            <h1 class="main-titles"><font color="#2989CC"><b>Invoice #<%= txn_number_only %></b></font> <br/>
            </h1>
            <div class="summary" style="background:#fff; border-bottom: none; margin-right: -75px;">
  <table>
    <tr>
      <td class="summ right">
        <div class="summary-wrapper">
          <% if project_number %>
            <p class="title"><%= project_header %></p>
            <p><%= project_number %></p>
          <% end %>
        </div>
      </td>
      <td class="summ right">
        <div class="summary-wrapper">
          <p class="title"><%= sales_rep_information_header %></p>
          <p><%= sales_rep_information %></p>
        </div>
      </td>

      <td class="summ right">
        <div class="summary-wrapper">
           <% if term_code %>
              <p class="title"><%= term_code_header %></p>
              <p><%= term_code %></p>
          <% end %>
          <% if po_number %>
              <p class="title"><%= po_number_header %></p>
              <p><%= po_number %></p>
          <% end %>

          <% if shipping_method %>
              <p class="title"><%= shipping_method_header %></p>
              <p><%= shipping_method %></p>
          <% end %>
        </div>
      </td>

      <td class="summ right">
        <div class="summary-wrapper">
       
          <p class="title"><%= invoice_date_header %></p>
          <p><%= invoice_date %></p>

          <p class="title"><%= due_date_header %></p>
          <p><%= due_date %></p>

        </div>
      </td>
    </tr>
    <tr><td><br></td></tr>
    <tr style="padding-top:5px;">
      <td></td>
      <td></td>
      <td colspan ="3" style= "border:2px solid#ccc;">
        <p class="footer-total" style="font-size: 14px;"><strong>TOTAL OF INVOICE: <%= final_price %></strong></p>
      </td>
   </tr>
  </table>
</div>
    </tr>
  </table>
</div>

<div  style="padding:6px; border: solid 1.5px #000; background: #009bdb;width:92.8%; margin-left:3%;">
  <small style="font-size:12px;"><b><%= name %></b></small>
</div>


<div class="addresses" style="border-bottom: none;margin-bottom:-12px; margin-top:-5.5px;margin-bottom:-13px;">
  <table style="background-color: #bdbdbd; padding:3px; width:103.7%;margin-left:-3%;">
    <tr>
      <td class="address left">
        <div style="padding-top:8px;padding-left:80px;">
          <p class="title" style="border-bottom:4px;"><span style="text-decoration:underline;">BILLING / INVOICE &nbsp;</span></p>

          <p><%= sold_to %></p>
          <p><%= billing_information %></p>
        </div>
      </td>
      
      <td class="address left" style="padding-left:200px;">
        <div class="address-wrapper" style="padding-top:8px;">
         <p class="title"><span style="text-decoration:underline;"><%= shipping_information_header %></span></p>
          <% if shipping_address_type != 'DropShip' %>
            <%= sold_to %><br />
          <% end %>
          <%= shipping_information %></p>
          <%if shipping_tracking %>
           <br/>
           <p class="title"><%= shipping_tracking_header%></p>
           <%= shipping_tracking %>
          <% end %>
        </div>
        <div class="address-wrapper" style="padding-top:10px;">
          <p class="title"><span style="text-decoration:underline;"><%= contact_information_header %></span></p>

          <p><%= contact_information %></p>
        </div>
      </td>
    </tr>
    <% if show_about_this_desc and description.present? %>
      <tr>
        <td class="address left" colspan="3">
          <div class="address-wrapper" style="border-top:2px solid #01090F;margin-top:6px;">
            <p class="title" style="padding-top:5px;padding-bottom:4px;"><%= about_this_invoice_header %></p>
            <p>
              <%= description %>
            </p>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>



<div class="line-items">
  <!--<h2 class="title"><%= items_header %></h2>-->
  <table style="width:97.6%; margin-left:3.1%;">
    <thead>
    <tr style="border: solid 1.5px #000; background: #009bdb;">
      <th class="position" style="font-size: 12px;color:black;">
        <div class="first">#</div>
      </th>
      <th class="name" colspan="1" style="font-size: 12px;color:black;"><%= item_header %></th>
      <th class="quantity" style="font-size: 12px;color:black;"><%= qty_header %></th>
      <th class="quantity" style="font-size: 12px;color:black;"><%= uom_header %></th>
      <th class="money" style="font-size: 12px;color:black;"><%= unit_price_header %></th>
      <% if show_discounts && total_discount_price != 0.0 %>
       <th class="quantity" style="font-size: 12px;color:black;"><%= discount_header %> </th>
       <th class="quantity" style="font-size: 12px;color:black;"><%= discount_price_header %> </th>
      <% end %>
      <th class="money">
        <div class="last" style="font-size: 12px;color:black;"><%= total_excl_header %></div>
      </th>
      <% if use_tax_codes? %>
          <th class="money">
            <div class="last" style="font-size: 12px;color:black;"><%= tax_header %></div>
          </th>
          <th class="money">
            <div class="last" style="font-size: 12px;color:black;"><%= tax_rate_header %></div>
          </th>
      <% end %>

    </tr>
    </thead>

    <tbody class=''>
    <% items.each_with_index do |item, index| %>
        <tr>
          <td class="position" rowspan="2">
            <div class="first">
              <%= index + 1 %>
            </div>
          </td>
          <td class="name" colspan="1"><%= item.name %></td>
          <td class="quantity"><%= item.quantity %></td>
          <td class="quantity"><%= item.uom %></td>
          <td class="money"><%= item.unit_price %></td>
          <% if show_discounts && total_discount_price != 0.0 %>
              <td class="quantity"><%= item.discount_percentage %> </td>
              <td class="quantity"><%= item.unit_price_after_discount %></td>
             <% end %>
          <td class="money">
            <div class="last">
              <%= item.total_price %>
            </div>
          </td>
          <% if use_tax_codes? %>
              <td class="money">
                <div class="last"><%= item.total_tax %></div>
              </td>
              <td class="money">
                <div class="last"><%= item.tax_rate %></div>
              </td>
          <% end %>
        </tr>
        <tr>
          <% if show_discounts && total_discount_price != 0.0 %>
              <td class="description" colspan="7">
          <% else %>
              <td class="description" colspan="5">
          <% end %>
          <div class="last">
            <% if item.table_view %>
              <div class="text--pre-line li-desc-fixed-width">
                <%= item.li_grid_html_view %>
              </div>
            <% else %>
              <div class="text--pre-line li-desc-fixed-width">
                <%= item.description %>
              </div>
            <% end %>
            <% if item.show_custom_fields(item.description_hash[:custom_fields])&& item.table_view %>
              <hr class="custom-field-separator">
              <% item.description_hash[:custom_fields].each do |cfv| %>
                    <% if (cfv[:value] != nil && cfv[:value] != '' && cfv[:show_custom_fields_on_customer_pdf] != false) || cfv[:field_type] == 'separator' %>
                      <%= "<strong>#{cfv[:category]}</strong><br>" if cfv[:category] != "" %>
                        <% if cfv[:field_type] == 'color' %>
                            <%= "#{cfv[:name]}: <br>" %>
                            <%= [cfv[:value_hash]].flatten.map { |c| "<span style='position:relative;top:4px;width:20px;border-radius:5px;height:20px;display:inline-block;background:#{c['hex']}'></span> #{c['name']}" }.join('<br>') %>
                        <% else %>
                            <%= "#{cfv[:name]}: #{cfv[:value]} <br>" %>
                        <% end %>
                    <% end %>
              <% end %>
              <hr class="custom-field-separator">
            <% end %>
            <div class='shipping_details'>
                <div class="text--pre-line">
                  <%= simple_format(item.shipping_details) %>
                </div>
            </div>
            <img src="<%= item.product_image %>" class="line-item-description-image">
          </div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>


<% if has_payments? %>
    <div class="line-items">
      <!--<h2 class="title"><%= payments_header %></h2>-->
      <table>
        <thead>
        <tr>
          <th class="position" colspan="2">
            <div class="first">#</div>
          </th>
          <th class="name" colspan="2"><%= paid_on_header %></th>
          <th class="state"><%= payment_method_header %></th>
          <th class="money">
            <div class="last"><%= payment_amount_header %></div>
          </th>
        </tr>
        </thead>

        <tbody class='no-page-break'>
        <% payments.each_with_index do |payment, index| %>
            <tr>
              <td class="position" colspan="2">
                <div class="first">
                  <%= index + 1 %>
                </div>
              </td>
              <td class="name" colspan="2"><%= payment.paid_on %></td>
              <td class="state"><%= payment.payment_details %></td>
              <td class="money">
                <div class="last">
                  <%= payment.amount %>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
        <!--<tfoot class="no-page-break">-->
            <!--<tr>-->
              <!--<td colspan="6" class="labels first">-->
                <!--<p><%= payment_total_header %></p>-->

                <!--<p><%= payment_balance_due_header %></p>-->
              <!--</td>-->
              <!--<td class="money last">-->
                <!--<p><%= total_paid %></p>-->

                <!--<p><%= balance %></p>-->


              <!--</td>-->
            <!--</tr>-->
        <!--</tfoot>-->
      </table>
    </div>
<% end %>

<% if has_credits? %>
    <div class="line-items">
      <h2 class="title"><%= credit_memos_header %></h2>
      <table>
        <thead>
        <tr>
          <th class="position" colspan="2">
            <div class="first">#</div>
          </th>
          <th class="name" colspan="2">
            <%= credit_memo_number %>
          </th>
          <th class="name" colspan="2">
            <%= credit_memo_date_header %>
          </th>
          <th>
            <div class="last"><%= payment_amount_header %></div>
          </th>
        </tr>
        </thead>

        <tbody class='no-page-break'>
        <% credit_memos.each_with_index do |cm, index| %>
            <tr>
              <td class="position" colspan="2">
                <div class="first">
                  <%= index + 1 %>
                </div>
              </td>
              <td class="name" colspan="2"><%= cm.txn_number %></td>
              <td class="name" colspan="2"><%= cm.credited_on %></td>
              <td class="money">
                <div class="last">
                  <%= cm.amount %>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<% end %>

<% if customer_note.present? %>
    <div class="note">
      <table class="no-page-break">
        <thead>
        <tr>
          <td>Customer Note:</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= customer_note %></td>
        </tr>
        </tbody>
      </table>
    </div>
<% end %>

<!-- Cover Note -->
<% if cover_note.present? %>
    <div class="note">
      <table class="no-page-break">
        <thead>
        <tr>
          <th><%= cover_note_header %></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= cover_note %></td>
        </tr>
        </tbody>
      </table>
    </div>
<% end %>

<!-- Signature Note -->
<div class="footer-bottom">
    <div class="section">
        <div class="footer-bottom-left">
            <div class="terms-text">
                <%= terms_conditions %>
            </div>
        </div>
        <div class="footer-bottom-right">
            <table>
                <tbody>
                <tr>
                    <td class="labels first footer-subtotal">
                      <% if has_setup_charges? %>
                          <p><strong><%= setup_charges_header %>:</strong></p>
                      <% end %>
                      <% if has_shipping_charges? %>
                          <p><strong><%= shipping_charges_header %>:</strong></p>
                      <% end %>
                      <% if has_finance_charges? %>
                          <p><strong><%= finance_charges_header %>:</strong></p>
                      <% end %>
                      <% if has_misc_charges? %>
                          <p><strong><%= misc_charges_header %>:</strong></p>
                      <% end %>
                      <p><strong><%= subtotal_header %>:</strong></p>
                      <% if show_tax  %>
                        <% if use_tax_codes? %>
                            <p><strong><%= total_tax_header %>:</strong></p>
                        <% else %>
                            <p><strong><%= total_tax_header %> (<%= tax_rate %>):</strong></p>
                        <% end %>
                      <% end %>
                      <p class="footer-total"><strong><%= final_price_header %>:</strong></p>
                      <% if has_payments? %>
                          <p>&nbsp;</p>
                          <p><strong><%= payment_total_header %>:</strong></p>
                          <p><strong><%= payment_balance_due_header %>:</strong></p>
                      <% end %>
                    </td>
                    <td class="money last footer-subtotal">
                      <% if has_setup_charges? %>
                          <p><strong><%= setup_charges %></strong></p>
                      <% end %>
                      <% if has_shipping_charges? %>
                          <p><strong><%= shipping_charges %></strong></p>
                      <% end %>
                      <% if has_finance_charges? %>
                          <p><strong><%= finance_charges %></strong></p>
                      <% end %>
                      <% if has_misc_charges? %>
                          <p><strong><%= misc_charges %></strong></p>
                      <% end %>
                      <p><strong><%= sub_total %></strong></p>
                      <% if show_tax  %>
                          <p><strong><%= total_tax %></strong></p>
                      <% end %>
                      <p class="footer-total"><strong><%= final_price %></strong></p>
                      <% if has_payments? %>
                          <p>&nbsp;</p>
                          <p><strong><%= total_paid %></strong></p>
                          <p class="footer-total"><strong><%= balance %></strong></p>
                      <% end %>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </div>
    <% if (not use_tax_codes?) and has_tax_split? and show_tax_split? %>
        <div class="split-tax">
          <h4>Split Taxes</h4>
          <table class="split-tax-table">
            <tbody>
            <tr>
              <% tax_split.each do |name, rate| %>
                  <th><%= name %>(<%= rate %>%)</th>
                  <td><%= tax_subtotal(rate.to_f) %></td>
              <% end %>
            </tr>
            </tbody>
          </table>
        </div>
    <% end %>
    <% if use_tax_codes? %>
        <div class="split-tax">
          <h4>Tax Totals</h4>
          <table class="split-tax-table">
            <tbody>
            <tr>
              <% tax_totals_table.each do |k, value| %>
                  <th><%= value[:name] %>(<%= value[:rate] %>%)</th>
                  <td><%= to_pdf_dollars(value[:total]) %></td>
              <% end %>
            </tr>
            </tbody>
          </table>
        </div>
    <% end %>
 <% if show_discounts %>
   <div>
      <table class="split-tax-table">
        <tbody>
         <tr>
          <% if show_range_volume_discounts %>
             <% if total_range_discount >0 || total_volume_discount >0  %>
                <th><b>Total Discount</b></th>
                <td><%= total_discount %>(<%= total_discount_percentage %>%)</td>
              <%end%>
             <% if total_range_discount >0 %>
                <th><b>Range Disc.</b></th>
                <td><%= total_range_discount_in_dollars %></td>
             <%end%>
             <% if total_volume_discount >0 %>
                <th><b>Volume Disc.</b></th>
                <td><%= total_volume_discount_in_dollars %></td>
             <%end%>
             <% if total_discount_price != 0.0%>
              <th><b>Customer Discount</b></th>
              <td><%= total_discount_price_in_dollars %></td>
             <%end%>
           <%else%>
             <% if total_discount_price != 0.0%>
               <th><b>Customer Discount</b></th>
               <td><%= total_discount_price_in_dollars %></td>
             <%end%>
           <%end%>
         </tr>
        </tbody>
     </table>
    </div>
  <% end %>

  <div class="section section--border-bottom">
        <div class="signature terms">
            <table>
                <tbody>
                <tr>
                    <td class="handwriting text--up text--bold"><%= signature_header %>:</td>
                    <td class="date text--up text--bold"><%= date_header %>:</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
